In [2]:
import pandas as pd
import gensim
from gensim.models import KeyedVectors
from stellargraph.data import EdgeSplitter
import networkx as nx
from sklearn.linear_model import LogisticRegressionCV

2023-02-21 21:40:21.099096: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F AVX512_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-02-21 21:40:21.253270: I tensorflow/core/util/port.cc:104] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2023-02-21 21:40:21.257711: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2023-02-21 21:40:21.257731: I tensorflow/compiler/xla/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2023-02-21 21:40:22.035119: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2023-02-21 21:40:22.035206: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2023-02-21 21:40:22.035216: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.
2023-02-21 21:40:22.774051: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2023-02-21 21:40:22.774095: W tensorflow/compiler/xla/stream_executor/cuda/cuda_driver.cc:265] failed call to cuInit: UNKNOWN ERROR (303)
2023-02-21 21:40:22.774116: I tensorflow/compiler/xla/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (lm-dep-74fd78c88-wp8c6): /proc/driver/nvidia/version does not exist
2023-02-21 21:40:22.774459: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F AVX512_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [65]:
model = gensim.models.Word2Vec.load('../lm-vol/2_10_word2vec.model')
wv = KeyedVectors.load('../lm-vol/2_10_word2vec.wordvectors', mmap='r')
G = nx.read_graphml('../lm-vol/LANL_train.graphml')
def operator_hadamard(u, v):
    return u * v
node_embeddings = (wv.vectors) 
# Define an edge splitter on the original graph:
edge_splitter_test = EdgeSplitter(G)

# Randomly sample a fraction p=0.1 of all positive links, and same number of negative links, from graph, and obtain the
# reduced graph graph_test with the sampled links removed:
graph_test, edges_train, labels_train = edge_splitter_test.train_test_split(
    p=0.99, method="global"
)
training_edges = [operator_hadamard(wv[edge[0]], wv[edge[1]]) for edge in edges_train]
clf = LogisticRegressionCV(cv=5, max_iter=1000, random_state=0).fit(training_edges, labels_train)
clf.score(training_edges, labels_train)

** Sampled 630767 positive and 630767 negative edges. **

0.9828629271981572

In [ ]:
graph_structure = (1, 3, 2)
inconclusive = 0
n = 0
with open('../lm-vol/LANL_anomalies.csv', 'a') as f:
    for chunk in pd.read_csv('../lm-vol/LANL_test.csv', header=None, chunksize=1000000):
    #     display(chunk)
        chunk_invalids = pd.DataFrame()
        client_to_ip_pred = []
        ip_to_service_pred = []
        for index, row in chunk.iterrows():
            try: 
                client_embedding = wv[(row[graph_structure[0]])]
                ip_embedding = wv[(row[graph_structure[1]])]
                service_embedding = wv[(row[graph_structure[2]])]
                client_to_ip_embedding = [operator_hadamard(client_embedding, ip_embedding)]
                ip_to_service_embedding = [operator_hadamard(ip_embedding, service_embedding)]
                client_to_ip = clf.predict_proba(client_to_ip_embedding)
                ip_to_service = clf.predict_proba(ip_to_service_embedding)
                client_to_ip_pred.append(client_to_ip[0][1])
                ip_to_service_pred.append(ip_to_service[0][1])
            except: 
                client_to_ip_pred.append(None)
                ip_to_service_pred.append(None)
                inconclusive += 1
        chunk['client_to_ip_pred'] = client_to_ip_pred
        chunk['ip_to_service_pred'] = ip_to_service_pred
        chunk_anomalies = chunk[(chunk["ip_to_service_pred"].astype(float) <= 0.1) | (chunk["client_to_ip_pred"].astype(float) <= 0.1)]
        chunk_invalids = chunk[(chunk["ip_to_service_pred"] == None) & (chunk["client_to_ip_pred"] == None)]
        display(chunk_anomalies)
        chunk_anomalies.to_csv(f)
        f.write('\n')

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
1,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1,2.836545e-19,2.836545e-19
247,2,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C3896,C586,NTLM,Network,LogOn,Success,1,5.435832e-02,5.435832e-02
266,2,C1073$@DOM1,SYSTEM@C1073,C1073,C1073,Negotiate,Service,LogOn,Success,1,6.905511e-02,9.977471e-01
359,2,C1450$@DOM1,SYSTEM@C1450,C1450,C1450,Negotiate,Service,LogOn,Success,1,1.611128e-02,9.685317e-01
417,2,C1976$@DOM1,SYSTEM@C1976,C1976,C1976,Negotiate,Service,LogOn,Success,1,8.053970e-02,9.129982e-01
...,...,...,...,...,...,...,...,...,...,...,...,...
999809,10207,C123$@DOM1,C123$@DOM1,C527,C625,Kerberos,Network,LogOn,Success,1,3.111875e-02,3.111875e-02
999847,10207,C3756$@DOM1,C3756$@DOM1,C3756,TGT,?,?,TGS,Success,1,2.990570e-02,2.990570e-02
999859,10207,C4241$@DOM1,C4241$@DOM1,C4241,C528,Kerberos,Network,LogOn,Success,1,5.771005e-02,5.771005e-02
999889,10207,U281@DOM1,U281@DOM1,C1063,C625,Kerberos,Network,LogOn,Success,1,3.965483e-02,3.965483e-02
999922,10208,C123$@DOM1,C123$@DOM1,C527,C625,Kerberos,Network,LogOn,Success,1,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
1000019,10209,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C2719,C586,NTLM,Network,LogOn,Success,1,2.606757e-02,2.606757e-02
1000020,10209,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1,2.836545e-19,2.836545e-19
1000021,10209,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,1,2.821142e-16,2.821142e-16
1000033,10209,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,1,3.111875e-02,3.111875e-02
1000123,10210,C123$@DOM1,C123$@DOM1,C527,C1065,Kerberos,Network,LogOn,Success,1,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
1999878,20375,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,1,3.111875e-02,3.111875e-02
1999879,20375,C123$@DOM1,C123$@DOM1,C527,C529,Kerberos,Network,LogOn,Success,1,3.111875e-02,3.111875e-02
1999942,20375,U1733@DOM1,U1733@DOM1,C5850,C2327,?,?,TGS,Success,1,7.706725e-02,7.706725e-02
1999943,20375,U1733@DOM1,U1733@DOM1,C5850,C5850,?,?,TGT,Success,1,7.706725e-02,7.706725e-02
1999967,20376,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
2000045,20376,U1733@DOM1,U1733@DOM1,C5850,C2327,?,?,TGS,Success,1,7.706725e-02,7.706725e-02
2000046,20376,U1733@DOM1,U1733@DOM1,C5850,C5850,?,?,TGT,Success,1,7.706725e-02,7.706725e-02
2000066,20377,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1,2.836545e-19,2.836545e-19
2000073,20377,C123$@DOM1,C123$@DOM1,C527,C529,Kerberos,Network,LogOn,Success,1,3.111875e-02,3.111875e-02
2000074,20377,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,1,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
2999887,26606,U1685@DOM1,U1685@DOM1,C529,C529,?,Network,LogOff,Success,1,2.749932e-02,2.749932e-02
2999901,26606,U3091@DOM1,U3091@DOM1,C3750,C1065,?,?,TGS,Success,1,5.647916e-02,5.647916e-02
2999956,26607,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,1,8.572672e-19,8.572672e-19
2999958,26607,ANONYMOUS LOGON@C754,ANONYMOUS LOGON@C754,C754,C754,?,Network,LogOff,Success,1,4.021694e-19,4.021694e-19
2999982,26607,C1832$@DOM1,C1832$@DOM1,C1832,C625,Kerberos,Network,LogOn,Success,1,6.077837e-02,6.077837e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
3000068,26607,C8137$@DOM1,C8137$@DOM1,C8137,C231,Kerberos,Network,LogOn,Success,1,8.241153e-02,8.241153e-02
3000069,26607,C8137$@DOM1,C8137$@DOM1,C8137,C706,Kerberos,Network,LogOn,Success,1,8.241153e-02,8.241153e-02
3000077,26607,C8557$@DOM1,C8557$@DOM1,C8557,C625,Kerberos,Network,LogOn,Success,1,5.560019e-02,5.560019e-02
3000082,26607,C8613$@DOM1,C8613$@DOM1,C8613,C231,?,?,TGS,Success,1,5.149835e-02,5.149835e-02
3000083,26607,C8613$@DOM1,C8613$@DOM1,C8613,C231,Kerberos,Network,LogOn,Success,1,5.149835e-02,5.149835e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
3999889,30320,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,1,3.578713e-17,3.578713e-17
3999893,30320,ANONYMOUS LOGON@C754,ANONYMOUS LOGON@C754,C754,C754,?,Network,LogOff,Success,1,4.021694e-19,4.021694e-19
3999923,30320,C11656$@DOM1,C11656$@DOM1,C231,C231,?,Network,LogOff,Success,1,2.235674e-02,2.235674e-02
3999938,30320,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,1,3.111875e-02,3.111875e-02
3999974,30320,C12745$@DOM1,C12745$@DOM1,C12745,C528,?,?,TGS,Success,1,4.987001e-02,4.987001e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
4000117,30320,U1653@DOM1,U1653@DOM1,C754,C754,?,Network,LogOff,Success,1,1.320976e-13,1.320976e-13
4000119,30320,U1718@?,U1718@?,C5787,C6495,NTLM,Network,LogOn,Fail,1,4.100460e-03,4.100460e-03
4000218,30321,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1,2.836545e-19,2.836545e-19
4000253,30321,C123$@DOM1,C123$@DOM1,C527,C523,Kerberos,Network,LogOn,Success,1,3.111875e-02,3.111875e-02
4000444,30322,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,1,3.790263e-20,3.790263e-20
...,...,...,...,...,...,...,...,...,...,...,...,...
4999650,34009,C5194$@DOM1,C5194$@DOM1,C5194,C528,Kerberos,Network,LogOn,Success,1,9.137759e-02,9.137759e-02
4999651,34009,C5194$@DOM1,C5194$@DOM1,C5194,TGT,?,?,TGS,Success,1,9.137759e-02,9.137759e-02
4999810,34009,U838@DOM1,U838@DOM1,C4525,C467,Kerberos,Network,LogOn,Success,1,8.675935e-02,8.675935e-02
4999821,34010,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C12185,C586,NTLM,Network,LogOn,Success,1,4.816970e-02,4.816970e-02
4999822,34010,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
5000003,34011,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,1,8.572672e-19,8.572672e-19
5000011,34011,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1,2.836545e-19,2.836545e-19
5000017,34011,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,1,2.821142e-16,2.821142e-16
5000057,34011,C123$@DOM1,C123$@DOM1,C527,C523,Kerberos,Network,LogOn,Success,1,3.111875e-02,3.111875e-02
5000058,34011,C123$@DOM1,C123$@DOM1,C527,C988,Kerberos,Network,LogOn,Success,1,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
5999753,37977,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C14714,C586,NTLM,Network,LogOn,Success,1,3.715497e-03,3.715497e-03
5999754,37977,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1,2.836545e-19,2.836545e-19
5999989,37978,ANONYMOUS LOGON@C2651,ANONYMOUS LOGON@C2651,C2651,C2651,?,Network,LogOff,Success,1,7.182936e-02,7.182936e-02
5999992,37978,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C14714,C586,NTLM,Network,LogOn,Success,1,3.715497e-03,3.715497e-03
5999994,37978,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
6000026,37978,C15018$@DOM1,C15018$@DOM1,C15018,C467,Kerberos,Network,LogOn,Success,1,8.613301e-02,8.613301e-02
6000052,37978,C3237$@DOM1,C3237$@DOM1,C3237,C612,Kerberos,Network,LogOn,Success,1,9.100461e-02,9.100461e-02
6000154,37978,U2756@DOM1,U2756@DOM1,C7699,TGT,?,?,TGS,Success,1,5.151432e-02,5.151432e-02
6000243,37979,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1,2.836545e-19,2.836545e-19
6000255,37979,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,1,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
6999900,42072,U4004@DOM1,U4004@DOM1,C10347,C10347,?,?,TGT,Success,1,6.779064e-02,6.779064e-02
6999901,42072,U4004@DOM1,U4004@DOM1,C10347,C2327,?,?,TGS,Success,1,6.779064e-02,6.779064e-02
6999952,42073,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,1,3.790263e-20,3.790263e-20
6999954,42073,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,1,1.883311e-17,1.883311e-17
6999955,42073,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
7000109,42073,U1192@DOM1,U1192@DOM1,C3928,C5716,?,?,TGS,Success,1,2.978849e-02,2.978849e-02
7000129,42073,U1733@DOM1,U1733@DOM1,C5850,C2327,?,?,TGS,Success,1,7.706725e-02,7.706725e-02
7000130,42073,U1733@DOM1,U1733@DOM1,C5850,C5850,?,?,TGT,Success,1,7.706725e-02,7.706725e-02
7000178,42073,U6910@DOM1,C1337$@DOM1,C1337,C1337,?,?,AuthMap,Success,1,9.766719e-01,9.807943e-02
7000194,42074,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,1,3.790263e-20,3.790263e-20
...,...,...,...,...,...,...,...,...,...,...,...,...
7999711,46381,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,1,1.883311e-17,1.883311e-17
7999713,46381,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1,2.836545e-19,2.836545e-19
7999851,46382,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,1,2.598007e-17,2.598007e-17
7999859,46382,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1,2.836545e-19,2.836545e-19
7999860,46382,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,1,3.578713e-17,3.578713e-17

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
8000050,46383,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1,2.836545e-19,2.836545e-19
8000223,46384,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1,2.836545e-19,2.836545e-19
8000225,46384,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,1,2.821142e-16,2.821142e-16
8000254,46384,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,1,3.111875e-02,3.111875e-02
8000352,46384,C9096$@DOM1,C9096$@DOM1,C9096,C612,Kerberos,Network,LogOn,Success,1,4.497789e-03,4.497789e-03
...,...,...,...,...,...,...,...,...,...,...,...,...
8999986,50503,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,1,8.572672e-19,8.572672e-19
8999987,50503,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,1,1.883311e-17,1.883311e-17
8999989,50503,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,1,1.548829e-17,1.548829e-17
8999990,50503,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1,2.836545e-19,2.836545e-19
8999991,50503,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,1,3.578713e-17,3.578713e-17

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
9000003,50503,C1236$@DOM1,C1236$@DOM1,C1236,C467,NTLM,Network,LogOn,Success,1,2.274722e-02,2.274722e-02
9000044,50503,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,1,8.804721e-02,8.804721e-02
9000051,50503,C4405$@DOM1,C4405$@DOM1,C4405,C1065,Kerberos,Network,LogOn,Success,1,6.837416e-02,6.837416e-02
9000164,50504,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,1,1.883311e-17,1.883311e-17
9000167,50504,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C2719,C586,NTLM,Network,LogOn,Success,1,2.606757e-02,2.606757e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
9999589,54656,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1,2.836545e-19,2.836545e-19
9999622,54656,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,1,3.111875e-02,3.111875e-02
9999844,54657,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,1,1.883311e-17,1.883311e-17
9999895,54657,C1640$@DOM1,C1640$@DOM1,C2109,C529,Kerberos,Network,LogOn,Success,1,1.181980e-05,1.181980e-05
9999938,54657,C5080$@DOM1,C5080$@DOM1,C5080,C625,Kerberos,Network,LogOn,Success,1,4.526884e-02,4.526884e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
10000066,54657,U5594@DOM1,U5594@DOM1,C3443,C3443,?,Network,LogOff,Success,1,6.230855e-03,6.230855e-03
10000100,54658,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1,2.836545e-19,2.836545e-19
10000102,54658,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C9051,C586,NTLM,Network,LogOn,Success,1,1.916906e-02,1.916906e-02
10000133,54658,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,1,3.111875e-02,3.111875e-02
10000194,54658,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,1,8.804721e-02,8.804721e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
10999853,58823,C123$@DOM1,C123$@DOM1,C527,C523,Kerberos,Network,LogOn,Success,1,3.111875e-02,3.111875e-02
10999863,58823,C13181$@DOM1,C13181$@DOM1,C13181,C1065,Kerberos,Network,LogOn,Success,1,9.396623e-02,9.396623e-02
10999917,58823,C3967$@DOM1,C3967$@DOM1,C3967,C528,Kerberos,Network,LogOn,Success,1,4.844387e-02,4.844387e-02
10999918,58823,C4135$@DOM1,C4135$@DOM1,C4135,C529,Kerberos,Network,LogOn,Success,1,4.265128e-03,4.265128e-03
10999922,58823,C482$@DOM1,C482$@DOM1,C1065,C1065,?,Network,LogOff,Success,1,9.495199e-02,9.495199e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
11000028,58824,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1,2.836545e-19,2.836545e-19
11000040,58824,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,1,3.111875e-02,3.111875e-02
11000041,58824,C123$@DOM1,C123$@DOM1,C527,C988,Kerberos,Network,LogOn,Success,1,3.111875e-02,3.111875e-02
11000216,58824,U5946@DOM1,U5946@DOM1,C15905,C528,?,?,TGS,Success,1,7.366380e-02,7.366380e-02
11000237,58825,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,1,8.572672e-19,8.572672e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
11999874,63568,C932$@DOM1,C932$@DOM1,C932,C612,Kerberos,Network,LogOn,Success,1,8.962156e-02,8.962156e-02
11999912,63569,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,1,1.883311e-17,1.883311e-17
11999914,63569,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1,2.836545e-19,2.836545e-19
11999930,63569,C123$@DOM1,C123$@DOM1,C527,C529,?,?,TGS,Success,1,3.111875e-02,3.111875e-02
11999973,63569,C2408$@DOM1,C2408$@DOM1,C2408,C2408,?,Network,LogOff,Success,1,7.686321e-02,7.686321e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
12000064,63570,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1,2.836545e-19,2.836545e-19
12000067,63570,ANONYMOUS LOGON@C754,ANONYMOUS LOGON@C754,C754,C754,?,Network,LogOff,Success,1,4.021694e-19,4.021694e-19
12000083,63570,C123$@DOM1,C123$@DOM1,C527,C1065,?,?,TGS,Success,1,3.111875e-02,3.111875e-02
12000084,63570,C123$@DOM1,C123$@DOM1,C527,C529,Kerberos,Network,LogOn,Success,1,3.111875e-02,3.111875e-02
12000108,63570,C1640$@DOM1,C1640$@DOM1,C2109,C612,Kerberos,Network,LogOn,Success,1,1.181980e-05,1.181980e-05
...,...,...,...,...,...,...,...,...,...,...,...,...
12999883,69295,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1,2.836545e-19,2.836545e-19
12999903,69295,C123$@DOM1,C123$@DOM1,C527,C528,Kerberos,Network,LogOn,Success,1,3.111875e-02,3.111875e-02
12999916,69295,C13530$@DOM1,C13530$@DOM1,C13530,C13530,?,Network,LogOff,Success,1,4.684913e-02,4.684913e-02
12999917,69295,C13530$@DOM1,C13530$@DOM1,C13530,C13530,Kerberos,Network,LogOn,Success,1,4.684913e-02,4.684913e-02
12999976,69295,C4343$@DOM1,C4343$@DOM1,C4343,C457,?,?,TGS,Success,1,3.978273e-02,3.978273e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
13000097,69296,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,1,3.578713e-17,3.578713e-17
13000099,69296,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,1,2.821142e-16,2.821142e-16
13000110,69296,C123$@DOM1,C123$@DOM1,C527,C625,Kerberos,Network,LogOn,Success,1,3.111875e-02,3.111875e-02
13000115,69296,C12958$@DOM1,C12958$@DOM1,C12958,C625,Kerberos,Network,LogOn,Success,1,3.390016e-02,3.390016e-02
13000169,69296,C2981$@DOM1,C2981$@DOM1,C2981,C586,Kerberos,Network,LogOn,Success,1,6.769865e-02,6.769865e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
13999858,75537,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,1,3.578713e-17,3.578713e-17
13999916,75537,C4511$@DOM1,C4511$@DOM1,C4511,C4511,Kerberos,Network,LogOn,Success,1,9.547989e-03,9.547989e-03
13999917,75537,C4511$@DOM1,C4511$@DOM1,C4511,C528,Kerberos,Network,LogOn,Success,1,9.547989e-03,9.547989e-03
13999918,75537,C4511$@DOM1,C4511$@DOM1,C4511,C529,Kerberos,Network,LogOn,Success,1,9.547989e-03,9.547989e-03
13999919,75537,C4511$@DOM1,C4511$@DOM1,C4511,C625,Kerberos,Network,LogOn,Success,1,9.547989e-03,9.547989e-03

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
14000006,75538,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,1,1.883311e-17,1.883311e-17
14000008,75538,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,1,1.548829e-17,1.548829e-17
14000013,75538,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1,2.836545e-19,2.836545e-19
14000050,75538,C1648$@DOM1,C1648$@DOM1,C1648,C1648,?,?,TGT,Success,1,8.914224e-02,8.914224e-02
14000051,75538,C1648$@DOM1,C1648$@DOM1,C1648,TGT,?,?,TGS,Success,1,8.914224e-02,8.914224e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
14999648,81716,C9359$@DOM1,C9359$@DOM1,C9359,C528,Kerberos,Network,LogOn,Success,1,4.633053e-02,4.633053e-02
14999709,81717,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,1,8.572672e-19,8.572672e-19
14999710,81717,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,1,2.598007e-17,2.598007e-17
14999711,81717,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,1,1.548829e-17,1.548829e-17
14999937,81718,C623$@DOM1,C623$@DOM1,C623,C625,Kerberos,Network,LogOn,Success,1,5.291922e-02,5.291922e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
15000067,81719,C5218$@DOM1,C5218$@DOM1,C5218,TGT,?,?,TGS,Success,1,8.434568e-02,8.434568e-02
15000193,81720,C3261$@DOM1,C3261$@DOM1,C3261,C586,Kerberos,Network,LogOn,Success,1,6.351491e-02,6.351491e-02
15000291,81721,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1,2.836545e-19,2.836545e-19
15000312,81721,C123$@DOM1,C123$@DOM1,C527,C523,Kerberos,Network,LogOn,Success,1,3.111875e-02,3.111875e-02
15000313,81721,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,1,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
15999798,87906,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C3896,C586,NTLM,Network,LogOn,Success,2,5.435832e-02,5.435832e-02
15999799,87906,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
15999803,87906,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,2,2.821142e-16,2.821142e-16
15999823,87906,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02
15999841,87906,C14732$@DOM1,C14732$@DOM1,C14732,C625,Kerberos,Network,LogOn,Success,2,3.419171e-02,3.419171e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
16000010,87907,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
16000032,87907,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02
16000165,87908,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,2,1.548829e-17,1.548829e-17
16000168,87908,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
16000182,87908,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
16999950,94150,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,2,1.548829e-17,1.548829e-17
16999951,94150,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C27137,C586,NTLM,Network,LogOn,Success,2,4.498335e-02,4.498335e-02
16999954,94150,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
16999960,94150,C10811$@DOM1,C10811$@DOM1,C10811,C586,Kerberos,Network,LogOn,Success,2,1.781750e-02,1.781750e-02
16999989,94150,C123$@DOM1,C123$@DOM1,C527,C988,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
17000028,94150,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,2,8.804721e-02,8.804721e-02
17000048,94150,C4531$@DOM1,C4531$@DOM1,C4531,C528,Kerberos,Network,LogOn,Success,2,1.077286e-02,1.077286e-02
17000158,94151,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,2,4.464676e-18,4.464676e-18
17000159,94151,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,2,3.790263e-20,3.790263e-20
17000161,94151,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,2,2.598007e-17,2.598007e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
17999936,100464,U676@DOM1,U676@DOM1,C1797,C1640,?,?,TGS,Success,2,1.144741e-06,1.144741e-06
17999937,100464,U676@DOM1,U676@DOM1,C1797,C467,Kerberos,Network,LogOn,Success,2,1.144741e-06,1.144741e-06
17999940,100465,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,2,3.790263e-20,3.790263e-20
17999943,100465,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
17999956,100465,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
18000090,100465,U676@DOM1,U676@DOM1,C1797,C529,Kerberos,Network,LogOn,Success,2,1.144741e-06,1.144741e-06
18000093,100466,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,2,3.790263e-20,3.790263e-20
18000095,100466,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
18000104,100466,C13661$@DOM1,C13661$@DOM1,C13661,C529,Kerberos,Network,LogOn,Success,2,9.544250e-02,9.544250e-02
18000182,100466,C6763$@DOM1,C6763$@DOM1,C6763,C612,Kerberos,Network,LogOn,Success,2,5.811728e-02,5.811728e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
18999801,106648,C15099$@DOM1,C15099$@DOM1,C15099,C467,Kerberos,Network,LogOn,Success,2,5.117788e-02,5.117788e-02
18999833,106648,C4405$@DOM1,C4405$@DOM1,C4405,C1065,Kerberos,Network,LogOn,Success,2,6.837416e-02,6.837416e-02
18999837,106648,C459$@DOM1,C459$@DOM1,C459,C612,Kerberos,Network,LogOn,Success,2,6.856154e-02,6.856154e-02
18999922,106649,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C3928,C457,NTLM,Network,LogOn,Success,2,1.469812e-03,1.469812e-03
18999975,106649,C4405$@DOM1,C4405$@DOM1,C4405,TGT,?,?,TGS,Success,2,6.837416e-02,6.837416e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
19000057,106650,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C3896,C586,NTLM,Network,LogOn,Success,2,5.435832e-02,5.435832e-02
19000058,106650,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
19000059,106650,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C743,C586,NTLM,Network,LogOn,Success,2,1.223668e-19,1.223668e-19
19000061,106650,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,2,3.578713e-17,3.578713e-17
19000235,106651,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,2,8.572672e-19,8.572672e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
19999979,112252,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,2,1.548829e-17,1.548829e-17
19999980,112252,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C561,C529,NTLM,Network,LogOn,Success,2,1.397907e-08,1.397907e-08
19999985,112252,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
19999986,112252,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C6832,C586,NTLM,Network,LogOn,Success,2,2.221412e-02,2.221412e-02
19999993,112252,C10484$@DOM1,C10484$@DOM1,C10484,C586,Kerberos,Network,LogOn,Success,2,8.852155e-02,8.852155e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
20000459,112254,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,2,1.548829e-17,1.548829e-17
20000460,112254,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C1186,C586,NTLM,Network,LogOn,Success,2,9.482772e-02,9.482772e-02
20000462,112254,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
20000499,112254,C14757$@DOM1,C14757$@DOM1,C14757,C612,Kerberos,Network,LogOn,Success,2,6.346286e-02,6.346286e-02
20000506,112254,C16268$@DOM1,C16268$@DOM1,C16268,C529,Kerberos,Network,LogOn,Success,2,5.132488e-02,5.132488e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
20999824,116376,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,2,8.804721e-02,8.804721e-02
20999877,116376,C7904$@DOM1,C7904$@DOM1,C7904,C528,Kerberos,Network,LogOn,Success,2,4.012778e-02,4.012778e-02
20999957,116376,U5375@DOM1,U5375@DOM1,C12580,C2106,Kerberos,Network,LogOn,Success,2,9.280353e-02,9.280353e-02
20999993,116376,U7697@DOM1,U7697@DOM1,C16756,C16756,?,CachedInteractive,LogOff,Success,2,6.570801e-02,6.570801e-02
20999994,116376,U7697@DOM1,U7697@DOM1,C16756,C16756,Negotiate,Interactive,LogOn,Success,2,6.570801e-02,6.570801e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
21000005,116377,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,2,4.464676e-18,4.464676e-18
21000006,116377,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,2,3.790263e-20,3.790263e-20
21000011,116377,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
21000035,116377,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02
21000036,116377,C123$@DOM1,C123$@DOM1,C527,C1065,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
21999795,120242,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,2,8.572672e-19,8.572672e-19
21999802,120242,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
21999804,120242,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,2,3.578713e-17,3.578713e-17
21999805,120242,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,2,2.821142e-16,2.821142e-16
21999824,120242,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
22000032,120242,U6878@DOM1,U6878@DOM1,C5315,C5315,?,?,TGS,Success,2,1.962366e-04,1.962366e-04
22000033,120242,U6878@DOM1,U6878@DOM1,C5315,C5315,?,?,TGT,Success,2,1.962366e-04,1.962366e-04
22000050,120243,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,2,2.598007e-17,2.598007e-17
22000052,120243,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,2,1.548829e-17,1.548829e-17
22000054,120243,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
22999770,124088,C1640$@DOM1,C1640$@DOM1,C2109,C529,Kerberos,Network,LogOn,Success,2,1.181980e-05,1.181980e-05
22999814,124088,C4509$@DOM1,C4509$@DOM1,C4509,C457,Kerberos,Network,LogOn,Success,2,8.749726e-02,8.749726e-02
22999840,124088,C644$@DOM1,C644$@DOM1,C644,C467,Kerberos,Network,LogOn,Success,2,7.430588e-02,7.430588e-02
22999993,124089,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,2,8.572672e-19,8.572672e-19
22999994,124089,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C585,C529,NTLM,Network,LogOn,Success,2,2.151888e-14,2.151888e-14

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
23000000,124089,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
23000041,124089,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02
23000042,124089,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02
23000091,124089,C17133$@DOM1,U2048@DOM1,C17133,C17133,Negotiate,Unlock,LogOn,Success,2,7.783084e-01,3.857669e-04
23000127,124089,C4167$@DOM1,C4167$@DOM1,C231,C231,?,Network,LogOff,Success,2,2.844004e-02,2.844004e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
23999838,128008,C8692$@DOM1,C8692$@DOM1,C8693,C625,Kerberos,Network,LogOn,Success,2,4.838922e-02,4.838922e-02
23999927,128009,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,2,3.790263e-20,3.790263e-20
23999930,128009,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,2,1.548829e-17,1.548829e-17
23999931,128009,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
23999976,128009,C14190$@DOM1,C14190$@DOM1,C14190,C467,Kerberos,Network,LogOn,Success,2,1.276800e-02,1.276800e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
24000230,128010,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,2,8.572672e-19,8.572672e-19
24000231,128010,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,2,1.883311e-17,1.883311e-17
24000234,128010,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
24000261,128010,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02
24000262,128010,C123$@DOM1,C123$@DOM1,C527,C586,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
24999872,132023,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
24999876,132023,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,2,3.578713e-17,3.578713e-17
24999877,132023,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C1821,C625,NTLM,Network,LogOn,Success,2,7.902234e-12,7.902234e-12
24999907,132023,C123$@DOM1,C123$@DOM1,C527,C1065,?,?,TGS,Success,2,3.111875e-02,3.111875e-02
24999908,132023,C123$@DOM1,C123$@DOM1,C527,C523,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
25000068,132023,U2236@DOM1,U2236@DOM1,C6623,C10,?,?,TGS,Success,2,1.548250e-02,1.548250e-02
25000171,132024,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,2,8.572672e-19,8.572672e-19
25000174,132024,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
25000197,132024,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02
25000198,132024,C123$@DOM1,C123$@DOM1,C527,C988,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
25999757,135933,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
25999760,135933,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,2,2.821142e-16,2.821142e-16
25999792,135933,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02
25999867,135933,C2408$@DOM1,C2408$@DOM1,C2408,C612,Kerberos,Network,LogOn,Success,2,7.686321e-02,7.686321e-02
25999885,135933,C3707$@DOM1,C3707$@DOM1,C3707,C528,Kerberos,Network,LogOn,Success,2,3.541667e-02,3.541667e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
26000056,135934,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,2,2.598007e-17,2.598007e-17
26000092,135934,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02
26000248,135935,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,2,4.464676e-18,4.464676e-18
26000252,135935,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,2,8.572672e-19,8.572672e-19
26000256,135935,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
26999911,139765,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,2,1.548829e-17,1.548829e-17
26999914,139765,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
26999918,139765,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,2,3.578713e-17,3.578713e-17
26999952,139765,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02
26999953,139765,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
27000005,139765,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,2,8.804721e-02,8.804721e-02
27000142,139765,U3522@DOM1,C8761$@DOM1,C8761,C8761,?,?,AuthMap,Success,2,9.478761e-02,9.556695e-01
27000143,139765,U3522@DOM1,U3522@DOM1,C8761,C8761,Negotiate,Unlock,LogOn,Success,2,9.478761e-02,9.478761e-02
27000191,139766,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C150,C586,NTLM,Network,LogOn,Success,2,9.612858e-02,9.612858e-02
27000192,139766,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
27999878,143582,C4509$@DOM1,C4509$@DOM1,C4509,TGT,?,?,TGS,Success,2,8.749726e-02,8.749726e-02
27999880,143582,C4539$@DOM1,C4539$@DOM1,C4539,C612,Kerberos,Network,LogOn,Success,2,5.787983e-02,5.787983e-02
27999945,143582,U1206@DOM1,U1206@DOM1,C1214,C1065,Kerberos,Network,LogOn,Success,2,7.459285e-02,7.459285e-02
27999946,143582,U1206@DOM1,U1206@DOM1,C1214,C528,Kerberos,Network,LogOn,Success,2,7.459285e-02,7.459285e-02
27999947,143582,U1206@DOM1,U1206@DOM1,C1214,C529,Kerberos,Network,LogOn,Success,2,7.459285e-02,7.459285e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
28000051,143583,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
28000099,143583,C13302$@DOM1,C13302$@DOM1,C13303,C586,Kerberos,Network,LogOn,Success,2,6.125678e-02,6.125678e-02
28000134,143583,C1804$@DOM1,C1804$@DOM1,C1804,C1804,?,Network,LogOff,Success,2,9.716611e-03,9.716611e-03
28000222,143583,C9825$@DOM1,C9825$@DOM1,C9825,C529,Kerberos,Network,LogOn,Success,2,4.338087e-02,4.338087e-02
28000232,143583,U1206@DOM1,U1206@DOM1,C1214,C529,Kerberos,Network,LogOn,Success,2,7.459285e-02,7.459285e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
28999813,147770,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02
28999946,147771,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,2,8.572672e-19,8.572672e-19
28999947,147771,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,2,1.883311e-17,1.883311e-17
28999951,147771,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
28999977,147771,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
29000142,147771,U6567@DOM1,U6567@DOM1,C10614,C10614,?,CachedInteractive,LogOff,Success,2,2.417976e-06,2.417976e-06
29000148,147772,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,2,4.464676e-18,4.464676e-18
29000150,147772,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,2,2.598007e-17,2.598007e-17
29000152,147772,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,2,1.548829e-17,1.548829e-17
29000153,147772,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C10716,C586,NTLM,Network,LogOn,Success,2,1.757130e-03,1.757130e-03
...,...,...,...,...,...,...,...,...,...,...,...,...
29999708,152802,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,2,8.572672e-19,8.572672e-19
29999711,152802,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
29999738,152802,C123$@DOM1,C123$@DOM1,C527,C457,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02
29999911,152803,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,2,1.883311e-17,1.883311e-17
29999912,152803,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
30000070,152804,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
30000156,152804,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,2,8.804721e-02,8.804721e-02
30000253,152805,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,2,1.883311e-17,1.883311e-17
30000255,152805,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
30000422,152805,U6870@DOM1,U6870@DOM1,C5530,C528,Kerberos,Network,LogOn,Success,2,4.314045e-02,4.314045e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
30999717,158746,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
30999726,158746,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02
30999727,158746,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02
30999933,158747,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
30999963,158747,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
31000159,158748,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,2,4.464676e-18,4.464676e-18
31000163,158748,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,2,1.548829e-17,1.548829e-17
31000165,158748,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
31000254,158748,C3237$@DOM1,C3237$@DOM1,C3237,C457,Kerberos,Network,LogOn,Success,2,9.100461e-02,9.100461e-02
31000260,158748,C3969$@DOM1,C3969$@DOM1,C3970,C612,Kerberos,Network,LogOn,Success,2,3.859382e-02,3.859382e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
31999907,164818,U245@DOM1,U245@DOM1,C2816,C457,?,?,TGS,Success,2,7.568047e-02,7.568047e-02
31999908,164818,U245@DOM1,U245@DOM1,C2816,C457,Kerberos,Network,LogOn,Success,2,7.568047e-02,7.568047e-02
31999946,164819,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,2,4.464676e-18,4.464676e-18
31999950,164819,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
31999952,164819,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,2,3.578713e-17,3.578713e-17

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
32000139,164820,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
32000153,164820,C123$@DOM1,C123$@DOM1,C527,C523,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02
32000168,164820,C1515$@DOM1,C1515$@DOM1,C1515,C586,Kerberos,Network,LogOn,Success,2,6.097062e-02,6.097062e-02
32000265,164821,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
32000299,164821,C14332$@DOM1,C14332$@DOM1,C14332,C1065,Kerberos,Network,LogOn,Success,2,8.822723e-03,8.822723e-03
...,...,...,...,...,...,...,...,...,...,...,...,...
32999846,170854,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
32999864,170854,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,2,3.111875e-02,3.111875e-02
32999926,170854,C623$@DOM1,C623$@DOM1,C623,C625,Kerberos,Network,LogOn,Success,2,5.291922e-02,5.291922e-02
32999989,170855,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,2,4.464676e-18,4.464676e-18
32999991,170855,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
33000100,170856,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,2,2.598007e-17,2.598007e-17
33000101,170856,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C3108,C586,NTLM,Network,LogOn,Success,2,2.371216e-07,2.371216e-07
33000103,170856,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,2,2.836545e-19,2.836545e-19
33000104,170856,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,2,2.821142e-16,2.821142e-16
33000195,170857,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C706,C1065,NTLM,Network,LogOn,Success,2,1.459452e-08,1.459452e-08
...,...,...,...,...,...,...,...,...,...,...,...,...
33999731,349977,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,5,2.821142e-16,2.821142e-16
33999792,349977,C4178$@DOM1,C4178$@DOM1,C4178,C1065,Kerberos,Network,LogOn,Success,5,6.856336e-03,6.856336e-03
33999825,349977,C8538$@DOM1,C8538$@DOM1,C8538,C529,Kerberos,Network,LogOn,Success,5,5.403404e-02,5.403404e-02
33999879,349978,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C585,C529,NTLM,Network,LogOn,Success,5,2.151888e-14,2.151888e-14
33999880,349978,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
34000037,349979,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,5,1.883311e-17,1.883311e-17
34000038,349979,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,5,1.548829e-17,1.548829e-17
34000042,349979,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19
34000052,349979,C123$@DOM1,C123$@DOM1,C527,C467,Kerberos,Network,LogOn,Success,5,3.111875e-02,3.111875e-02
34000212,349980,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
34999764,356521,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19
34999767,356521,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,5,3.578713e-17,3.578713e-17
34999877,356522,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19
34999879,356522,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,5,2.821142e-16,2.821142e-16
34999925,356522,C2747$@DOM1,C2747$@DOM1,C2748,C586,Kerberos,Network,LogOn,Success,5,1.270329e-02,1.270329e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
35000014,356523,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,5,1.548829e-17,1.548829e-17
35000016,356523,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19
35000032,356523,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,5,3.111875e-02,3.111875e-02
35000041,356523,C15482$@DOM1,C15482$@DOM1,C15482,C586,Kerberos,Network,LogOn,Success,5,2.410921e-02,2.410921e-02
35000079,356523,C8613$@DOM1,C8613$@DOM1,C8613,C586,Kerberos,Network,LogOn,Success,5,5.149835e-02,5.149835e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
35999917,363015,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19
35999923,363015,C1073$@DOM1,C1073$@DOM1,C1073,C1073,?,?,TGS,Success,5,6.905511e-02,6.905511e-02
35999924,363015,C1073$@DOM1,C1073$@DOM1,C1073,C1073,?,Network,LogOff,Success,5,6.905511e-02,6.905511e-02
35999925,363015,C1073$@DOM1,C1073$@DOM1,C1073,C457,Kerberos,Network,LogOn,Success,5,6.905511e-02,6.905511e-02
35999926,363015,C1073$@DOM1,C1073$@DOM1,C1073,C529,Kerberos,Network,LogOn,Success,5,6.905511e-02,6.905511e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
36000075,363016,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,5,4.464676e-18,4.464676e-18
36000076,363016,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,5,1.548829e-17,1.548829e-17
36000082,363016,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19
36000088,363016,C1073$@DOM1,C1073$@DOM1,C1073,C467,Kerberos,Network,LogOn,Success,5,6.905511e-02,6.905511e-02
36000089,363016,C1073$@DOM1,C1073$@DOM1,C1073,C529,Kerberos,Network,LogOn,Success,5,6.905511e-02,6.905511e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
36999889,369480,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,5,1.548829e-17,1.548829e-17
36999893,369480,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19
36999901,369480,C10175$@DOM1,C10175$@DOM1,C10175,C529,Kerberos,Network,LogOn,Success,5,5.205528e-02,5.205528e-02
36999908,369480,C123$@DOM1,C123$@DOM1,C527,C467,Kerberos,Network,LogOn,Success,5,3.111875e-02,3.111875e-02
36999915,369480,C14017$@DOM1,C14017$@DOM1,C14017,C528,Kerberos,Network,LogOn,Success,5,8.845852e-02,8.845852e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
37000017,369481,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,5,1.883311e-17,1.883311e-17
37000032,369481,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,5,3.111875e-02,3.111875e-02
37000033,369481,C123$@DOM1,C123$@DOM1,C527,C529,Kerberos,Network,LogOn,Success,5,3.111875e-02,3.111875e-02
37000045,369481,C1640$@DOM1,C1640$@DOM1,C2109,C529,Kerberos,Network,LogOn,Success,5,1.181980e-05,1.181980e-05
37000047,369481,C16409$@DOM1,C16409$@DOM1,C16409,C529,Kerberos,Network,LogOn,Success,5,7.325260e-02,7.325260e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
37999713,375795,U4356@DOM1,U4356@DOM1,C10901,C801,?,?,TGS,Success,5,1.509127e-02,1.509127e-02
37999729,375796,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,5,1.548829e-17,1.548829e-17
37999731,375796,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19
37999756,375796,C1640$@DOM1,C1640$@DOM1,C2109,C529,Kerberos,Network,LogOn,Success,5,1.181980e-05,1.181980e-05
37999898,375797,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
38000028,375798,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,5,1.548829e-17,1.548829e-17
38000135,375799,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,5,4.464676e-18,4.464676e-18
38000137,375799,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19
38000193,375799,C5080$@DOM1,C5080$@DOM1,C5080,C457,?,?,TGS,Success,5,4.526884e-02,4.526884e-02
38000194,375799,C5080$@DOM1,C5080$@DOM1,C5080,C5080,?,?,TGS,Success,5,4.526884e-02,4.526884e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
38999857,382166,C15552$@DOM1,C15552$@DOM1,C15552,C586,Kerberos,Network,LogOn,Success,5,8.968275e-02,8.968275e-02
38999976,382167,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,5,4.464676e-18,4.464676e-18
38999981,382167,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19
38999982,382167,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,5,3.578713e-17,3.578713e-17
38999999,382167,C1304$@DOM1,C1304$@DOM1,C1304,C457,Kerberos,Network,LogOn,Success,5,1.931323e-02,1.931323e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
39000179,382168,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,5,1.883311e-17,1.883311e-17
39000181,382168,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,5,2.598007e-17,2.598007e-17
39000186,382168,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19
39000188,382168,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,5,2.821142e-16,2.821142e-16
39000249,382168,C1640$@DOM1,C1640$@DOM1,C2109,C529,Kerberos,Network,LogOn,Success,5,1.181980e-05,1.181980e-05
...,...,...,...,...,...,...,...,...,...,...,...,...
39999717,388573,C123$@DOM1,C123$@DOM1,C527,C529,Kerberos,Network,LogOn,Success,5,3.111875e-02,3.111875e-02
39999883,388574,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,5,4.464676e-18,4.464676e-18
39999885,388574,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19
39999887,388574,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,5,3.578713e-17,3.578713e-17
39999999,388575,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
40000210,388576,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,5,1.883311e-17,1.883311e-17
40000211,388576,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C2614,C586,NTLM,Network,LogOn,Success,5,5.626329e-03,5.626329e-03
40000213,388576,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19
40000215,388576,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,5,3.578713e-17,3.578713e-17
40000364,388577,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,5,4.464676e-18,4.464676e-18
...,...,...,...,...,...,...,...,...,...,...,...,...
40999897,394907,C11138$@DOM1,C11138$@DOM1,C11138,C1065,Kerberos,Network,LogOn,Success,5,5.247702e-02,5.247702e-02
40999909,394907,C11714$@DOM1,C11714$@DOM1,C11714,TGT,?,?,TGS,Success,5,9.195537e-02,9.195537e-02
40999934,394907,C17546$@DOM1,C17546$@DOM1,C17546,C17546,?,Network,LogOff,Success,5,2.449647e-02,2.449647e-02
40999935,394907,C17546$@DOM1,C17546$@DOM1,C17546,C17546,Kerberos,Network,LogOn,Success,5,2.449647e-02,2.449647e-02
40999977,394907,C7390$@DOM1,C7390$@DOM1,C7390,C625,Kerberos,Network,LogOn,Success,5,6.411662e-02,6.411662e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
41000043,394908,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19
41000099,394908,C2627$@DOM1,C2627$@DOM1,C2627,C467,Kerberos,Network,LogOn,Success,5,9.512470e-02,9.512470e-02
41000191,394909,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,5,1.883311e-17,1.883311e-17
41000192,394909,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,5,1.548829e-17,1.548829e-17
41000198,394909,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
41999823,401141,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,5,1.548829e-17,1.548829e-17
41999838,401141,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,5,3.111875e-02,3.111875e-02
41999859,401141,C16364$@DOM1,C16364$@DOM1,C16364,C529,Kerberos,Network,LogOn,Success,5,7.500490e-03,7.500490e-03
41999998,401142,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19
41999999,401142,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C7507,C586,NTLM,Network,LogOn,Success,5,8.112886e-03,8.112886e-03

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
42000000,401142,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,5,2.821142e-16,2.821142e-16
42000203,401143,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,5,2.598007e-17,2.598007e-17
42000206,401143,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,5,3.578713e-17,3.578713e-17
42000281,401143,C8908$@DOM1,C8908$@DOM1,C8908,C612,Kerberos,Network,LogOn,Success,5,2.821444e-02,2.821444e-02
42000282,401143,C8908$@DOM1,C8908$@DOM1,C8908,C8908,?,?,TGS,Success,5,2.821444e-02,2.821444e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
42999811,407465,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19
42999821,407465,C10605$@DOM1,C10605$@DOM1,C10605,C10605,?,?,TGT,Success,5,9.087296e-02,9.087296e-02
42999822,407465,C10605$@DOM1,C10605$@DOM1,C10605,TGT,?,?,TGS,Success,5,9.087296e-02,9.087296e-02
42999837,407465,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,5,3.111875e-02,3.111875e-02
42999908,407465,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,5,8.804721e-02,8.804721e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
43000054,407466,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19
43000055,407466,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,5,3.578713e-17,3.578713e-17
43000056,407466,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,5,2.821142e-16,2.821142e-16
43000064,407466,C10605$@DOM1,C10605$@DOM1,C10605,C1065,Kerberos,Network,LogOn,Success,5,9.087296e-02,9.087296e-02
43000068,407466,C11621$@DOM1,C11621$@DOM1,C11621,C528,Kerberos,Network,LogOn,Success,5,4.317828e-02,4.317828e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
43999813,414041,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,5,2.598007e-17,2.598007e-17
43999814,414041,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,5,1.548829e-17,1.548829e-17
43999816,414041,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19
43999998,414042,C2408$@DOM1,C2408$@DOM1,C2408,C2408,?,Network,LogOff,Success,5,7.686321e-02,7.686321e-02
43999999,414042,C2408$@DOM1,C2408$@DOM1,C2408,C2408,Kerberos,Network,LogOn,Success,5,7.686321e-02,7.686321e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
44000061,414043,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19
44000063,414043,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,5,3.578713e-17,3.578713e-17
44000076,414043,C123$@DOM1,C123$@DOM1,C527,C467,Kerberos,Network,LogOn,Success,5,3.111875e-02,3.111875e-02
44000077,414043,C123$@DOM1,C123$@DOM1,C527,C529,Kerberos,Network,LogOn,Success,5,3.111875e-02,3.111875e-02
44000196,414043,U5834@DOM1,U5834@DOM1,C13483,C585,Kerberos,Network,LogOn,Success,5,8.785580e-02,8.785580e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
44999685,420745,C4353$@DOM1,C4353$@DOM1,C4353,C625,?,?,TGS,Success,5,6.806632e-02,6.806632e-02
44999686,420745,C4353$@DOM1,C4353$@DOM1,C4353,TGT,?,?,TGS,Success,5,6.806632e-02,6.806632e-02
44999743,420745,C9008$@DOM1,C9008$@DOM1,C9008,C612,Kerberos,Network,LogOn,Success,5,1.321504e-02,1.321504e-02
44999814,420746,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19
44999960,420747,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
45000087,420748,C10175$@DOM1,C10175$@DOM1,C10175,C625,Kerberos,Network,LogOn,Success,5,5.205528e-02,5.205528e-02
45000217,420749,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19
45000357,420749,U4097@DOM1,U4097@DOM1,C10392,C586,Kerberos,Network,LogOn,Success,5,5.415015e-02,5.415015e-02
45000383,420750,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19
45000532,420751,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,5,4.464676e-18,4.464676e-18
...,...,...,...,...,...,...,...,...,...,...,...,...
45999867,427350,C2379$@DOM1,C2379$@DOM1,C2379,TGT,?,?,TGS,Success,5,8.675392e-02,8.675392e-02
45999958,427351,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,5,1.548829e-17,1.548829e-17
45999959,427351,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C1030,C586,NTLM,Network,LogOn,Success,5,4.303275e-03,4.303275e-03
45999960,427351,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C10833,C586,NTLM,Network,LogOn,Success,5,3.727428e-02,3.727428e-02
45999964,427351,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,5,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
46000001,427351,C18246$@DOM1,C18246$@DOM1,C18246,C529,Kerberos,Network,LogOn,Success,5,9.485486e-02,9.485486e-02
46000012,427351,C2379$@DOM1,C2379$@DOM1,C2379,C2379,?,Network,LogOff,Success,5,8.675392e-02,8.675392e-02
46000013,427351,C2379$@DOM1,C2379$@DOM1,C2379,C586,Kerberos,Network,LogOn,Success,5,8.675392e-02,8.675392e-02
46000014,427351,C2379$@DOM1,C2379$@DOM1,C2379,C625,Kerberos,Network,LogOn,Success,5,8.675392e-02,8.675392e-02
46000118,427352,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,5,8.572672e-19,8.572672e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
46999910,433857,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,6,3.578713e-17,3.578713e-17
46999916,433857,C10484$@DOM1,C10484$@DOM1,C10484,C586,Kerberos,Network,LogOn,Success,6,8.852155e-02,8.852155e-02
46999930,433857,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,6,3.111875e-02,3.111875e-02
46999945,433857,C1450$@DOM1,C1450$@DOM1,C1450,C5618,Kerberos,Network,LogOn,Success,6,1.611128e-02,1.611128e-02
46999958,433857,C1640$@DOM1,C1640$@DOM1,C2109,C2106,Kerberos,Network,LogOn,Success,6,1.181980e-05,1.181980e-05

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
47000001,433857,C2379$@DOM1,C2379$@DOM1,C2379,C586,Kerberos,Network,LogOn,Success,6,8.675392e-02,8.675392e-02
47000139,433858,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,6,1.883311e-17,1.883311e-17
47000141,433858,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,6,3.578713e-17,3.578713e-17
47000169,433858,C1640$@DOM1,C1640$@DOM1,C2109,C529,Kerberos,Network,LogOn,Success,6,1.181980e-05,1.181980e-05
47000317,433859,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,6,2.598007e-17,2.598007e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
47999672,440394,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
47999675,440394,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,6,3.578713e-17,3.578713e-17
47999679,440394,C10755$@DOM1,C10755$@DOM1,C10755,C529,Kerberos,Network,LogOn,Success,6,6.011097e-02,6.011097e-02
47999861,440395,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
47999943,440395,C3707$@DOM1,C3707$@DOM1,C3707,C529,Kerberos,Network,LogOn,Success,6,3.541667e-02,3.541667e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
48000037,440396,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,6,3.790263e-20,3.790263e-20
48000041,440396,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,6,8.572672e-19,8.572672e-19
48000043,440396,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,6,1.548829e-17,1.548829e-17
48000044,440396,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
48000083,440396,C12502$@DOM1,C12502$@DOM1,C12502,C529,Kerberos,Network,LogOn,Success,6,4.963200e-03,4.963200e-03
...,...,...,...,...,...,...,...,...,...,...,...,...
48999837,447174,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,6,2.821142e-16,2.821142e-16
48999875,447174,C13376$@DOM1,C13376$@DOM1,C13376,C625,Kerberos,Network,LogOn,Success,6,7.726666e-02,7.726666e-02
48999971,447174,C7778$@DOM1,C7778$@DOM1,C7778,C7778,?,Network,LogOff,Success,6,8.923221e-02,8.923221e-02
48999972,447174,C7778$@DOM1,C7778$@DOM1,C7778,C7778,Kerberos,Network,LogOn,Success,6,8.923221e-02,8.923221e-02
48999977,447174,C8692$@DOM1,C8692$@DOM1,C8693,C529,Kerberos,Network,LogOn,Success,6,4.838922e-02,4.838922e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
49000050,447175,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,6,1.883311e-17,1.883311e-17
49000053,447175,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
49000054,447175,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,6,3.578713e-17,3.578713e-17
49000082,447175,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,6,3.111875e-02,3.111875e-02
49000146,447175,C4178$@DOM1,C4178$@DOM1,C4178,C612,Kerberos,Network,LogOn,Success,6,6.856336e-03,6.856336e-03
...,...,...,...,...,...,...,...,...,...,...,...,...
49999719,453753,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C8301,C586,NTLM,Network,LogOn,Success,6,6.560097e-03,6.560097e-03
49999839,453753,U1733@DOM1,U1733@DOM1,C5850,C2327,?,?,TGS,Success,6,7.706725e-02,7.706725e-02
49999840,453753,U1733@DOM1,U1733@DOM1,C5850,C5850,?,?,TGT,Success,6,7.706725e-02,7.706725e-02
49999876,453754,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,6,1.548829e-17,1.548829e-17
49999879,453754,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
50000033,453755,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,6,8.572672e-19,8.572672e-19
50000034,453755,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,6,1.883311e-17,1.883311e-17
50000036,453755,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
50000037,453755,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C7507,C586,NTLM,Network,LogOn,Success,6,8.112886e-03,8.112886e-03
50000057,453755,C14809$@DOM1,C14809$@DOM1,C14809,C1065,Kerberos,Network,LogOn,Success,6,9.224277e-02,9.224277e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
50999836,458446,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,6,1.548829e-17,1.548829e-17
50999840,458446,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
50999854,458446,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,6,3.111875e-02,3.111875e-02
50999855,458446,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,6,3.111875e-02,3.111875e-02
50999887,458446,C1832$@DOM1,C1832$@DOM1,C1832,C1832,?,Network,LogOff,Success,6,6.077837e-02,6.077837e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
51000088,458446,U8867@DOM1,U8867@DOM1,C1611,C586,Kerberos,Network,LogOn,Success,6,5.857442e-03,5.857442e-03
51000097,458447,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,6,1.548829e-17,1.548829e-17
51000099,458447,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
51000101,458447,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,6,2.821142e-16,2.821142e-16
51000125,458447,C15001$@DOM1,C15001$@DOM1,C15001,C586,Kerberos,Network,LogOn,Success,6,5.525254e-02,5.525254e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
51999879,462040,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,6,4.464676e-18,4.464676e-18
51999886,462040,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
51999910,462040,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,6,3.111875e-02,3.111875e-02
51999911,462040,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,6,3.111875e-02,3.111875e-02
51999919,462040,C1450$@DOM1,C1450$@DOM1,C1450,C5618,Kerberos,Network,LogOn,Success,6,1.611128e-02,1.611128e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
52000232,462040,U9331@DOM1,U9331@DOM1,C1319,C586,Kerberos,Network,LogOn,Success,6,8.075524e-02,8.075524e-02
52000233,462040,U9331@DOM1,U9331@DOM1,C1319,C612,Kerberos,Network,LogOn,Success,6,8.075524e-02,8.075524e-02
52000234,462040,U9331@DOM1,U9331@DOM1,C586,C586,?,Network,LogOff,Success,6,2.076777e-06,2.076777e-06
52000237,462041,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,6,4.464676e-18,4.464676e-18
52000239,462041,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,6,3.790263e-20,3.790263e-20
...,...,...,...,...,...,...,...,...,...,...,...,...
52999652,465516,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,6,1.548829e-17,1.548829e-17
52999654,465516,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
52999680,465516,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,6,3.111875e-02,3.111875e-02
52999794,465516,C3094$@DOM1,C3094$@DOM1,C3094,C1065,?,?,TGS,Success,6,6.693063e-02,6.693063e-02
52999864,465516,C8692$@DOM1,C8692$@DOM1,C8693,C529,Kerberos,Network,LogOn,Success,6,4.838922e-02,4.838922e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
53000024,465517,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,6,1.883311e-17,1.883311e-17
53000025,465517,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,6,1.548829e-17,1.548829e-17
53000030,465517,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
53000033,465517,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,6,2.821142e-16,2.821142e-16
53000269,465518,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,6,1.548829e-17,1.548829e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
53999867,469104,C13952$@DOM1,C13952$@DOM1,C13952,C1065,NTLM,Network,LogOn,Success,6,6.382494e-02,6.382494e-02
53999868,469104,C13952$@DOM1,C13952$@DOM1,C13952,C13952,?,?,TGS,Success,6,6.382494e-02,6.382494e-02
53999869,469104,C13952$@DOM1,C13952$@DOM1,C13952,C13952,?,Network,LogOff,Success,6,6.382494e-02,6.382494e-02
53999870,469104,C13952$@DOM1,C13952$@DOM1,C13952,C457,Kerberos,Network,LogOn,Success,6,6.382494e-02,6.382494e-02
53999878,469104,C15656$@DOM1,C15656$@DOM1,C15656,C586,Kerberos,Network,LogOn,Success,6,6.880988e-02,6.880988e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
54000000,469104,U1733@DOM1,U1733@DOM1,C5850,C2327,?,?,TGS,Success,6,7.706725e-02,7.706725e-02
54000001,469104,U1733@DOM1,U1733@DOM1,C5850,C5850,?,?,TGT,Success,6,7.706725e-02,7.706725e-02
54000051,469104,U3299@DOM1,U3299@DOM1,C8843,C2106,Kerberos,Network,LogOn,Success,6,4.180984e-02,4.180984e-02
54000060,469104,U3611@DOM1,U3611@DOM1,C20274,C457,?,?,TGS,Success,6,1.159865e-02,1.159865e-02
54000061,469104,U3611@DOM1,U3611@DOM1,C20274,C5716,?,?,TGS,Success,6,1.159865e-02,1.159865e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
54999789,472721,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,6,1.548829e-17,1.548829e-17
54999794,472721,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
54999826,472721,C14852$@DOM1,C14852$@DOM1,C14853,C528,NTLM,Network,LogOn,Success,6,3.946306e-02,3.946306e-02
54999874,472721,C3137$@DOM1,C3137$@DOM1,C3137,C467,Kerberos,Network,LogOn,Success,6,7.068258e-02,7.068258e-02
54999991,472721,U7647@DOM1,U7647@DOM1,C16633,C92,Kerberos,Network,LogOn,Success,6,4.284631e-02,4.284631e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
55000013,472722,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,6,8.572672e-19,8.572672e-19
55000014,472722,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,6,1.548829e-17,1.548829e-17
55000018,472722,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C1477,C586,NTLM,Network,LogOn,Success,6,2.998203e-04,2.998203e-04
55000023,472722,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
55000057,472722,C123$@DOM1,C123$@DOM1,C527,C612,Kerberos,Network,LogOn,Success,6,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
55999800,476514,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,6,3.111875e-02,3.111875e-02
55999803,476514,C12564$@DOM1,C12564$@DOM1,C12564,C1065,?,?,TGS,Success,6,4.432860e-02,4.432860e-02
55999804,476514,C12564$@DOM1,C12564$@DOM1,C12564,C1065,Kerberos,Network,LogOn,Success,6,4.432860e-02,4.432860e-02
55999856,476514,C17707$@DOM1,C17707$@DOM1,C17707,C457,Kerberos,Network,LogOn,Success,6,8.042353e-02,8.042353e-02
55999868,476514,C19945$@DOM1,C19945$@DOM1,C19945,C467,Kerberos,Network,LogOn,Success,6,7.232248e-02,7.232248e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
56000100,476515,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
56000103,476515,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,6,3.578713e-17,3.578713e-17
56000207,476515,C19852$@DOM1,C19852$@DOM1,C19852,C2106,Kerberos,Network,LogOn,Success,6,4.497507e-02,4.497507e-02
56000220,476515,C3518$@DOM1,C3518$@DOM1,C3518,C2106,Kerberos,Network,LogOn,Success,6,1.561932e-02,1.561932e-02
56000386,476516,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,6,3.790263e-20,3.790263e-20
...,...,...,...,...,...,...,...,...,...,...,...,...
56999541,480225,C123$@DOM1,C123$@DOM1,C527,C612,Kerberos,Network,LogOn,Success,6,3.111875e-02,3.111875e-02
56999617,480225,C225$@DOM1,C225$@DOM1,C225,C2106,Kerberos,Network,LogOn,Success,6,4.248316e-02,4.248316e-02
56999837,480226,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
56999872,480226,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,6,3.111875e-02,3.111875e-02
56999958,480226,C4405$@DOM1,C4405$@DOM1,C4405,C457,Kerberos,Network,LogOn,Success,6,6.837416e-02,6.837416e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
57000138,480227,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,6,3.790263e-20,3.790263e-20
57000139,480227,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,6,1.883311e-17,1.883311e-17
57000141,480227,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C11165,C586,NTLM,Network,LogOn,Success,6,8.599710e-02,8.599710e-02
57000145,480227,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
57000172,480227,C123$@DOM1,C123$@DOM1,C527,C523,Kerberos,Network,LogOn,Success,6,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
57999628,483835,C123$@DOM1,C123$@DOM1,C527,C457,Kerberos,Network,LogOn,Success,6,3.111875e-02,3.111875e-02
57999637,483835,C1450$@DOM1,C1450$@DOM1,C1450,C5618,Kerberos,Network,LogOn,Success,6,1.611128e-02,1.611128e-02
57999828,483836,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,6,1.883311e-17,1.883311e-17
57999831,483836,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
57999841,483836,C1073$@DOM1,C1073$@DOM1,C1073,C586,NTLM,Network,LogOn,Success,6,6.905511e-02,6.905511e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
58000039,483837,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
58000041,483837,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,6,2.821142e-16,2.821142e-16
58000059,483837,C123$@DOM1,C123$@DOM1,C527,C523,Kerberos,Network,LogOn,Success,6,3.111875e-02,3.111875e-02
58000151,483837,C8613$@DOM1,C8613$@DOM1,C8613,C529,Kerberos,Network,LogOn,Success,6,5.149835e-02,5.149835e-02
58000280,483838,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,6,4.464676e-18,4.464676e-18
...,...,...,...,...,...,...,...,...,...,...,...,...
58999761,487403,C3518$@DOM1,C3518$@DOM1,C3518,C743,Kerberos,Network,LogOn,Success,6,1.561932e-02,1.561932e-02
58999768,487403,C4501$@DOM1,C4501$@DOM1,C4501,C586,Kerberos,Network,LogOn,Success,6,8.444238e-02,8.444238e-02
58999952,487404,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,6,1.548829e-17,1.548829e-17
58999954,487404,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
58999958,487404,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,6,2.821142e-16,2.821142e-16

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
59000204,487405,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,6,8.572672e-19,8.572672e-19
59000205,487405,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,6,1.883311e-17,1.883311e-17
59000210,487405,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
59000236,487405,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,6,3.111875e-02,3.111875e-02
59000237,487405,C123$@DOM1,C123$@DOM1,C527,C612,Kerberos,Network,LogOn,Success,6,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
59999652,491051,U2215@DOM1,U2215@DOM1,C6587,C6587,?,Unlock,LogOff,Success,6,2.346124e-02,2.346124e-02
59999748,491051,U9116@DOM1,U9116@DOM1,C19067,C2327,?,?,TGS,Success,6,7.481596e-02,7.481596e-02
59999755,491052,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,6,1.548829e-17,1.548829e-17
59999761,491052,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
59999915,491052,C627$@DOM1,C627$@DOM1,C627,C612,Kerberos,Network,LogOn,Success,6,1.855102e-02,1.855102e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
60000009,491052,U416@DOM1,U416@DOM1,C17593,C1065,Kerberos,Network,LogOn,Success,6,4.144320e-02,4.144320e-02
60000099,491053,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,6,2.598007e-17,2.598007e-17
60000100,491053,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
60000103,491053,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,6,2.821142e-16,2.821142e-16
60000310,491053,U4270@DOM1,U4270@DOM1,C17452,C625,Kerberos,Network,LogOn,Success,6,3.016722e-05,3.016722e-05
...,...,...,...,...,...,...,...,...,...,...,...,...
60999763,495252,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,6,8.572672e-19,8.572672e-19
60999771,495252,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
60999793,495252,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,6,3.111875e-02,3.111875e-02
60999794,495252,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,6,3.111875e-02,3.111875e-02
60999833,495252,C1832$@DOM1,C1832$@DOM1,C1832,C1832,Kerberos,Network,LogOn,Success,6,6.077837e-02,6.077837e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
61000000,495253,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,6,2.598007e-17,2.598007e-17
61000004,495253,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
61000005,495253,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,6,2.821142e-16,2.821142e-16
61000021,495253,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,6,3.111875e-02,3.111875e-02
61000022,495253,C123$@DOM1,C123$@DOM1,C527,C988,Kerberos,Network,LogOn,Success,6,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
61999949,500441,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,6,8.572672e-19,8.572672e-19
61999952,500441,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
61999955,500441,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,6,2.821142e-16,2.821142e-16
61999986,500441,C14181$@DOM1,C14181$@DOM1,C14181,C14181,?,Network,LogOff,Success,6,1.947006e-02,1.947006e-02
61999987,500441,C14181$@DOM1,C14181$@DOM1,C14181,C14181,Kerberos,Network,LogOn,Success,6,1.947006e-02,1.947006e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
62000122,500441,U4004@DOM1,U4004@DOM1,C10347,C2327,?,?,TGS,Success,6,6.779064e-02,6.779064e-02
62000166,500442,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
62000180,500442,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,6,3.111875e-02,3.111875e-02
62000181,500442,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,6,3.111875e-02,3.111875e-02
62000190,500442,C12856$@DOM1,C12856$@DOM1,C12856,C625,Kerberos,Network,LogOn,Success,6,5.242295e-02,5.242295e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
62999764,505862,C2379$@DOM1,C2379$@DOM1,C2379,C457,Kerberos,Network,LogOn,Success,6,8.675392e-02,8.675392e-02
62999912,505863,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
62999915,505863,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,6,2.821142e-16,2.821142e-16
62999960,505863,C1946$@DOM1,C1946$@DOM1,C1946,C586,Kerberos,Network,LogOn,Success,6,3.832176e-02,3.832176e-02
62999982,505863,C5165$@DOM1,C5165$@DOM1,C5165,C5165,?,Network,LogOff,Success,6,7.991056e-02,7.991056e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
63000057,505864,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,6,4.464676e-18,4.464676e-18
63000059,505864,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,6,2.598007e-17,2.598007e-17
63000060,505864,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C18888,C586,NTLM,Network,LogOn,Success,6,1.485886e-02,1.485886e-02
63000062,505864,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
63000064,505864,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,6,3.578713e-17,3.578713e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
63999754,511437,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
63999771,511437,C123$@DOM1,C123$@DOM1,C527,C467,Kerberos,Network,LogOn,Success,6,3.111875e-02,3.111875e-02
63999889,511437,C9683$@DOM1,C9683$@DOM1,C9683,C467,Kerberos,Network,LogOn,Success,6,4.132052e-02,4.132052e-02
63999978,511438,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,6,4.464676e-18,4.464676e-18
63999987,511438,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,6,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
64000010,511438,C1859$@DOM1,C1859$@DOM1,C1859,C586,Kerberos,Network,LogOn,Success,6,9.852297e-02,9.852297e-02
64000032,511438,C3573$@DOM1,C3573$@DOM1,C3574,C612,Kerberos,Network,LogOn,Success,6,2.424840e-02,2.424840e-02
64000034,511438,C4181$@DOM1,C4181$@DOM1,C4182,C586,?,?,TGS,Success,6,9.830234e-02,9.830234e-02
64000035,511438,C4181$@DOM1,C4181$@DOM1,C4182,C586,Kerberos,Network,LogOn,Success,6,9.830234e-02,9.830234e-02
64000128,511439,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,6,1.548829e-17,1.548829e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
64999787,516931,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,6,1.883311e-17,1.883311e-17
64999789,516931,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,6,1.548829e-17,1.548829e-17
64999794,516931,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
64999835,516931,C1640$@DOM1,C1640$@DOM1,C2109,C586,Kerberos,Network,LogOn,Success,6,1.181980e-05,1.181980e-05
64999988,516932,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
65000106,516933,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,6,2.598007e-17,2.598007e-17
65000112,516933,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,6,2.836545e-19,2.836545e-19
65000114,516933,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,6,2.821142e-16,2.821142e-16
65000116,516933,C10249$@DOM1,C10249$@DOM1,C10249,C586,Kerberos,Network,LogOn,Success,6,2.655328e-02,2.655328e-02
65000186,516933,C3150$@DOM1,C3150$@DOM1,C3150,C467,Kerberos,Network,LogOn,Success,6,3.159173e-02,3.159173e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
65999714,522400,C18949$@DOM1,C18949$@DOM1,C18949,C457,Kerberos,Network,LogOn,Success,7,8.352742e-02,8.352742e-02
65999873,522401,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,7,8.572672e-19,8.572672e-19
65999877,522401,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
65999963,522401,C2379$@DOM1,C2379$@DOM1,C2379,C457,Kerberos,Network,LogOn,Success,7,8.675392e-02,8.675392e-02
65999974,522401,C3237$@DOM1,C3237$@DOM1,C3237,C2106,NTLM,Network,LogOn,Success,7,9.100461e-02,9.100461e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
66000125,522402,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
66000128,522402,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,7,2.821142e-16,2.821142e-16
66000234,522402,C4135$@DOM1,C4135$@DOM1,C4135,C1065,Kerberos,Network,LogOn,Success,7,4.265128e-03,4.265128e-03
66000345,522403,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,7,3.790263e-20,3.790263e-20
66000353,522403,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
66999692,527748,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C11789,C586,NTLM,Network,LogOn,Success,7,3.919258e-02,3.919258e-02
66999699,527748,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
66999702,527748,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,7,3.578713e-17,3.578713e-17
66999924,527749,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
66999926,527749,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,7,2.821142e-16,2.821142e-16

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
67000101,527750,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,7,4.464676e-18,4.464676e-18
67000106,527750,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,7,3.578713e-17,3.578713e-17
67000157,527750,C3518$@DOM1,C3518$@DOM1,C3518,C467,Kerberos,Network,LogOn,Success,7,1.561932e-02,1.561932e-02
67000266,527751,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,7,4.464676e-18,4.464676e-18
67000267,527751,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,7,8.572672e-19,8.572672e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
67999695,533378,C19752$@DOM1,C19752$@DOM1,C19752,C528,Kerberos,Network,LogOn,Success,7,2.733972e-02,2.733972e-02
67999727,533378,C4712$@DOM1,C4712$@DOM1,C4712,C612,Kerberos,Network,LogOn,Success,7,2.821711e-02,2.821711e-02
67999815,533379,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
67999816,533379,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,7,3.578713e-17,3.578713e-17
67999817,533379,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,7,2.821142e-16,2.821142e-16

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
68000001,533380,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,7,1.883311e-17,1.883311e-17
68000004,533380,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,7,1.548829e-17,1.548829e-17
68000009,533380,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
68000010,533380,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,7,3.578713e-17,3.578713e-17
68000082,533380,C19852$@DOM1,C19852$@DOM1,C19852,C528,Kerberos,Network,LogOn,Success,7,4.497507e-02,4.497507e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
68999792,539056,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,7,3.111875e-02,3.111875e-02
68999811,539056,C16496$@DOM1,C16496$@DOM1,C16496,C528,Kerberos,Network,LogOn,Success,7,4.113583e-02,4.113583e-02
68999936,539057,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,7,8.572672e-19,8.572672e-19
68999937,539057,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,7,1.883311e-17,1.883311e-17
68999939,539057,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
69000091,539058,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,7,8.572672e-19,8.572672e-19
69000093,539058,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C16919,C586,NTLM,Network,LogOn,Success,7,2.008761e-02,2.008761e-02
69000095,539058,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
69000104,539058,C123$@DOM1,C123$@DOM1,C527,C457,Kerberos,Network,LogOn,Success,7,3.111875e-02,3.111875e-02
69000105,539058,C123$@DOM1,C123$@DOM1,C527,C612,Kerberos,Network,LogOn,Success,7,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
69999900,543960,U8779@DOM1,U8779@DOM1,C1065,C1065,?,Network,LogOff,Success,7,7.349247e-02,7.349247e-02
69999909,543961,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,7,8.572672e-19,8.572672e-19
69999910,543961,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,7,1.883311e-17,1.883311e-17
69999917,543961,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
69999967,543961,C1640$@DOM1,C1640$@DOM1,C2109,C2106,Kerberos,Network,LogOn,Success,7,1.181980e-05,1.181980e-05

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
70000083,543961,U1733@DOM1,U1733@DOM1,C5850,C2327,?,?,TGS,Success,7,7.706725e-02,7.706725e-02
70000084,543961,U1733@DOM1,U1733@DOM1,C5850,C5850,?,?,TGT,Success,7,7.706725e-02,7.706725e-02
70000191,543962,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,7,3.790263e-20,3.790263e-20
70000193,543962,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,7,1.883311e-17,1.883311e-17
70000194,543962,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C585,C467,NTLM,Network,LogOn,Success,7,3.727331e-14,3.727331e-14
...,...,...,...,...,...,...,...,...,...,...,...,...
70999665,547602,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,7,1.548829e-17,1.548829e-17
70999666,547602,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
70999726,547602,C1640$@DOM1,C1640$@DOM1,C2109,C2106,Kerberos,Network,LogOn,Success,7,1.181980e-05,1.181980e-05
70999955,547602,U4070@DOM1,U4070@DOM1,C10289,C2162,Kerberos,Network,LogOn,Success,7,9.143164e-02,9.143164e-02
70999968,547602,U459@DOM1,U459@DOM1,C18176,C529,Kerberos,Network,LogOn,Success,7,2.946908e-02,2.946908e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
71000050,547603,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
71000051,547603,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,7,3.578713e-17,3.578713e-17
71000052,547603,ANONYMOUS LOGON@C754,ANONYMOUS LOGON@C754,C754,C754,?,Network,LogOff,Success,7,4.021694e-19,4.021694e-19
71000083,547603,C14655$@DOM1,C14655$@DOM1,C14655,C528,Kerberos,Network,LogOn,Success,7,1.497359e-02,1.497359e-02
71000099,547603,C1640$@DOM1,C1640$@DOM1,C2109,C2106,Kerberos,Network,LogOn,Success,7,1.181980e-05,1.181980e-05
...,...,...,...,...,...,...,...,...,...,...,...,...
71999878,551012,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,7,4.464676e-18,4.464676e-18
71999882,551012,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C18982,C457,NTLM,Network,LogOn,Success,7,2.397557e-02,2.397557e-02
71999890,551012,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
71999901,551012,C11031$@DOM1,C11031$@DOM1,C11031,C529,Kerberos,Network,LogOn,Success,7,7.092768e-02,7.092768e-02
71999921,551012,C14809$@DOM1,C14809$@DOM1,C14809,C529,Kerberos,Network,LogOn,Success,7,9.224277e-02,9.224277e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
72000017,551012,C6285$@DOM1,C6285$@DOM1,C6285,C625,Kerberos,Network,LogOn,Success,7,7.406684e-02,7.406684e-02
72000153,551013,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C18982,C457,NTLM,Network,LogOn,Success,7,2.397557e-02,2.397557e-02
72000154,551013,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,7,8.572672e-19,8.572672e-19
72000155,551013,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,7,1.548829e-17,1.548829e-17
72000157,551013,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C12185,C586,NTLM,Network,LogOn,Success,7,4.816970e-02,4.816970e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
72999772,554501,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,7,2.598007e-17,2.598007e-17
72999776,554501,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
72999777,554501,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C5995,C586,NTLM,Network,LogOn,Success,7,3.151220e-02,3.151220e-02
72999805,554501,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,7,3.111875e-02,3.111875e-02
72999806,554501,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,7,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
73000064,554502,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,7,3.790263e-20,3.790263e-20
73000065,554502,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,7,1.883311e-17,1.883311e-17
73000070,554502,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
73000093,554502,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,7,3.111875e-02,3.111875e-02
73000304,554502,U7073@DOM1,U7073@DOM1,C15482,C529,Kerberos,Network,LogOn,Success,7,6.025190e-02,6.025190e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
73999751,558012,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
73999839,558012,C2005$@DOM1,C2005$@DOM1,C2005,C1065,Kerberos,Network,LogOn,Success,7,7.313276e-02,7.313276e-02
73999895,558012,C6373$@DOM1,C6373$@DOM1,C6373,C1065,Kerberos,Network,LogOn,Success,7,5.126586e-02,5.126586e-02
73999983,558012,U3299@DOM1,U3299@DOM1,C20831,C528,Kerberos,Network,LogOn,Success,7,4.032272e-05,4.032272e-05
73999987,558012,U3462@DOM1,U3462@DOM1,C4278,C2106,Kerberos,Network,LogOn,Success,7,1.648040e-02,1.648040e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
74000065,558013,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,7,1.548829e-17,1.548829e-17
74000068,558013,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
74000072,558013,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,7,3.578713e-17,3.578713e-17
74000164,558013,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,7,8.804721e-02,8.804721e-02
74000397,558014,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,7,1.883311e-17,1.883311e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
74999923,561583,U8841@DOM1,U8841@DOM1,C20363,C20363,?,?,TGS,Success,7,1.626969e-02,1.626969e-02
74999924,561583,U8841@DOM1,U8841@DOM1,C20363,C20363,?,?,TGT,Success,7,1.626969e-02,1.626969e-02
74999931,561584,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
74999933,561584,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,7,2.821142e-16,2.821142e-16
74999986,561584,C1640$@DOM1,C1640$@DOM1,C2109,C2106,Kerberos,Network,LogOn,Success,7,1.181980e-05,1.181980e-05

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
75000136,561584,U1733@DOM1,U1733@DOM1,C5850,C2327,?,?,TGS,Success,7,7.706725e-02,7.706725e-02
75000137,561584,U1733@DOM1,U1733@DOM1,C5850,C5850,?,?,TGT,Success,7,7.706725e-02,7.706725e-02
75000210,561584,U8662@DOM1,U8662@DOM1,C2780,C625,Kerberos,Network,LogOn,Success,7,6.931548e-02,6.931548e-02
75000224,561584,U9633@DOM9,U9633@DOM9,C20315,C20315,?,?,TGS,Success,7,4.313644e-03,4.313644e-03
75000225,561584,U9633@DOM9,U9633@DOM9,C20315,C612,?,?,TGS,Success,7,4.313644e-03,4.313644e-03
...,...,...,...,...,...,...,...,...,...,...,...,...
75999632,565214,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,7,2.598007e-17,2.598007e-17
75999635,565214,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
75999971,565215,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,7,3.790263e-20,3.790263e-20
75999976,565215,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,7,2.821142e-16,2.821142e-16
75999982,565215,C10605$@DOM1,C10605$@DOM1,C10605,C467,?,?,TGS,Success,7,9.087296e-02,9.087296e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
76000022,565215,C15018$@DOM1,C15018$@DOM1,C15018,TGT,?,?,TGS,Success,7,8.613301e-02,8.613301e-02
76000149,565215,C8613$@DOM1,C8613$@DOM1,C8613,C8613,?,Network,LogOff,Success,7,5.149835e-02,5.149835e-02
76000150,565215,C8613$@DOM1,C8613$@DOM1,C8613,C8613,Kerberos,Network,LogOn,Success,7,5.149835e-02,5.149835e-02
76000328,565216,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,7,1.548829e-17,1.548829e-17
76000331,565216,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
76999824,568826,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,7,1.883311e-17,1.883311e-17
76999825,568826,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,7,1.548829e-17,1.548829e-17
76999829,568826,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
76999849,568826,C13181$@DOM1,C13181$@DOM1,C13181,C467,Kerberos,Network,LogOn,Success,7,9.396623e-02,9.396623e-02
76999892,568826,C1859$@DOM1,C1859$@DOM1,C1859,C467,Kerberos,Network,LogOn,Success,7,9.852297e-02,9.852297e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
77000129,568827,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,7,3.578713e-17,3.578713e-17
77000131,568827,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,7,2.821142e-16,2.821142e-16
77000237,568827,C627$@DOM1,C627$@DOM1,C627,C612,?,?,TGS,Success,7,1.855102e-02,1.855102e-02
77000305,568827,U4634@DOM1,U4634@DOM1,C11370,C585,Kerberos,Network,LogOn,Success,7,4.008621e-02,4.008621e-02
77000374,568828,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,7,2.598007e-17,2.598007e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
77999943,572340,C15771$@DOM1,C15771$@DOM1,C15771,C1065,Kerberos,Network,LogOn,Success,7,7.796669e-02,7.796669e-02
77999944,572340,C15771$@DOM1,C15771$@DOM1,C15771,C467,Kerberos,Network,LogOn,Success,7,7.796669e-02,7.796669e-02
77999945,572340,C15771$@DOM1,C15771$@DOM1,C15771,C625,Kerberos,Network,LogOn,Success,7,7.796669e-02,7.796669e-02
77999985,572340,C21369$@DOM1,C21369$@DOM1,C21370,C561,?,?,TGS,Success,7,1.061019e-02,1.061019e-02
77999986,572340,C21369$@DOM1,C21369$@DOM1,C21370,C561,Kerberos,Network,LogOn,Success,7,1.061019e-02,1.061019e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
78000025,572340,C5069$@DOM1,C5069$@DOM1,C5069,C529,Kerberos,Network,LogOn,Success,7,7.727715e-02,7.727715e-02
78000114,572340,U3299@DOM1,U3299@DOM1,C8843,C423,Kerberos,Network,LogOn,Success,7,4.180984e-02,4.180984e-02
78000122,572340,U3886@DOM1,U3886@DOM1,C9972,C2106,Kerberos,Network,LogOn,Success,7,9.500603e-02,9.500603e-02
78000150,572340,U5834@DOM1,U5834@DOM1,C13483,C529,Kerberos,Network,LogOn,Success,7,8.785580e-02,8.785580e-02
78000157,572340,U6561@DOM1,U6561@DOM1,C14358,C14358,?,?,TGT,Success,7,1.063842e-04,1.063842e-04
...,...,...,...,...,...,...,...,...,...,...,...,...
78999786,575931,C2379$@DOM1,C2379$@DOM1,C2379,C625,Kerberos,Network,LogOn,Success,7,8.675392e-02,8.675392e-02
78999942,575932,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,7,1.548829e-17,1.548829e-17
78999943,575932,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
78999945,575932,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,7,3.578713e-17,3.578713e-17
78999986,575932,C1832$@DOM1,C1832$@DOM1,C1832,C1832,?,Network,LogOff,Success,7,6.077837e-02,6.077837e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
79000131,575932,U4264@DOM1,U4264@DOM1,C10495,C529,Kerberos,Network,LogOn,Success,7,6.125634e-02,6.125634e-02
79000202,575933,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
79000205,575933,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,7,3.578713e-17,3.578713e-17
79000398,575934,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,7,8.572672e-19,8.572672e-19
79000399,575934,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,7,1.548829e-17,1.548829e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
79999903,579800,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,7,2.821142e-16,2.821142e-16
79999917,579800,C11138$@DOM1,C11138$@DOM1,C11138,TGT,?,?,TGS,Success,7,5.247702e-02,5.247702e-02
79999930,579800,C123$@DOM1,C123$@DOM1,C527,C2106,Kerberos,Network,LogOn,Success,7,3.111875e-02,3.111875e-02
79999937,579800,C14260$@DOM1,C14260$@DOM1,C14260,C612,Kerberos,Network,LogOn,Success,7,6.544210e-02,6.544210e-02
79999944,579800,C1640$@DOM1,C1640$@DOM1,C2109,C612,Kerberos,Network,LogOn,Success,7,1.181980e-05,1.181980e-05

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
80000004,579800,C7778$@DOM1,C7778$@DOM1,C7778,TGT,?,?,TGS,Success,7,8.923221e-02,8.923221e-02
80000069,579800,U4251@DOM1,U4251@DOM1,C10682,C2327,?,?,TGS,Success,7,4.696202e-02,4.696202e-02
80000106,579801,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,7,1.883311e-17,1.883311e-17
80000108,579801,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,7,2.598007e-17,2.598007e-17
80000109,579801,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,7,1.548829e-17,1.548829e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
80999778,584597,C7352$@DOM1,C7352$@DOM1,C7352,C625,Kerberos,Network,LogOn,Success,7,7.565949e-02,7.565949e-02
80999847,584598,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,7,8.572672e-19,8.572672e-19
80999848,584598,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,7,1.883311e-17,1.883311e-17
80999849,584598,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
80999941,584598,C5526$@DOM1,C5526$@DOM1,C5527,C467,NTLM,Network,LogOn,Success,7,5.446675e-02,5.446675e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
81000033,584599,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,7,8.572672e-19,8.572672e-19
81000038,584599,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
81000043,584599,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,7,3.578713e-17,3.578713e-17
81000044,584599,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,7,2.821142e-16,2.821142e-16
81000056,584599,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,7,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
81999871,590047,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,7,1.548829e-17,1.548829e-17
81999874,590047,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
81999878,590047,C10175$@DOM1,C10175$@DOM1,C10175,C612,Kerberos,Network,LogOn,Success,7,5.205528e-02,5.205528e-02
81999994,590047,U1733@DOM1,U1733@DOM1,C5850,C2327,?,?,TGS,Success,7,7.706725e-02,7.706725e-02
81999995,590047,U1733@DOM1,U1733@DOM1,C5850,C5850,?,?,TGT,Success,7,7.706725e-02,7.706725e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
82000032,590048,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C15675,C586,NTLM,Network,LogOn,Success,7,5.584087e-02,5.584087e-02
82000033,590048,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
82000034,590048,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,7,2.821142e-16,2.821142e-16
82000045,590048,C123$@DOM1,C123$@DOM1,C527,C988,Kerberos,Network,LogOn,Success,7,3.111875e-02,3.111875e-02
82000139,590048,C9096$@DOM1,C9096$@DOM1,C9096,TGT,?,?,TGS,Success,7,4.497789e-03,4.497789e-03
...,...,...,...,...,...,...,...,...,...,...,...,...
82999773,595583,C4964$@DOM1,C4964$@DOM1,C4964,C1065,Kerberos,Network,LogOn,Success,7,5.932104e-02,5.932104e-02
82999837,595584,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,7,1.883311e-17,1.883311e-17
82999839,595584,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
82999852,595584,C123$@DOM1,C123$@DOM1,C527,C988,Kerberos,Network,LogOn,Success,7,3.111875e-02,3.111875e-02
82999943,595585,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
83000056,595585,C6867$@DOM1,C6867$@DOM1,C6867,C612,Kerberos,Network,LogOn,Success,7,4.881984e-02,4.881984e-02
83000123,595586,ANONYMOUS LOGON@C754,ANONYMOUS LOGON@C754,C754,C754,?,Network,LogOff,Success,7,4.021694e-19,4.021694e-19
83000257,595587,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
83000292,595587,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,7,3.111875e-02,3.111875e-02
83000346,595587,C5573$@DOM1,C5573$@DOM1,C5478,C586,?,?,TGS,Success,7,4.110934e-02,4.110934e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
83999945,601200,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,7,1.883311e-17,1.883311e-17
83999947,601200,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,7,2.598007e-17,2.598007e-17
83999951,601200,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
83999952,601200,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,7,2.821142e-16,2.821142e-16
83999974,601200,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,7,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
84000180,601201,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,7,3.790263e-20,3.790263e-20
84000182,601201,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
84000203,601201,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,7,3.111875e-02,3.111875e-02
84000402,601202,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,7,2.836545e-19,2.836545e-19
84000406,601202,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,7,3.578713e-17,3.578713e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
84999893,606728,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,8,1.548829e-17,1.548829e-17
84999895,606728,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C1477,C586,NTLM,Network,LogOn,Success,8,2.998203e-04,2.998203e-04
84999914,606728,C123$@DOM1,C123$@DOM1,C527,C988,Kerberos,Network,LogOn,Success,8,3.111875e-02,3.111875e-02
84999968,606728,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,8,8.804721e-02,8.804721e-02
84999969,606728,C2408$@DOM1,C2408$@DOM1,C2408,C457,Kerberos,Network,LogOn,Success,8,7.686321e-02,7.686321e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
85000047,606728,U1192@DOM1,U1192@DOM1,C3928,C528,?,?,TGS,Success,8,2.978849e-02,2.978849e-02
85000117,606729,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,8,4.464676e-18,4.464676e-18
85000124,606729,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
85000209,606729,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,8,8.804721e-02,8.804721e-02
85000283,606729,C9603$@DOM1,C9603$@DOM1,C9603,C457,Kerberos,Network,LogOn,Success,8,1.978576e-02,1.978576e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
85999871,612351,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,8,8.572672e-19,8.572672e-19
85999873,612351,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
85999874,612351,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C8960,C586,NTLM,Network,LogOn,Success,8,4.265907e-04,4.265907e-04
85999895,612351,C1166$@DOM1,C1166$@DOM1,C1166,C612,Kerberos,Network,LogOn,Success,8,2.065671e-02,2.065671e-02
85999917,612351,C14469$@DOM1,C14469$@DOM1,C14470,C612,Kerberos,Network,LogOn,Success,8,4.570681e-02,4.570681e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
86000053,612351,U7647@DOM1,U7647@DOM1,C16633,C457,?,?,TGS,Success,8,4.284631e-02,4.284631e-02
86000054,612351,U7647@DOM1,U7647@DOM1,C16633,C612,?,?,TGS,Success,8,4.284631e-02,4.284631e-02
86000055,612351,U7647@DOM1,U7647@DOM1,C16633,TGT,?,?,TGS,Success,8,4.284631e-02,4.284631e-02
86000078,612352,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
86000103,612352,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,8,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
86999910,618139,C81$@DOM1,C81$@DOM1,C81,C2855,Kerberos,Network,LogOn,Success,8,7.098836e-02,7.098836e-02
86999983,618140,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,8,8.572672e-19,8.572672e-19
86999985,618140,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,8,1.883311e-17,1.883311e-17
86999987,618140,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,8,2.598007e-17,2.598007e-17
86999990,618140,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
87000009,618140,C123$@DOM1,C123$@DOM1,C527,C988,Kerberos,Network,LogOn,Success,8,3.111875e-02,3.111875e-02
87000053,618140,C5194$@DOM1,C5194$@DOM1,C5194,TGT,?,?,TGS,Success,8,9.137759e-02,9.137759e-02
87000079,618140,C81$@DOM1,C81$@DOM1,C81,C467,Kerberos,Network,LogOn,Success,8,7.098836e-02,7.098836e-02
87000080,618140,C81$@DOM1,C81$@DOM1,C81,C81,?,?,AuthMap,Success,8,7.098836e-02,7.098836e-02
87000081,618140,C81$@DOM1,C81$@DOM1,C81,C81,?,?,TGS,Success,8,7.098836e-02,7.098836e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
87999708,623842,C13525$@DOM1,C13525$@DOM1,C13525,C612,Kerberos,Network,LogOn,Success,8,5.148778e-02,5.148778e-02
87999718,623842,C1640$@DOM1,C1640$@DOM1,C2109,C612,Kerberos,Network,LogOn,Success,8,1.181980e-05,1.181980e-05
87999860,623843,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
87999862,623843,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,8,3.578713e-17,3.578713e-17
87999935,623843,C7352$@DOM1,C7352$@DOM1,C7352,C529,Kerberos,Network,LogOn,Success,8,7.565949e-02,7.565949e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
88000022,623844,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,8,1.883311e-17,1.883311e-17
88000023,623844,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,8,1.548829e-17,1.548829e-17
88000026,623844,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
88000056,623844,C15030$@DOM1,C15030$@DOM1,C15030,C529,Kerberos,Network,LogOn,Success,8,5.796827e-02,5.796827e-02
88000095,623844,C433$@DOM1,C433$@DOM1,C433,C1065,Kerberos,Network,LogOn,Success,8,9.995918e-02,9.995918e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
88999669,629153,C1811$@DOM1,C1811$@DOM1,C1812,C2106,Kerberos,Network,LogOn,Success,8,7.399603e-02,7.399603e-02
88999891,629154,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,8,2.598007e-17,2.598007e-17
88999892,629154,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
88999893,629154,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,8,3.578713e-17,3.578713e-17
88999981,629154,C6763$@DOM1,C6763$@DOM1,C6763,C612,NTLM,Network,LogOn,Success,8,5.811728e-02,5.811728e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
89000078,629155,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,8,4.464676e-18,4.464676e-18
89000084,629155,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,8,1.548829e-17,1.548829e-17
89000086,629155,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
89000109,629155,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,8,3.111875e-02,3.111875e-02
89000364,629156,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C16919,C586,NTLM,Network,LogOn,Success,8,2.008761e-02,2.008761e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
89999839,633186,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,8,8.572672e-19,8.572672e-19
89999841,633186,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,8,1.548829e-17,1.548829e-17
89999843,633186,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,8,3.578713e-17,3.578713e-17
89999873,633186,C11873$@DOM1,C11873$@DOM1,C11873,C625,Kerberos,Network,LogOn,Success,8,2.817029e-02,2.817029e-02
89999879,633186,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,8,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
90000051,633187,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,8,8.572672e-19,8.572672e-19
90000052,633187,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,8,1.883311e-17,1.883311e-17
90000056,633187,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C15418,C586,NTLM,Network,LogOn,Success,8,2.412845e-02,2.412845e-02
90000058,633187,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
90000078,633187,C11873$@DOM1,C11873$@DOM1,C11873,C528,NTLM,Network,LogOn,Success,8,2.817029e-02,2.817029e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
90999832,636664,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,8,1.883311e-17,1.883311e-17
90999833,636664,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,8,1.548829e-17,1.548829e-17
90999835,636664,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
90999878,636664,C14469$@DOM1,C14469$@DOM1,C14470,C586,Kerberos,Network,LogOn,Success,8,4.570681e-02,4.570681e-02
90999883,636664,C1640$@DOM1,C1640$@DOM1,C2109,C612,Kerberos,Network,LogOn,Success,8,1.181980e-05,1.181980e-05

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
91000030,636665,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,8,4.464676e-18,4.464676e-18
91000032,636665,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,8,1.883311e-17,1.883311e-17
91000036,636665,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
91000037,636665,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,8,3.578713e-17,3.578713e-17
91000058,636665,C1143$@DOM1,C1143$@DOM1,C1143,C612,Kerberos,Network,LogOn,Success,8,3.823098e-02,3.823098e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
91999810,640143,C123$@DOM1,C123$@DOM1,C527,C529,Kerberos,Network,LogOn,Success,8,3.111875e-02,3.111875e-02
91999811,640143,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,8,3.111875e-02,3.111875e-02
91999854,640143,C18401$@DOM1,C18401$@DOM1,C18401,C528,Kerberos,Network,LogOn,Success,8,6.864444e-02,6.864444e-02
91999892,640143,C3137$@DOM1,C3137$@DOM1,C3137,C529,Kerberos,Network,LogOn,Success,8,7.068258e-02,7.068258e-02
91999986,640143,U1653@DOM1,U1653@DOM1,C231,C231,?,Network,LogOff,Success,8,1.119052e-08,1.119052e-08

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
92000086,640143,U696@DOM1,U696@DOM1,C1695,C2327,?,?,TGS,Success,8,4.771075e-02,4.771075e-02
92000155,640144,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
92000158,640144,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,8,3.578713e-17,3.578713e-17
92000181,640144,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,8,3.111875e-02,3.111875e-02
92000392,640144,U7425@DOM1,U7425@DOM1,C16212,C2327,?,?,TGS,Success,8,5.935661e-02,5.935661e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
92999800,643522,U7573@DOM1,U7573@DOM1,C16522,C801,Kerberos,Network,LogOn,Success,8,7.049621e-02,7.049621e-02
92999822,643523,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,8,8.572672e-19,8.572672e-19
92999825,643523,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
92999852,643523,C12502$@DOM1,C12502$@DOM1,C12502,C529,Kerberos,Network,LogOn,Success,8,4.963200e-03,4.963200e-03
92999995,643523,U3599@DOM1,U3599@DOM1,C9298,C5618,Kerberos,Network,LogOn,Success,8,6.412012e-02,6.412012e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
93000075,643524,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
93000086,643524,C11031$@DOM1,C11031$@DOM1,C11031,C612,?,?,TGS,Success,8,7.092768e-02,7.092768e-02
93000287,643525,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,8,8.572672e-19,8.572672e-19
93000291,643525,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
93000310,643525,C11031$@DOM1,C11031$@DOM1,C11031,C612,Kerberos,Network,LogOn,Success,8,7.092768e-02,7.092768e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
93999929,647125,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,8,1.548829e-17,1.548829e-17
93999930,647125,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
93999932,647125,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,8,3.578713e-17,3.578713e-17
93999976,647125,C1640$@DOM1,C1640$@DOM1,C2109,C586,Kerberos,Network,LogOn,Success,8,1.181980e-05,1.181980e-05
93999992,647125,C19295$@DOM1,C19295$@DOM1,C19295,C467,Kerberos,Network,LogOn,Success,8,1.757564e-02,1.757564e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
94000128,647125,U8605@DOM1,U8605@DOM1,C18355,C743,Kerberos,Network,LogOn,Success,8,3.039446e-02,3.039446e-02
94000145,647126,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,8,8.572672e-19,8.572672e-19
94000151,647126,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
94000173,647126,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,8,3.111875e-02,3.111875e-02
94000174,647126,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,8,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
94999923,650798,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,8,3.111875e-02,3.111875e-02
94999924,650798,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,8,3.111875e-02,3.111875e-02
94999930,650798,C13661$@DOM1,C13661$@DOM1,C13661,C13661,?,?,TGS,Success,8,9.544250e-02,9.544250e-02
94999931,650798,C14190$@DOM1,C14190$@DOM1,C14190,C1065,Kerberos,Network,LogOn,Success,8,1.276800e-02,1.276800e-02
94999994,650798,C4253$@DOM1,C4253$@DOM1,C4253,C528,Kerberos,Network,LogOn,Success,8,8.685669e-02,8.685669e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
95000100,650798,U7134@DOM1,U7134@DOM1,C15767,C586,Kerberos,Network,LogOn,Success,8,5.693109e-02,5.693109e-02
95000117,650799,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,8,1.883311e-17,1.883311e-17
95000119,650799,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,8,1.548829e-17,1.548829e-17
95000120,650799,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
95000141,650799,C123$@DOM1,C123$@DOM1,C527,C523,Kerberos,Network,LogOn,Success,8,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
95999820,654376,C4964$@DOM1,C4964$@DOM1,C4964,C528,Kerberos,Network,LogOn,Success,8,5.932104e-02,5.932104e-02
95999822,654376,C5125$@DOM1,C5125$@DOM1,C5125,C586,Kerberos,Network,LogOn,Success,8,5.061664e-02,5.061664e-02
95999965,654377,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,8,8.572672e-19,8.572672e-19
95999968,654377,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
95999969,654377,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,8,3.578713e-17,3.578713e-17

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
96000036,654377,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,8,0.088047,0.088047
96000055,654377,C4964$@DOM1,C4964$@DOM1,C4964,C586,Kerberos,Network,LogOn,Success,8,0.059321,0.059321
96000163,654377,U6746@DOM1,U6746@DOM1,C2039,C2039,?,RemoteInteractive,LogOff,Success,8,0.012165,0.012165
96000172,654377,U7628@DOM1,U7628@DOM1,C306,C612,Kerberos,Network,LogOn,Success,8,0.062411,0.062411
96000173,654377,U7628@DOM1,U7628@DOM1,C612,C612,?,Network,LogOff,Success,8,0.000063,0.000063
...,...,...,...,...,...,...,...,...,...,...,...,...
96999862,657938,C15001$@DOM1,C15001$@DOM1,C15001,C586,Kerberos,Network,LogOn,Success,8,0.055253,0.055253
96999870,657938,C17150$@DOM1,C17150$@DOM1,C17150,C457,NTLM,Network,LogOn,Success,8,0.016388,0.016388
96999988,657938,U6018@DOM1,U6018@DOM1,C13781,C1640,?,?,TGS,Success,8,0.099057,0.099057
96999989,657938,U6018@DOM1,U6018@DOM1,C13781,C625,?,?,TGS,Success,8,0.099057,0.099057
96999990,657938,U6018@DOM1,U6018@DOM1,C13781,TGT,?,?,TGS,Success,8,0.099057,0.099057

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
97000028,657939,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,8,1.548829e-17,1.548829e-17
97000031,657939,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
97000033,657939,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,8,3.578713e-17,3.578713e-17
97000034,657939,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,8,2.821142e-16,2.821142e-16
97000060,657939,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,8,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
97999882,661444,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C12185,C586,NTLM,Network,LogOn,Success,8,4.816970e-02,4.816970e-02
97999889,661444,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
97999892,661444,C10212$@DOM1,C10212$@DOM1,C10213,C467,Kerberos,Network,LogOn,Success,8,4.680110e-03,4.680110e-03
97999899,661444,C11213$@DOM1,C11213$@DOM1,C11213,C528,?,?,TGS,Success,8,8.404853e-02,8.404853e-02
97999900,661444,C11213$@DOM1,C11213$@DOM1,C11213,TGT,?,?,TGS,Success,8,8.404853e-02,8.404853e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
98000054,661444,U1653@DOM1,U1653@DOM1,C2588,C754,NTLM,Network,LogOn,Success,8,2.697199e-26,2.697199e-26
98000120,661444,U5582@DOM1,U5582@DOM1,C13062,C625,Kerberos,Network,LogOn,Success,8,5.534922e-02,5.534922e-02
98000169,661445,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
98000170,661445,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,8,3.578713e-17,3.578713e-17
98000182,661445,C11138$@DOM1,C11138$@DOM1,C11138,C586,Kerberos,Network,LogOn,Success,8,5.247702e-02,5.247702e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
98999804,665143,C18159$@DOM1,C18159$@DOM1,C18159,C586,Kerberos,Network,LogOn,Success,8,2.939390e-02,2.939390e-02
98999805,665143,C18401$@DOM1,C18401$@DOM1,C18401,C625,Kerberos,Network,LogOn,Success,8,6.864444e-02,6.864444e-02
98999836,665143,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,8,8.804721e-02,8.804721e-02
98999920,665143,U1733@DOM1,U1733@DOM1,C5850,C2327,?,?,TGS,Success,8,7.706725e-02,7.706725e-02
98999921,665143,U1733@DOM1,U1733@DOM1,C5850,C5850,?,?,TGT,Success,8,7.706725e-02,7.706725e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
99000001,665144,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,8,3.790263e-20,3.790263e-20
99000002,665144,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,8,1.883311e-17,1.883311e-17
99000003,665144,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C10455,C586,NTLM,Network,LogOn,Success,8,4.465742e-02,4.465742e-02
99000005,665144,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C14504,C586,NTLM,Network,LogOn,Success,8,8.002253e-02,8.002253e-02
99000007,665144,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C2232,C586,NTLM,Network,LogOn,Success,8,8.203355e-02,8.203355e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
99999841,669561,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,8,1.548829e-17,1.548829e-17
99999843,669561,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
99999844,669561,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,8,3.578713e-17,3.578713e-17
99999865,669561,C1450$@DOM1,C1450$@DOM1,C1450,C5618,Kerberos,Network,LogOn,Success,8,1.611128e-02,1.611128e-02
99999925,669561,C2379$@DOM1,C2379$@DOM1,C2379,C467,Kerberos,Network,LogOn,Success,8,8.675392e-02,8.675392e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
100000073,669562,C20427$@DOM1,C20427$@DOM1,C20427,C528,Kerberos,Network,LogOn,Success,8,9.564595e-02,9.564595e-02
100000085,669562,C2379$@DOM1,C2379$@DOM1,C2379,C2379,?,?,TGS,Success,8,8.675392e-02,8.675392e-02
100000086,669562,C2379$@DOM1,C2379$@DOM1,C2379,C2379,?,Network,LogOff,Success,8,8.675392e-02,8.675392e-02
100000087,669562,C2379$@DOM1,C2379$@DOM1,C2379,C2379,Kerberos,Network,LogOn,Success,8,8.675392e-02,8.675392e-02
100000166,669563,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
100999748,674777,C123$@DOM1,C123$@DOM1,C527,C527,?,?,TGT,Success,8,3.111875e-02,3.111875e-02
100999749,674777,C123$@DOM1,C123$@DOM1,C527,C529,?,?,TGS,Success,8,3.111875e-02,3.111875e-02
100999886,674777,U7134@DOM1,U7134@DOM1,C15767,C528,Kerberos,Network,LogOn,Success,8,5.693109e-02,5.693109e-02
100999903,674778,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
100999904,674778,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C6010,C586,NTLM,Network,LogOn,Success,8,6.901468e-03,6.901468e-03

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
101000043,674779,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,8,8.572672e-19,8.572672e-19
101000051,674779,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
101000109,674779,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,8,8.804721e-02,8.804721e-02
101000210,674780,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,8,1.883311e-17,1.883311e-17
101000211,674780,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,8,1.548829e-17,1.548829e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
101999843,680199,C4104$@DOM1,C4104$@DOM1,C4104,C625,Kerberos,Network,LogOn,Success,8,1.221980e-02,1.221980e-02
101999858,680199,C4964$@DOM1,C4964$@DOM1,C4964,C457,Kerberos,Network,LogOn,Success,8,5.932104e-02,5.932104e-02
101999979,680200,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C2614,C586,NTLM,Network,LogOn,Success,8,5.626329e-03,5.626329e-03
101999981,680200,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
101999984,680200,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,8,3.578713e-17,3.578713e-17

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
102000114,680201,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,8,4.464676e-18,4.464676e-18
102000117,680201,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
102000119,680201,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,8,2.821142e-16,2.821142e-16
102000197,680201,C4104$@DOM1,C4104$@DOM1,C4104,C625,Kerberos,Network,LogOn,Success,8,1.221980e-02,1.221980e-02
102000295,680202,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,8,1.883311e-17,1.883311e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
102999778,685575,C4977$@DOM1,C4977$@DOM1,C4977,C529,Kerberos,Network,LogOn,Success,8,4.561451e-02,4.561451e-02
102999866,685576,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,8,2.598007e-17,2.598007e-17
102999870,685576,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,8,3.578713e-17,3.578713e-17
102999890,685576,C123$@DOM1,C123$@DOM1,C527,C527,?,?,TGT,Success,8,3.111875e-02,3.111875e-02
102999891,685576,C123$@DOM1,C123$@DOM1,C527,C529,?,?,TGS,Success,8,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
103000029,685577,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,8,1.548829e-17,1.548829e-17
103000031,685577,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C15797,C586,NTLM,Network,LogOn,Success,8,1.646312e-02,1.646312e-02
103000033,685577,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
103000059,685577,C14402$@DOM1,C14402$@DOM1,C14402,C14402,Kerberos,Network,LogOn,Success,8,8.483350e-02,8.483350e-02
103000078,685577,C1832$@DOM1,C1832$@DOM1,C1832,C1832,?,Network,LogOff,Success,8,6.077837e-02,6.077837e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
103999787,691000,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,8,4.464676e-18,4.464676e-18
103999789,691000,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,8,1.548829e-17,1.548829e-17
103999920,691000,C9195$@DOM1,C9195$@DOM1,C9195,C528,?,?,TGS,Success,8,7.419393e-02,7.419393e-02
103999921,691000,C9195$@DOM1,C9195$@DOM1,C9195,C625,?,?,TGS,Success,8,7.419393e-02,7.419393e-02
103999922,691000,C9195$@DOM1,C9195$@DOM1,C9195,C9195,?,?,TGS,Success,8,7.419393e-02,7.419393e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
104000001,691001,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,8,3.790263e-20,3.790263e-20
104000005,691001,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
104000006,691001,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,8,3.578713e-17,3.578713e-17
104000166,691001,C87$@DOM1,C87$@DOM1,C87,C586,Kerberos,Network,LogOn,Success,8,8.152286e-02,8.152286e-02
104000234,691002,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,8,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
104999969,696342,U5834@DOM1,U5834@DOM1,C13483,C586,Kerberos,Network,LogOn,Success,9,8.785580e-02,8.785580e-02
104999990,696343,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,9,2.598007e-17,2.598007e-17
104999992,696343,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,9,1.548829e-17,1.548829e-17
104999995,696343,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
104999997,696343,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C395,C612,NTLM,Network,LogOn,Success,9,6.384821e-05,6.384821e-05

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
105000014,696343,C123$@DOM1,C123$@DOM1,C527,C123,?,?,TGS,Success,9,3.111875e-02,3.111875e-02
105000212,696344,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,9,4.464676e-18,4.464676e-18
105000214,696344,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,9,8.572672e-19,8.572672e-19
105000237,696344,C123$@DOM1,C123$@DOM1,C527,C988,Kerberos,Network,LogOn,Success,9,3.111875e-02,3.111875e-02
105000255,696344,C14954$@DOM1,C14954$@DOM1,C14954,C1065,Kerberos,Network,LogOn,Success,9,5.046984e-02,5.046984e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
105999807,701875,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,9,1.548829e-17,1.548829e-17
105999809,701875,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
105999812,701875,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,9,3.578713e-17,3.578713e-17
105999946,701876,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,9,8.572672e-19,8.572672e-19
105999949,701876,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
106000136,701877,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,9,1.883311e-17,1.883311e-17
106000139,701877,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C4442,C586,NTLM,Network,LogOn,Success,9,4.595963e-02,4.595963e-02
106000140,701877,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
106000152,701877,C123$@DOM1,C123$@DOM1,C527,C467,Kerberos,Network,LogOn,Success,9,3.111875e-02,3.111875e-02
106000196,701877,C328$@DOM1,C328$@DOM1,C328,C1065,Kerberos,Network,LogOn,Success,9,5.437342e-02,5.437342e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
106999928,707217,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C2626,C586,NTLM,Network,LogOn,Success,9,9.882270e-04,9.882270e-04
106999930,707217,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
106999956,707217,C123$@DOM1,C123$@DOM1,C527,C123,?,?,TGS,Success,9,3.111875e-02,3.111875e-02
106999957,707217,C123$@DOM1,C123$@DOM1,C527,TGT,?,?,TGS,Success,9,3.111875e-02,3.111875e-02
106999975,707217,C1640$@DOM1,C1640$@DOM1,C2109,C586,Kerberos,Network,LogOn,Success,9,1.181980e-05,1.181980e-05

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
107000117,707218,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,9,4.464676e-18,4.464676e-18
107000121,707218,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
107000207,707218,C3600$@DOM1,C3600$@DOM1,C3600,C625,Kerberos,Network,LogOn,Success,9,8.556734e-02,8.556734e-02
107000247,707218,C8538$@DOM1,C8538$@DOM1,C8538,C625,Kerberos,Network,LogOn,Success,9,5.403404e-02,5.403404e-02
107000326,707219,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
107999814,712736,C123$@DOM1,C123$@DOM1,C527,C523,Kerberos,Network,LogOn,Success,9,3.111875e-02,3.111875e-02
107999868,712736,C3732$@DOM1,C3732$@DOM1,C3732,C529,Kerberos,Network,LogOn,Success,9,6.213140e-02,6.213140e-02
107999987,712737,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C10833,C586,NTLM,Network,LogOn,Success,9,3.727428e-02,3.727428e-02
107999991,712737,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
107999992,712737,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,9,2.821142e-16,2.821142e-16

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
108000057,712737,C21325$@DOM1,C21325$@DOM1,C21325,C457,?,?,TGS,Success,9,4.902368e-02,4.902368e-02
108000058,712737,C21325$@DOM1,C21325$@DOM1,C21325,C457,Kerberos,Network,LogOn,Success,9,4.902368e-02,4.902368e-02
108000192,712738,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,9,1.548829e-17,1.548829e-17
108000193,712738,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
108000302,712738,C9359$@DOM1,C9359$@DOM1,C9359,C467,Kerberos,Network,LogOn,Success,9,4.633053e-02,4.633053e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
108999769,717302,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,9,4.464676e-18,4.464676e-18
108999772,717302,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,9,1.883311e-17,1.883311e-17
108999773,717302,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
108999775,717302,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,9,3.578713e-17,3.578713e-17
108999864,717302,C4775$@DOM1,C4775$@DOM1,C4775,C528,Kerberos,Network,LogOn,Success,9,4.449791e-02,4.449791e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
109000040,717303,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,9,2.598007e-17,2.598007e-17
109000049,717303,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
109000066,717303,C123$@DOM1,C123$@DOM1,C527,C123,?,?,TGS,Success,9,3.111875e-02,3.111875e-02
109000067,717303,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,9,3.111875e-02,3.111875e-02
109000068,717303,C12564$@DOM1,C12564$@DOM1,C12564,C12564,?,?,TGS,Success,9,4.432860e-02,4.432860e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
109999771,720936,U4251@DOM1,U4251@DOM1,C10682,C625,Kerberos,Network,LogOn,Success,9,4.696202e-02,4.696202e-02
109999895,720937,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,9,4.464676e-18,4.464676e-18
109999896,720937,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,9,8.572672e-19,8.572672e-19
109999899,720937,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
109999921,720937,C12856$@DOM1,C12856$@DOM1,C12856,C528,Kerberos,Network,LogOn,Success,9,5.242295e-02,5.242295e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
110000030,720937,C8126$@DOM1,C8126$@DOM1,C8126,C529,?,?,TGS,Success,9,9.073239e-02,9.073239e-02
110000085,720937,U2922@DOM1,U2922@DOM1,C7926,C2327,?,?,TGS,Success,9,4.500335e-02,4.500335e-02
110000203,720938,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C14504,C586,NTLM,Network,LogOn,Success,9,8.002253e-02,8.002253e-02
110000206,720938,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
110000207,720938,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,9,2.821142e-16,2.821142e-16
...,...,...,...,...,...,...,...,...,...,...,...,...
110999328,724459,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
110999650,724460,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,9,1.883311e-17,1.883311e-17
110999656,724460,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
110999905,724461,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,9,1.548829e-17,1.548829e-17
110999908,724461,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
111000003,724461,C5441$@DOM1,C5441$@DOM1,C5441,C612,Kerberos,Network,LogOn,Success,9,2.115568e-02,2.115568e-02
111000187,724462,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,9,3.790263e-20,3.790263e-20
111000190,724462,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,9,8.572672e-19,8.572672e-19
111000191,724462,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,9,1.883311e-17,1.883311e-17
111000192,724462,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
111999595,727948,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
111999597,727948,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,9,3.578713e-17,3.578713e-17
111999598,727948,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,9,2.821142e-16,2.821142e-16
111999856,727949,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
111999980,727949,C5080$@DOM1,C5080$@DOM1,C5080,C586,Kerberos,Network,LogOn,Success,9,4.526884e-02,4.526884e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
112000011,727949,C7848$@DOM1,C7848$@DOM1,C7848,C528,Kerberos,Network,LogOn,Success,9,8.989973e-02,8.989973e-02
112000012,727949,C7848$@DOM1,C7848$@DOM1,C7848,C625,?,?,TGS,Success,9,8.989973e-02,8.989973e-02
112000107,727949,U3599@DOM1,U3599@DOM1,C9298,C5618,Kerberos,Network,LogOn,Success,9,6.412012e-02,6.412012e-02
112000144,727949,U5375@DOM1,U5375@DOM1,C12580,C625,Kerberos,Network,LogOn,Success,9,9.280353e-02,9.280353e-02
112000186,727950,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,9,4.464676e-18,4.464676e-18
...,...,...,...,...,...,...,...,...,...,...,...,...
112999489,731444,C1304$@DOM1,C1304$@DOM1,C1304,C1304,?,Network,LogOff,Success,9,1.931323e-02,1.931323e-02
112999727,731445,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,9,4.464676e-18,4.464676e-18
112999737,731445,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
112999757,731445,C1304$@DOM1,C1304$@DOM1,C1304,C457,Kerberos,Network,LogOn,Success,9,1.931323e-02,1.931323e-02
112999760,731445,C14181$@DOM1,C14181$@DOM1,C14181,C612,Kerberos,Network,LogOn,Success,9,1.947006e-02,1.947006e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
113000029,731446,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,9,1.883311e-17,1.883311e-17
113000031,731446,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,9,2.598007e-17,2.598007e-17
113000032,731446,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C10716,C586,NTLM,Network,LogOn,Success,9,1.757130e-03,1.757130e-03
113000037,731446,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
113000038,731446,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,9,3.578713e-17,3.578713e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
113999939,735108,U5582@DOM1,U5582@DOM1,C13062,C467,Kerberos,Network,LogOn,Success,9,5.534922e-02,5.534922e-02
113999940,735108,U5582@DOM1,U5582@DOM1,C13062,C586,Kerberos,Network,LogOn,Success,9,5.534922e-02,5.534922e-02
113999974,735109,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,9,4.464676e-18,4.464676e-18
113999975,735109,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
113999976,735109,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,9,3.578713e-17,3.578713e-17

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
114000022,735109,C22066$@DOM1,SYSTEM@C22066,C22066,C22066,Negotiate,Service,LogOn,Success,9,9.786604e-02,9.789415e-01
114000149,735110,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,9,2.598007e-17,2.598007e-17
114000154,735110,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
114000189,735110,C15482$@DOM1,C15482$@DOM1,C15482,C586,Kerberos,Network,LogOn,Success,9,2.410921e-02,2.410921e-02
114000386,735111,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,9,2.598007e-17,2.598007e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
114999836,738778,C11714$@DOM1,C11714$@DOM1,C11714,C612,Kerberos,Network,LogOn,Success,9,9.195537e-02,9.195537e-02
114999900,738778,C328$@DOM1,C328$@DOM1,C328,C586,Kerberos,Network,LogOn,Success,9,5.437342e-02,5.437342e-02
114999910,738778,C5080$@DOM1,C5080$@DOM1,C5080,C612,Kerberos,Network,LogOn,Success,9,4.526884e-02,4.526884e-02
114999933,738778,C8126$@DOM1,U2984@DOM1,C8126,C8126,Negotiate,Unlock,LogOn,Success,9,9.073239e-02,6.566057e-01
114999976,738778,U2984@DOM1,C8126$@DOM1,C8126,C8126,?,?,AuthMap,Success,9,6.566057e-01,9.073239e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
115000059,738779,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
115000075,738779,C123$@DOM1,C123$@DOM1,C527,C528,Kerberos,Network,LogOn,Success,9,3.111875e-02,3.111875e-02
115000238,738779,U1718@?,U1718@?,C5808,C15443,NTLM,Network,LogOn,Fail,9,1.010263e-04,1.010263e-04
115000239,738779,U1733@DOM1,U1733@DOM1,C5850,C2327,?,?,TGS,Success,9,7.706725e-02,7.706725e-02
115000240,738779,U1733@DOM1,U1733@DOM1,C5850,C5850,?,?,TGT,Success,9,7.706725e-02,7.706725e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
115999798,742358,U2236@DOM1,U2236@DOM1,C6623,C586,Kerberos,Network,LogOn,Success,9,1.548250e-02,1.548250e-02
115999882,742358,U9947@DOM1,U9947@DOM1,C21902,C923,?,?,TGS,Success,9,8.512619e-04,8.512619e-04
115999888,742359,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,9,1.883311e-17,1.883311e-17
115999890,742359,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,9,1.548829e-17,1.548829e-17
115999891,742359,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,9,3.578713e-17,3.578713e-17

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
116000012,742359,C5125$@DOM1,C5125$@DOM1,C5125,C529,Kerberos,Network,LogOn,Success,9,5.061664e-02,5.061664e-02
116000022,742359,C623$@DOM1,C623$@DOM1,C623,C586,Kerberos,Network,LogOn,Success,9,5.291922e-02,5.291922e-02
116000084,742359,U2236@DOM1,U2236@DOM1,C6623,C467,?,?,TGS,Success,9,1.548250e-02,1.548250e-02
116000194,742359,U9947@DOM1,U9947@DOM1,C21902,C923,Kerberos,Network,LogOn,Success,9,8.512619e-04,8.512619e-04
116000197,742360,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,9,8.572672e-19,8.572672e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
116999599,745860,C8692$@DOM1,C8692$@DOM1,C8693,C586,Kerberos,Network,LogOn,Success,9,4.838922e-02,4.838922e-02
116999728,745861,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,9,2.598007e-17,2.598007e-17
116999731,745861,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
116999799,745861,C17731$@DOM1,C17731$@DOM1,C17979,C529,NTLM,Network,LogOn,Success,9,9.503594e-02,9.503594e-02
116999837,745861,C3261$@DOM1,C3261$@DOM1,C3261,C586,Kerberos,Network,LogOn,Success,9,6.351491e-02,6.351491e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
117000029,745862,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,9,1.548829e-17,1.548829e-17
117000030,745862,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C1030,C586,NTLM,Network,LogOn,Success,9,4.303275e-03,4.303275e-03
117000032,745862,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
117000033,745862,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,9,3.578713e-17,3.578713e-17
117000064,745862,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,9,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
117999536,749457,C14402$@DOM1,C14402$@DOM1,C14402,C467,Kerberos,Network,LogOn,Success,9,8.483350e-02,8.483350e-02
117999762,749458,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,9,8.572672e-19,8.572672e-19
117999766,749458,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
117999798,749458,C1337$@DOM1,SYSTEM@C1337,C1337,C1337,Negotiate,Service,LogOn,Success,9,9.807943e-02,9.860526e-01
117999809,749458,C14402$@DOM1,C14402$@DOM1,C14402,C467,Kerberos,Network,LogOn,Success,9,8.483350e-02,8.483350e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
118000053,749459,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,9,1.548829e-17,1.548829e-17
118000056,749459,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C14768,C586,NTLM,Network,LogOn,Success,9,5.626239e-02,5.626239e-02
118000058,749459,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
118000118,749459,C17707$@DOM1,C17707$@DOM1,C17707,C528,Kerberos,Network,LogOn,Success,9,8.042353e-02,8.042353e-02
118000347,749460,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
118999783,753564,C1640$@DOM1,C1640$@DOM1,C2109,C612,Kerberos,Network,LogOn,Success,9,1.181980e-05,1.181980e-05
118999929,753564,U1284@DOM1,U1284@DOM1,C867,C2106,Kerberos,Network,LogOn,Success,9,2.408022e-02,2.408022e-02
118999947,753564,U3889@DOM1,U3889@DOM1,C9860,C467,Kerberos,Network,LogOn,Success,9,6.262465e-02,6.262465e-02
118999948,753564,U3889@DOM1,U3889@DOM1,C9860,C586,?,?,TGS,Success,9,6.262465e-02,6.262465e-02
118999999,753565,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,9,8.572672e-19,8.572672e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
119000002,753565,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C1584,C586,NTLM,Network,LogOn,Success,9,2.598639e-02,2.598639e-02
119000004,753565,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
119000129,753565,C3573$@DOM1,C3573$@DOM1,C3574,C612,Kerberos,Network,LogOn,Success,9,2.424840e-02,2.424840e-02
119000181,753565,U290@DOM1,U290@DOM1,C2748,C612,Kerberos,Network,LogOn,Success,9,6.567358e-02,6.567358e-02
119000187,753565,U3889@DOM1,U3889@DOM1,C9860,C467,?,?,TGS,Success,9,6.262465e-02,6.262465e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
119999817,758458,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C26889,C586,NTLM,Network,LogOn,Success,9,1.154178e-02,1.154178e-02
119999819,758458,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
119999827,758458,C11138$@DOM1,C11138$@DOM1,C11138,C528,Kerberos,Network,LogOn,Success,9,5.247702e-02,5.247702e-02
119999961,758459,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,9,1.883311e-17,1.883311e-17
119999964,758459,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
120000087,758460,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
120000118,758460,C16364$@DOM1,C16364$@DOM1,C16364,C1065,Kerberos,Network,LogOn,Success,9,7.500490e-03,7.500490e-03
120000240,758461,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
120000242,758461,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C7597,C586,NTLM,Network,LogOn,Success,9,7.646539e-02,7.646539e-02
120000252,758461,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,9,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
120999696,763969,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,9,1.548829e-17,1.548829e-17
120999697,763969,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
120999847,763970,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,9,1.883311e-17,1.883311e-17
120999850,763970,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C19957,C586,NTLM,Network,LogOn,Success,9,6.649275e-03,6.649275e-03
120999851,763970,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
121000023,763971,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,9,1.548829e-17,1.548829e-17
121000025,763971,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
121000045,763971,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,9,3.111875e-02,3.111875e-02
121000198,763972,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,9,1.883311e-17,1.883311e-17
121000202,763972,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
121999728,769608,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C2232,C586,NTLM,Network,LogOn,Success,9,8.203355e-02,8.203355e-02
121999730,769608,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
121999731,769608,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C5905,C586,NTLM,Network,LogOn,Success,9,1.022943e-03,1.022943e-03
121999938,769609,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,9,1.548829e-17,1.548829e-17
121999967,769609,C1486$@DOM1,C1486$@DOM1,C1486,C457,Kerberos,Network,LogOn,Success,9,9.431204e-02,9.431204e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
122000092,769610,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,9,1.548829e-17,1.548829e-17
122000096,769610,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
122000155,769610,C18159$@DOM1,C18159$@DOM1,C18159,C457,Kerberos,Network,LogOn,Success,9,2.939390e-02,2.939390e-02
122000289,769611,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,9,8.572672e-19,8.572672e-19
122000291,769611,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,9,1.548829e-17,1.548829e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
122999842,775212,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,9,1.883311e-17,1.883311e-17
122999874,775212,C14402$@DOM1,C14402$@DOM1,C14402,C467,Kerberos,Network,LogOn,Success,9,8.483350e-02,8.483350e-02
122999880,775212,C15104$@DOM1,C15104$@DOM1,C15104,C2106,Kerberos,Network,LogOn,Success,9,9.218874e-02,9.218874e-02
122999924,775212,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,9,8.804721e-02,8.804721e-02
122999937,775212,C3520$@DOM1,C3520$@DOM1,C3520,C625,Kerberos,Network,LogOn,Success,9,2.829412e-02,2.829412e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
123000056,775213,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,9,4.464676e-18,4.464676e-18
123000058,775213,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,9,3.790263e-20,3.790263e-20
123000062,775213,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,9,2.836545e-19,2.836545e-19
123000065,775213,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,9,3.578713e-17,3.578713e-17
123000078,775213,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,9,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
123999859,954027,U3487@DOM1,U3487@DOM1,C1146,C585,Kerberos,Network,LogOn,Success,12,2.522717e-02,2.522717e-02
123999871,954027,U3779@DOM1,U3779@DOM1,C3098,C585,Kerberos,Network,LogOn,Success,12,8.125714e-02,8.125714e-02
123999919,954027,U5695@DOM1,U5695@DOM1,C879,C585,Kerberos,Network,LogOn,Success,12,3.986114e-05,3.986114e-05
123999926,954027,U5743@DOM1,U5743@DOM1,C15737,C585,Kerberos,Network,LogOn,Success,12,8.279826e-06,8.279826e-06
123999952,954027,U6766@DOM1,U6766@DOM1,C732,C585,Kerberos,Network,LogOn,Success,12,1.307417e-02,1.307417e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
124000054,954028,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,12,2.598007e-17,2.598007e-17
124000056,954028,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
124000072,954028,C123$@DOM1,C123$@DOM1,C527,C528,Kerberos,Network,LogOn,Success,12,3.111875e-02,3.111875e-02
124000141,954028,U1220@DOM1,U1220@DOM1,C7637,C585,Kerberos,Network,LogOn,Success,12,9.442485e-02,9.442485e-02
124000225,954028,U2946@DOM1,U2946@DOM1,C184,C585,Kerberos,Network,LogOn,Success,12,2.388450e-03,2.388450e-03
...,...,...,...,...,...,...,...,...,...,...,...,...
124999759,960138,C16364$@DOM1,C16364$@DOM1,C16364,C586,Kerberos,Network,LogOn,Success,12,7.500490e-03,7.500490e-03
124999818,960138,C5371$@DOM1,C5371$@DOM1,C5371,C528,Kerberos,Network,LogOn,Success,12,8.797650e-02,8.797650e-02
124999899,960139,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,12,1.548829e-17,1.548829e-17
124999900,960139,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,12,3.578713e-17,3.578713e-17
124999967,960139,C5371$@DOM1,C5371$@DOM1,C5371,C529,Kerberos,Network,LogOn,Success,12,8.797650e-02,8.797650e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
125000008,960139,U3421@DOM1,U3421@DOM1,C9008,C1640,?,?,TGS,Success,12,7.374292e-02,7.374292e-02
125000038,960140,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,12,8.572672e-19,8.572672e-19
125000039,960140,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,12,2.598007e-17,2.598007e-17
125000043,960140,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
125000048,960140,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,12,2.821142e-16,2.821142e-16
...,...,...,...,...,...,...,...,...,...,...,...,...
125999868,966355,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
125999965,966356,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,12,2.598007e-17,2.598007e-17
125999968,966356,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
125999969,966356,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C6010,C586,NTLM,Network,LogOn,Success,12,6.901468e-03,6.901468e-03
125999973,966356,C1073$@DOM1,C1073$@DOM1,C1073,C586,Kerberos,Network,LogOn,Success,12,6.905511e-02,6.905511e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
126000003,966356,C1640$@DOM1,C1640$@DOM1,C2109,C586,Kerberos,Network,LogOn,Success,12,1.181980e-05,1.181980e-05
126000109,966357,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,12,8.572672e-19,8.572672e-19
126000110,966357,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,12,2.598007e-17,2.598007e-17
126000113,966357,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
126000260,966358,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
126999738,972568,C18771$@DOM1,C18771$@DOM1,C18771,C457,NTLM,Network,LogOn,Success,12,8.390913e-02,8.390913e-02
126999866,972569,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
126999892,972569,C123$@DOM1,C123$@DOM1,C527,C625,Kerberos,Network,LogOn,Success,12,3.111875e-02,3.111875e-02
126999935,972569,C18771$@DOM1,C18771$@DOM1,C18771,C18771,?,?,TGS,Success,12,8.390913e-02,8.390913e-02
126999936,972569,C18771$@DOM1,C18771$@DOM1,C18771,C625,Kerberos,Network,LogOn,Success,12,8.390913e-02,8.390913e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
127000068,972570,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,12,4.464676e-18,4.464676e-18
127000070,972570,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,12,1.883311e-17,1.883311e-17
127000074,972570,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
127000244,972570,U4016@DOM1,U4016@DOM1,C10152,C467,Kerberos,Network,LogOn,Success,12,2.784340e-02,2.784340e-02
127000275,972571,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,12,2.598007e-17,2.598007e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
127999640,978769,C13525$@DOM1,C13525$@DOM1,C13525,C586,Kerberos,Network,LogOn,Success,12,5.148778e-02,5.148778e-02
127999650,978769,C15018$@DOM1,C15018$@DOM1,C15018,C1065,Kerberos,Network,LogOn,Success,12,8.613301e-02,8.613301e-02
127999764,978770,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,12,2.598007e-17,2.598007e-17
127999871,978771,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
127999929,978771,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,12,8.804721e-02,8.804721e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
128000070,978772,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,12,8.572672e-19,8.572672e-19
128000072,978772,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,12,2.598007e-17,2.598007e-17
128000073,978772,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C3139,C586,NTLM,Network,LogOn,Success,12,3.471785e-05,3.471785e-05
128000074,978772,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
128000099,978772,C1450$@DOM1,C1450$@DOM1,C1450,C5618,Kerberos,Network,LogOn,Success,12,1.611128e-02,1.611128e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
128999844,984815,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
128999981,984816,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,12,2.598007e-17,2.598007e-17
128999982,984816,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,12,1.548829e-17,1.548829e-17
128999986,984816,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C3149,C586,NTLM,Network,LogOn,Success,12,8.894062e-02,8.894062e-02
128999987,984816,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
129000007,984816,C14954$@DOM1,C14954$@DOM1,C14954,C528,Kerberos,Network,LogOn,Success,12,5.046984e-02,5.046984e-02
129000123,984817,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,12,8.572672e-19,8.572672e-19
129000125,984817,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
129000210,984817,C459$@DOM1,C459$@DOM1,C459,C586,Kerberos,Network,LogOn,Success,12,6.856154e-02,6.856154e-02
129000273,984818,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,12,2.598007e-17,2.598007e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
129999851,990840,C5069$@DOM1,C5069$@DOM1,C5069,TGT,?,?,TGS,Success,12,7.727715e-02,7.727715e-02
129999875,990840,C623$@DOM1,C623$@DOM1,C623,C801,Kerberos,Network,LogOn,Success,12,5.291922e-02,5.291922e-02
129999967,990841,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,12,1.883311e-17,1.883311e-17
129999970,990841,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
129999971,990841,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C8827,C586,NTLM,Network,LogOn,Success,12,4.178694e-02,4.178694e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
130000106,990842,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,12,8.572672e-19,8.572672e-19
130000108,990842,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,12,1.548829e-17,1.548829e-17
130000111,990842,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
130000112,990842,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,12,3.578713e-17,3.578713e-17
130000324,990843,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,12,4.464676e-18,4.464676e-18
...,...,...,...,...,...,...,...,...,...,...,...,...
130999667,996951,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
130999814,996952,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,12,1.883311e-17,1.883311e-17
130999944,996953,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
130999956,996953,C123$@DOM1,C123$@DOM1,C527,C523,Kerberos,Network,LogOn,Success,12,3.111875e-02,3.111875e-02
130999974,996953,C1640$@DOM1,C1640$@DOM1,C2109,C2106,Kerberos,Network,LogOn,Success,12,1.181980e-05,1.181980e-05

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
131000006,996953,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,12,8.804721e-02,8.804721e-02
131000104,996954,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,12,3.111875e-02,3.111875e-02
131000120,996954,C15656$@DOM1,C15656$@DOM1,C15656,C467,Kerberos,Network,LogOn,Success,12,6.880988e-02,6.880988e-02
131000126,996954,C1640$@DOM1,C1640$@DOM1,C2109,C2106,Kerberos,Network,LogOn,Success,12,1.181980e-05,1.181980e-05
131000200,996954,U1733@DOM1,U1733@DOM1,C5850,C2310,?,?,AuthMap,Success,12,7.706725e-02,7.706725e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
131999859,1002958,U1733@DOM1,U1733@DOM1,C5850,C2310,?,?,AuthMap,Success,12,7.706725e-02,7.706725e-02
131999860,1002958,U1733@DOM1,U1733@DOM1,C5850,C2327,?,?,TGS,Success,12,7.706725e-02,7.706725e-02
131999861,1002958,U1733@DOM1,U1733@DOM1,C5850,C5850,?,?,TGT,Success,12,7.706725e-02,7.706725e-02
131999898,1002959,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,12,4.464676e-18,4.464676e-18
131999906,1002959,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
132000000,1002959,C7428$@DOM1,C7428$@DOM1,C7429,C586,Kerberos,Network,LogOn,Success,12,5.287591e-02,5.287591e-02
132000042,1002960,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
132000079,1002960,C1640$@DOM1,C1640$@DOM1,C2109,C586,Kerberos,Network,LogOn,Success,12,1.181980e-05,1.181980e-05
132000196,1002961,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,12,8.572672e-19,8.572672e-19
132000201,1002961,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
132999880,1008890,C3707$@DOM1,C3707$@DOM1,C3707,C528,Kerberos,Network,LogOn,Success,12,3.541667e-02,3.541667e-02
132999908,1008890,U1733@DOM1,U1733@DOM1,C5850,C2310,?,?,AuthMap,Success,12,7.706725e-02,7.706725e-02
132999943,1008891,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C27137,C586,NTLM,Network,LogOn,Success,12,4.498335e-02,4.498335e-02
132999944,1008891,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
132999991,1008891,C14469$@DOM1,C14469$@DOM1,C14470,C528,Kerberos,Network,LogOn,Success,12,4.570681e-02,4.570681e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
133000129,1008892,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
133000130,1008892,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,12,2.821142e-16,2.821142e-16
133000166,1008892,C16539$@DOM1,C16539$@DOM1,C16539,C1065,Kerberos,Network,LogOn,Success,12,8.487929e-02,8.487929e-02
133000221,1008892,C7932$@DOM1,C7932$@DOM1,C7932,C529,Kerberos,Network,LogOn,Success,12,7.661575e-02,7.661575e-02
133000274,1008893,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,12,8.572672e-19,8.572672e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
133999763,1015227,C11621$@DOM1,C11621$@DOM1,C11621,C528,Kerberos,Network,LogOn,Success,12,4.317828e-02,4.317828e-02
133999764,1015227,C11621$@DOM1,C11621$@DOM1,C11621,TGT,?,?,TGS,Success,12,4.317828e-02,4.317828e-02
133999927,1015228,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
133999928,1015228,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,12,3.578713e-17,3.578713e-17
133999960,1015228,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,12,8.804721e-02,8.804721e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
134000035,1015229,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,12,1.548829e-17,1.548829e-17
134000037,1015229,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
134000197,1015230,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
134000305,1015231,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,12,8.572672e-19,8.572672e-19
134000306,1015231,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
134999867,1021508,C13952$@DOM1,C13952$@DOM1,C13952,C586,Kerberos,Network,LogOn,Success,12,6.382494e-02,6.382494e-02
134999964,1021509,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
134999965,1021509,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,12,3.578713e-17,3.578713e-17
134999985,1021509,C12856$@DOM1,C12856$@DOM1,C12856,C528,Kerberos,Network,LogOn,Success,12,5.242295e-02,5.242295e-02
134999990,1021509,C1640$@DOM1,C1640$@DOM1,C2109,C528,Kerberos,Network,LogOn,Success,12,1.181980e-05,1.181980e-05

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
135000106,1021510,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
135000107,1021510,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,12,3.578713e-17,3.578713e-17
135000203,1021511,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
135000267,1021511,C6110$@DOM1,C6110$@DOM1,C6110,C612,NTLM,Network,LogOn,Success,12,6.919383e-02,6.919383e-02
135000275,1021511,C8126$@DOM1,C8126$@DOM1,C8126,C1065,Kerberos,Network,LogOn,Success,12,9.073239e-02,9.073239e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
135999898,1027879,C7932$@DOM1,C7932$@DOM1,C7932,C612,Kerberos,Network,LogOn,Success,12,7.661575e-02,7.661575e-02
135999899,1027879,C7932$@DOM1,C7932$@DOM1,C7932,C7932,Kerberos,Network,LogOn,Success,12,7.661575e-02,7.661575e-02
135999962,1027880,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,12,1.548829e-17,1.548829e-17
135999965,1027880,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
135999967,1027880,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,12,2.821142e-16,2.821142e-16

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
136000161,1027881,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
136000163,1027881,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C7507,C586,NTLM,Network,LogOn,Success,12,8.112886e-03,8.112886e-03
136000189,1027881,C15001$@DOM1,C15001$@DOM1,C15001,C529,Kerberos,Network,LogOn,Success,12,5.525254e-02,5.525254e-02
136000231,1027881,C5371$@DOM1,C5371$@DOM1,C5371,C612,Kerberos,Network,LogOn,Success,12,8.797650e-02,8.797650e-02
136000320,1027882,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C10760,C586,NTLM,Network,LogOn,Success,12,2.754999e-05,2.754999e-05
...,...,...,...,...,...,...,...,...,...,...,...,...
136999604,1034106,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
136999753,1034107,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
136999786,1034107,C1811$@DOM1,C1811$@DOM1,C1812,C612,Kerberos,Network,LogOn,Success,12,7.399603e-02,7.399603e-02
136999925,1034108,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,12,3.578713e-17,3.578713e-17
136999971,1034108,C19312$@DOM1,C19312$@DOM1,C19312,C529,Kerberos,Network,LogOn,Success,12,4.653744e-02,4.653744e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
137000046,1034109,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C11789,C586,NTLM,Network,LogOn,Success,12,3.919258e-02,3.919258e-02
137000051,1034109,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
137000251,1034110,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
137000391,1034111,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,12,2.836545e-19,2.836545e-19
137000403,1034111,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,12,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
137999843,1040338,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
137999845,1040338,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,13,3.578713e-17,3.578713e-17
137999864,1040338,C123$@DOM1,C123$@DOM1,C527,C612,Kerberos,Network,LogOn,Success,13,3.111875e-02,3.111875e-02
137999879,1040338,C1515$@DOM1,C1515$@DOM1,C1515,C528,Kerberos,Network,LogOn,Success,13,6.097062e-02,6.097062e-02
137999880,1040338,C1515$@DOM1,C1515$@DOM1,C1515,C529,Kerberos,Network,LogOn,Success,13,6.097062e-02,6.097062e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
138000029,1040339,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,13,8.572672e-19,8.572672e-19
138000031,1040339,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
138000032,1040339,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,13,2.821142e-16,2.821142e-16
138000043,1040339,C123$@DOM1,C123$@DOM1,C527,C612,Kerberos,Network,LogOn,Success,13,3.111875e-02,3.111875e-02
138000052,1040339,C1515$@DOM1,C1515$@DOM1,C1515,C1515,?,?,TGS,Success,13,6.097062e-02,6.097062e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
138999931,1046578,C9096$@DOM1,C9096$@DOM1,C9096,C9096,Kerberos,Network,LogOn,Success,13,4.497789e-03,4.497789e-03
138999932,1046578,C927$@DOM1,C927$@DOM1,C927,C586,Kerberos,Network,LogOn,Success,13,6.936732e-02,6.936732e-02
138999987,1046579,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,13,1.883311e-17,1.883311e-17
138999991,1046579,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
138999993,1046579,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,13,3.578713e-17,3.578713e-17

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
139000023,1046579,C2162$@DOM1,C2162$@DOM1,C457,C457,?,Network,LogOff,Success,13,7.600029e-02,7.600029e-02
139000075,1046579,C9096$@DOM1,C9096$@DOM1,C9096,C1065,Kerberos,Network,LogOn,Success,13,4.497789e-03,4.497789e-03
139000109,1046580,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,13,1.883311e-17,1.883311e-17
139000114,1046580,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
139000157,1046580,C18246$@DOM1,C18246$@DOM1,C18246,C586,Kerberos,Network,LogOn,Success,13,9.485486e-02,9.485486e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
139999685,1053036,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
139999688,1053036,C10378$@DOM1,C10378$@DOM1,C10378,C467,Kerberos,Network,LogOn,Success,13,4.057767e-02,4.057767e-02
139999854,1053037,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
139999857,1053037,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,13,3.578713e-17,3.578713e-17
139999900,1053037,C1832$@DOM1,C1832$@DOM1,C1832,C1832,Kerberos,Network,LogOn,Success,13,6.077837e-02,6.077837e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
140000025,1053038,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
140000041,1053038,C1515$@DOM1,C1515$@DOM1,C1515,C1065,Kerberos,Network,LogOn,Success,13,6.097062e-02,6.097062e-02
140000144,1053039,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
140000147,1053039,C10321$@DOM1,C10321$@DOM1,C10321,C528,Kerberos,Network,LogOn,Success,13,2.198800e-02,2.198800e-02
140000148,1053039,C10321$@DOM1,C10321$@DOM1,C10321,C528,NTLM,Network,LogOn,Success,13,2.198800e-02,2.198800e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
140999633,1059275,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
140999708,1059275,C4712$@DOM1,C4712$@DOM1,C4712,C1065,Kerberos,Network,LogOn,Success,13,2.821711e-02,2.821711e-02
140999801,1059276,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,13,1.883311e-17,1.883311e-17
140999803,1059276,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
140999949,1059277,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
141000004,1059277,C1640$@DOM1,C1640$@DOM1,C2109,C612,Kerberos,Network,LogOn,Success,13,1.181980e-05,1.181980e-05
141000011,1059277,C1832$@DOM1,C1832$@DOM1,C1832,C1832,Kerberos,Network,LogOn,Success,13,6.077837e-02,6.077837e-02
141000147,1059278,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,13,3.790263e-20,3.790263e-20
141000149,1059278,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,13,2.821142e-16,2.821142e-16
141000209,1059278,C3237$@DOM1,C3237$@DOM1,C3237,C625,Kerberos,Network,LogOn,Success,13,9.100461e-02,9.100461e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
141999882,1063674,ANONYMOUS LOGON@C754,ANONYMOUS LOGON@C754,C754,C754,?,Network,LogOff,Success,13,4.021694e-19,4.021694e-19
141999909,1063674,C1236$@DOM1,C1236$@DOM1,C1236,C1236,?,?,TGT,Success,13,2.274722e-02,2.274722e-02
141999910,1063674,C1236$@DOM1,C1236$@DOM1,C1236,TGT,?,?,TGS,Success,13,2.274722e-02,2.274722e-02
141999916,1063674,C14492$@DOM1,C14492$@DOM1,C14492,C457,Kerberos,Network,LogOn,Success,13,9.773106e-02,9.773106e-02
141999943,1063674,C17546$@DOM1,C17546$@DOM1,C17546,C529,Kerberos,Network,LogOn,Success,13,2.449647e-02,2.449647e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
142000071,1063674,C8908$@DOM1,C8908$@DOM1,C8908,C2173,?,?,TGS,Success,13,2.821444e-02,2.821444e-02
142000072,1063674,C8908$@DOM1,C8908$@DOM1,C8908,C231,?,?,TGS,Success,13,2.821444e-02,2.821444e-02
142000073,1063674,C8908$@DOM1,C8908$@DOM1,C8908,C706,?,?,TGS,Success,13,2.821444e-02,2.821444e-02
142000168,1063674,U9022@DOM1,U9022@DOM1,C19147,C1065,?,?,TGS,Success,13,7.607996e-02,7.607996e-02
142000169,1063674,U9022@DOM1,U9022@DOM1,C19147,C1065,Kerberos,Network,LogOn,Success,13,7.607996e-02,7.607996e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
142999605,1066959,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,13,2.821142e-16,2.821142e-16
142999690,1066959,C19752$@DOM1,C19752$@DOM1,C19752,C2106,Kerberos,Network,LogOn,Success,13,2.733972e-02,2.733972e-02
142999813,1066959,U1653@DOM1,SYSTEM@C15628,C15628,C754,?,?,AuthMap,Success,13,1.088215e-02,7.771428e-01
142999942,1066960,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,13,8.572672e-19,8.572672e-19
142999944,1066960,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
143000063,1066960,C4353$@DOM1,C4353$@DOM1,C4353,C529,Kerberos,Network,LogOn,Success,13,6.806632e-02,6.806632e-02
143000064,1066960,C4353$@DOM1,C4353$@DOM1,C4353,TGT,?,?,TGS,Success,13,6.806632e-02,6.806632e-02
143000114,1066960,U1653@DOM1,U1653@DOM1,C754,C754,?,Network,LogOff,Success,13,1.320976e-13,1.320976e-13
143000161,1066960,U6468@DOM1,U6468@DOM1,C6639,C529,?,?,TGS,Success,13,7.262660e-02,7.262660e-02
143000162,1066960,U6468@DOM1,U6468@DOM1,C6639,C529,Kerberos,Network,LogOn,Success,13,7.262660e-02,7.262660e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
143999973,1069925,U788@DOM1,U788@DOM1,C8219,C8219,?,CachedInteractive,LogOff,Success,13,1.027759e-04,1.027759e-04
143999974,1069925,U788@DOM1,U788@DOM1,C8219,C8219,Negotiate,CachedInteractive,LogOn,Success,13,1.027759e-04,1.027759e-04
143999975,1069925,U788@DOM1,U788@DOM1,C8219,C8219,Negotiate,Interactive,LogOn,Success,13,1.027759e-04,1.027759e-04
143999992,1069926,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,13,1.548829e-17,1.548829e-17
143999999,1069926,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C22521,C586,NTLM,Network,LogOn,Success,13,2.402250e-03,2.402250e-03

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
144000001,1069926,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
144000003,1069926,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,13,3.578713e-17,3.578713e-17
144000004,1069926,ANONYMOUS LOGON@C754,ANONYMOUS LOGON@C754,C2841,C754,NTLM,Network,LogOn,Success,13,1.150064e-14,1.150064e-14
144000005,1069926,ANONYMOUS LOGON@C754,ANONYMOUS LOGON@C754,C4370,C754,NTLM,Network,LogOn,Success,13,5.115792e-05,5.115792e-05
144000006,1069926,ANONYMOUS LOGON@C754,ANONYMOUS LOGON@C754,C754,C754,?,Network,LogOff,Success,13,4.021694e-19,4.021694e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
144999804,1073198,U3421@DOM1,U3421@DOM1,C9008,C10,NTLM,Network,LogOn,Success,13,7.374292e-02,7.374292e-02
144999863,1073199,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,13,2.598007e-17,2.598007e-17
144999865,1073199,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,13,1.548829e-17,1.548829e-17
144999891,1073199,C13181$@DOM1,C13181$@DOM1,C13181,C528,Kerberos,Network,LogOn,Success,13,9.396623e-02,9.396623e-02
144999946,1073199,C20427$@DOM1,C20427$@DOM1,C20427,C457,Kerberos,Network,LogOn,Success,13,9.564595e-02,9.564595e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
145000131,1073200,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,13,4.464676e-18,4.464676e-18
145000143,1073200,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C1245,C586,NTLM,Network,LogOn,Success,13,5.277520e-02,5.277520e-02
145000147,1073200,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
145000148,1073200,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,13,3.578713e-17,3.578713e-17
145000252,1073200,C19295$@DOM1,C19295$@DOM1,C19295,C19295,Kerberos,Network,LogOn,Success,13,1.757564e-02,1.757564e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
145999726,1076524,C3196$@DOM1,C3196$@DOM1,C3196,C3196,?,Network,LogOff,Success,13,1.314739e-02,1.314739e-02
145999787,1076524,U1192@DOM1,U1192@DOM1,C3928,C2327,?,?,TGS,Success,13,2.978849e-02,2.978849e-02
145999910,1076525,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
145999939,1076525,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,13,3.111875e-02,3.111875e-02
145999940,1076525,C123$@DOM1,C123$@DOM1,C527,C988,Kerberos,Network,LogOn,Success,13,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
146000196,1076526,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C19957,C586,NTLM,Network,LogOn,Success,13,6.649275e-03,6.649275e-03
146000197,1076526,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
146000462,1076526,U4385@DOM1,U4385@DOM1,C11006,C612,Kerberos,Network,LogOn,Success,13,7.246589e-02,7.246589e-02
146000533,1076527,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
146000536,1076527,ANONYMOUS LOGON@C754,ANONYMOUS LOGON@C754,C754,C754,?,Network,LogOff,Success,13,4.021694e-19,4.021694e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
146999821,1079899,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,13,2.821142e-16,2.821142e-16
146999852,1079899,C123$@DOM1,C123$@DOM1,C527,C2106,Kerberos,Network,LogOn,Success,13,3.111875e-02,3.111875e-02
146999907,1079899,C2162$@DOM1,C2162$@DOM1,C457,C457,?,Network,LogOff,Success,13,7.600029e-02,7.600029e-02
146999935,1079899,C4178$@DOM1,C4178$@DOM1,C4178,C467,Kerberos,Network,LogOn,Success,13,6.856336e-03,6.856336e-03
146999936,1079899,C4178$@DOM1,C4178$@DOM1,C4178,TGT,?,?,TGS,Success,13,6.856336e-03,6.856336e-03

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
147000042,1079899,U4264@DOM1,U4264@DOM1,C10495,C3040,?,?,TGS,Success,13,6.125634e-02,6.125634e-02
147000119,1079900,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
147000120,1079900,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,13,3.578713e-17,3.578713e-17
147000121,1079900,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,13,2.821142e-16,2.821142e-16
147000157,1079900,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,13,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
147999957,1083376,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,13,8.572672e-19,8.572672e-19
147999958,1083376,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,13,1.883311e-17,1.883311e-17
147999959,1083376,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,13,1.548829e-17,1.548829e-17
147999960,1083376,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
147999981,1083376,C1143$@DOM1,C1143$@DOM1,C1143,C2106,Kerberos,Network,LogOn,Success,13,3.823098e-02,3.823098e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
148000202,1083376,U3975@DOM9,U3975@DOM9,C466,C3699,?,?,TGS,Success,13,7.656076e-02,7.656076e-02
148000203,1083376,U3975@DOM9,U3975@DOM9,C466,C467,?,?,TGS,Success,13,7.656076e-02,7.656076e-02
148000204,1083376,U3975@DOM9,U3975@DOM9,C466,C586,?,?,TGS,Success,13,7.656076e-02,7.656076e-02
148000273,1083376,U9574@DOM1,U9574@DOM1,C20185,C2106,Kerberos,Network,LogOn,Success,13,4.263460e-02,4.263460e-02
148000280,1083377,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,13,4.464676e-18,4.464676e-18
...,...,...,...,...,...,...,...,...,...,...,...,...
148999911,1086763,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,13,2.598007e-17,2.598007e-17
148999912,1086763,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,13,1.548829e-17,1.548829e-17
148999914,1086763,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C12613,C586,NTLM,Network,LogOn,Success,13,1.970336e-02,1.970336e-02
148999921,1086763,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
148999987,1086763,C17707$@DOM1,C17707$@DOM1,C17707,C2106,Kerberos,Network,LogOn,Success,13,8.042353e-02,8.042353e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
149000255,1086764,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,13,3.790263e-20,3.790263e-20
149000256,1086764,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,13,1.883311e-17,1.883311e-17
149000258,1086764,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
149000261,1086764,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,13,3.578713e-17,3.578713e-17
149000565,1086765,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,13,8.572672e-19,8.572672e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
149999584,1090172,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
149999587,1090172,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,13,3.578713e-17,3.578713e-17
149999728,1090172,U11441@?,U11441@?,C529,C529,?,?,TGT,Fail,13,8.783853e-03,8.783853e-03
149999853,1090173,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
149999854,1090173,C10249$@DOM1,C10249$@DOM1,C10249,C528,Kerberos,Network,LogOn,Success,13,2.655328e-02,2.655328e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
150000031,1090173,U2756@DOM1,U2756@DOM1,C7699,C529,Kerberos,Network,LogOn,Success,13,5.151432e-02,5.151432e-02
150000105,1090174,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,13,8.572672e-19,8.572672e-19
150000108,1090174,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C15421,C586,NTLM,Network,LogOn,Success,13,3.564743e-03,3.564743e-03
150000111,1090174,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
150000194,1090174,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,13,8.804721e-02,8.804721e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
150999662,1093587,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
150999700,1093587,C13376$@DOM1,C13376$@DOM1,C13376,C528,Kerberos,Network,LogOn,Success,13,7.726666e-02,7.726666e-02
150999822,1093587,C8908$@DOM1,C8908$@DOM1,C8908,C612,Kerberos,Network,LogOn,Success,13,2.821444e-02,2.821444e-02
150999945,1093588,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
150999981,1093588,C13376$@DOM1,C13376$@DOM1,C13376,C528,Kerberos,Network,LogOn,Success,13,7.726666e-02,7.726666e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
151000197,1093589,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C18982,C457,NTLM,Network,LogOn,Success,13,2.397557e-02,2.397557e-02
151000200,1093589,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
151000410,1093589,C9359$@DOM1,C9359$@DOM1,C9359,C2162,Kerberos,Network,LogOn,Success,13,4.633053e-02,4.633053e-02
151000444,1093589,U2240@DOM1,U2240@DOM1,C3854,C457,Kerberos,Network,LogOn,Success,13,6.846119e-02,6.846119e-02
151000581,1093590,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,13,2.598007e-17,2.598007e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
151999790,1097128,C11621$@DOM1,C11621$@DOM1,C11621,C586,Kerberos,Network,LogOn,Success,13,4.317828e-02,4.317828e-02
151999795,1097128,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,13,3.111875e-02,3.111875e-02
151999975,1097129,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,13,8.572672e-19,8.572672e-19
151999978,1097129,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C15675,C586,NTLM,Network,LogOn,Success,13,5.584087e-02,5.584087e-02
151999983,1097129,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
152000021,1097129,C15482$@DOM1,C15482$@DOM1,C15482,C625,Kerberos,Network,LogOn,Success,13,2.410921e-02,2.410921e-02
152000124,1097129,C8613$@DOM1,C8613$@DOM1,C8613,C1065,Kerberos,Network,LogOn,Success,13,5.149835e-02,5.149835e-02
152000129,1097129,C9359$@DOM1,C9359$@DOM1,C9359,C2162,Kerberos,Network,LogOn,Success,13,4.633053e-02,4.633053e-02
152000229,1097130,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
152000325,1097130,C433$@DOM1,C433$@DOM1,C433,C1065,Kerberos,Network,LogOn,Success,13,9.995918e-02,9.995918e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
152999898,1101411,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,13,1.548829e-17,1.548829e-17
152999901,1101411,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,13,3.578713e-17,3.578713e-17
152999924,1101411,C12154$@DOM1,C12154$@DOM1,C12154,C529,Kerberos,Network,LogOn,Success,13,8.525361e-02,8.525361e-02
152999983,1101411,C4511$@DOM1,C4511$@DOM1,C4511,C625,Kerberos,Network,LogOn,Success,13,9.547989e-03,9.547989e-03
152999987,1101411,C5069$@DOM1,C5069$@DOM1,C5069,C612,Kerberos,Network,LogOn,Success,13,7.727715e-02,7.727715e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
153000110,1101412,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,13,8.572672e-19,8.572672e-19
153000111,1101412,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,13,1.548829e-17,1.548829e-17
153000118,1101412,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
153000139,1101412,C11266$@DOM1,C11266$@DOM1,C11267,C586,Kerberos,Network,LogOn,Success,13,9.926423e-02,9.926423e-02
153000163,1101412,C1450$@DOM1,C1450$@DOM1,C1450,C5618,Kerberos,Network,LogOn,Success,13,1.611128e-02,1.611128e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
153999834,1106247,C1832$@DOM1,C1832$@DOM1,C1832,TGT,?,?,TGS,Success,13,6.077837e-02,6.077837e-02
153999892,1106247,C623$@DOM1,C623$@DOM1,C623,C801,Kerberos,Network,LogOn,Success,13,5.291922e-02,5.291922e-02
153999964,1106247,U5842@DOM1,U5842@DOM1,C17196,C10,Kerberos,Network,LogOn,Success,13,6.963807e-02,6.963807e-02
153999989,1106248,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,13,2.598007e-17,2.598007e-17
153999992,1106248,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
154000044,1106248,C1832$@DOM1,C1832$@DOM1,C1832,C528,Kerberos,Network,LogOn,Success,13,6.077837e-02,6.077837e-02
154000073,1106248,C2219$@DOM1,C2219$@DOM1,C2219,C528,Kerberos,Network,LogOn,Success,13,9.637414e-02,9.637414e-02
154000226,1106249,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,13,4.464676e-18,4.464676e-18
154000233,1106249,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
154000235,1106249,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,13,2.821142e-16,2.821142e-16
...,...,...,...,...,...,...,...,...,...,...,...,...
154999676,1111330,C14757$@DOM1,C14757$@DOM1,C14757,TGT,?,?,TGS,Success,13,6.346286e-02,6.346286e-02
154999846,1111331,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C10466,C586,NTLM,Network,LogOn,Success,13,2.000888e-02,2.000888e-02
154999847,1111331,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C18357,C586,NTLM,Network,LogOn,Success,13,2.878024e-02,2.878024e-02
154999849,1111331,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
154999972,1111331,C5573$@DOM1,C5573$@DOM1,C5478,C529,Kerberos,Network,LogOn,Success,13,4.110934e-02,4.110934e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
155000051,1111331,U838@DOM1,U838@DOM1,C4525,C5769,Kerberos,Network,LogOn,Success,13,8.675935e-02,8.675935e-02
155000059,1111332,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
155000060,1111332,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C905,C586,NTLM,Network,LogOn,Success,13,3.250978e-03,3.250978e-03
155000243,1111333,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,13,1.548829e-17,1.548829e-17
155000245,1111333,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
155999808,1116457,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,13,3.111875e-02,3.111875e-02
155999826,1116457,C14984$@DOM1,C14984$@DOM1,C14984,C586,Kerberos,Network,LogOn,Success,13,6.985918e-02,6.985918e-02
155999890,1116457,C459$@DOM1,C459$@DOM1,C459,C528,Kerberos,Network,LogOn,Success,13,6.856154e-02,6.856154e-02
155999974,1116457,U4004@DOM1,U4004@DOM1,C10347,C10347,?,?,TGT,Success,13,6.779064e-02,6.779064e-02
155999975,1116457,U4004@DOM1,U4004@DOM1,C10347,C2327,?,?,TGS,Success,13,6.779064e-02,6.779064e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
156000009,1116458,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
156000122,1116458,C459$@DOM1,C459$@DOM1,C459,C528,?,?,TGS,Success,13,6.856154e-02,6.856154e-02
156000223,1116459,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C27137,C586,NTLM,Network,LogOn,Success,13,4.498335e-02,4.498335e-02
156000224,1116459,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
156000324,1116459,C433$@DOM1,C433$@DOM1,C433,C467,Kerberos,Network,LogOn,Success,13,9.995918e-02,9.995918e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
156999784,1121647,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,13,8.804721e-02,8.804721e-02
156999909,1121648,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,13,2.598007e-17,2.598007e-17
156999910,1121648,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,13,1.548829e-17,1.548829e-17
156999911,1121648,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
156999961,1121648,C1640$@DOM1,C1640$@DOM1,C2109,C612,Kerberos,Network,LogOn,Success,13,1.181980e-05,1.181980e-05

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
157000006,1121648,C3137$@DOM1,C3137$@DOM1,C3137,C612,Kerberos,Network,LogOn,Success,13,7.068258e-02,7.068258e-02
157000013,1121648,C4181$@DOM1,C4181$@DOM1,C4182,C586,Kerberos,Network,LogOn,Success,13,9.830234e-02,9.830234e-02
157000129,1121649,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,13,2.836545e-19,2.836545e-19
157000328,1121650,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,13,4.464676e-18,4.464676e-18
157000329,1121650,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,13,1.883311e-17,1.883311e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
157999880,1126839,C5069$@DOM1,C5069$@DOM1,C5069,C612,Kerberos,Network,LogOn,Success,14,7.727715e-02,7.727715e-02
157999888,1126839,C7679$@DOM1,C7679$@DOM1,C7679,C586,Kerberos,Network,LogOn,Success,14,5.392409e-03,5.392409e-03
157999959,1126840,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
157999975,1126840,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,14,3.111875e-02,3.111875e-02
157999976,1126840,C123$@DOM1,C123$@DOM1,C527,C988,Kerberos,Network,LogOn,Success,14,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
158000125,1126841,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,14,8.572672e-19,8.572672e-19
158000126,1126841,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,14,1.883311e-17,1.883311e-17
158000132,1126841,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
158000349,1126842,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
158000505,1126843,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,14,1.883311e-17,1.883311e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
158999785,1131985,C10$@DOM1,C10$@DOM1,C529,C529,?,Network,LogOff,Success,14,7.775249e-08,7.775249e-08
158999841,1131985,C3520$@DOM1,C3520$@DOM1,C3520,C586,Kerberos,Network,LogOn,Success,14,2.829412e-02,2.829412e-02
158999936,1131985,U728@DOM1,U728@DOM1,C1065,C1065,?,Network,LogOff,Success,14,4.859388e-02,4.859388e-02
158999947,1131986,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
158999950,1131986,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,14,2.821142e-16,2.821142e-16

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
159000036,1131986,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,14,8.804721e-02,8.804721e-02
159000190,1131987,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C15418,C586,NTLM,Network,LogOn,Success,14,2.412845e-02,2.412845e-02
159000191,1131987,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C18888,C586,NTLM,Network,LogOn,Success,14,1.485886e-02,1.485886e-02
159000192,1131987,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
159000207,1131987,C13181$@DOM1,C13181$@DOM1,C13181,C467,Kerberos,Network,LogOn,Success,14,9.396623e-02,9.396623e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
159999718,1137298,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
159999913,1137299,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,14,1.883311e-17,1.883311e-17
159999915,1137299,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C10466,C586,NTLM,Network,LogOn,Success,14,2.000888e-02,2.000888e-02
159999917,1137299,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C18357,C586,NTLM,Network,LogOn,Success,14,2.878024e-02,2.878024e-02
159999918,1137299,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
160000062,1137299,U6482@DOM1,U6482@DOM1,C18696,C612,Kerberos,Network,LogOn,Success,14,6.762132e-02,6.762132e-02
160000077,1137300,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,14,1.883311e-17,1.883311e-17
160000082,1137300,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
160000106,1137300,C123$@DOM1,C123$@DOM1,C527,C523,Kerberos,Network,LogOn,Success,14,3.111875e-02,3.111875e-02
160000158,1137300,C4353$@DOM1,C4353$@DOM1,C4353,C4353,?,?,TGS,Success,14,6.806632e-02,6.806632e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
160999852,1142607,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,14,1.883311e-17,1.883311e-17
160999859,1142607,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
160999889,1142607,C123$@DOM1,C123$@DOM1,C527,C529,Kerberos,Network,LogOn,Success,14,3.111875e-02,3.111875e-02
160999910,1142607,C15802$@DOM1,C15802$@DOM1,C15802,C612,Kerberos,Network,LogOn,Success,14,4.859314e-02,4.859314e-02
160999942,1142607,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,14,8.804721e-02,8.804721e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
161000065,1142608,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,14,1.883311e-17,1.883311e-17
161000068,1142608,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
161000254,1142608,U5842@DOM1,U5842@DOM1,C17196,C10,Kerberos,Network,LogOn,Success,14,6.963807e-02,6.963807e-02
161000286,1142609,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,14,2.821142e-16,2.821142e-16
161000316,1142609,C15771$@DOM1,C15771$@DOM1,C15771,C586,Kerberos,Network,LogOn,Success,14,7.796669e-02,7.796669e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
161999722,1147684,C14655$@DOM1,C14655$@DOM1,C14655,C467,Kerberos,Network,LogOn,Success,14,1.497359e-02,1.497359e-02
161999792,1147684,C6285$@DOM1,C6285$@DOM1,C6285,C529,Kerberos,Network,LogOn,Success,14,7.406684e-02,7.406684e-02
161999893,1147685,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,14,1.883311e-17,1.883311e-17
161999895,1147685,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
161999923,1147685,C14655$@DOM1,C14655$@DOM1,C14655,C528,Kerberos,Network,LogOn,Success,14,1.497359e-02,1.497359e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
162000081,1147686,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,14,2.598007e-17,2.598007e-17
162000082,1147686,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C1289,C586,NTLM,Network,LogOn,Success,14,1.021119e-04,1.021119e-04
162000087,1147686,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
162000113,1147686,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,14,3.111875e-02,3.111875e-02
162000250,1147686,U2205@DOM1,U2205@DOM1,C6606,C3173,Kerberos,Network,LogOn,Success,14,3.672821e-02,3.672821e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
162999570,1151563,C8126$@DOM1,C8126$@DOM1,C8126,C612,Kerberos,Network,LogOn,Success,14,9.073239e-02,9.073239e-02
162999665,1151563,U7134@DOM1,U7134@DOM1,C15767,C612,Kerberos,Network,LogOn,Success,14,5.693109e-02,5.693109e-02
162999678,1151564,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,14,4.464676e-18,4.464676e-18
162999683,1151564,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
162999864,1151564,C8126$@DOM1,C8126$@DOM1,C8126,C612,Kerberos,Network,LogOn,Success,14,9.073239e-02,9.073239e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
163000048,1151565,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,14,2.598007e-17,2.598007e-17
163000049,1151565,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,14,1.548829e-17,1.548829e-17
163000054,1151565,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
163000371,1151566,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,14,1.548829e-17,1.548829e-17
163000374,1151566,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,14,3.578713e-17,3.578713e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
163999794,1154840,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
163999829,1154840,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,14,3.111875e-02,3.111875e-02
163999855,1154840,C1640$@DOM1,C1640$@DOM1,C2109,C2106,Kerberos,Network,LogOn,Success,14,1.181980e-05,1.181980e-05
163999856,1154840,C1640$@DOM1,C1640$@DOM1,C2109,C612,Kerberos,Network,LogOn,Success,14,1.181980e-05,1.181980e-05
163999911,1154840,C5181$@DOM1,C5181$@DOM1,C5181,C528,Kerberos,Network,LogOn,Success,14,2.515397e-02,2.515397e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
164000050,1154840,U8849@DOM1,U8849@DOM1,C14377,C14377,?,Interactive,LogOff,Success,14,1.797474e-05,1.797474e-05
164000067,1154841,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,14,3.790263e-20,3.790263e-20
164000068,1154841,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C585,C2106,NTLM,Network,LogOn,Success,14,1.059774e-13,1.059774e-13
164000075,1154841,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C15473,C586,NTLM,Network,LogOn,Success,14,7.163348e-02,7.163348e-02
164000077,1154841,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
164999513,1158134,C4135$@DOM1,C4135$@DOM1,C4135,C529,Kerberos,Network,LogOn,Success,14,4.265128e-03,4.265128e-03
164999709,1158135,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,14,4.464676e-18,4.464676e-18
164999712,1158135,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,14,3.790263e-20,3.790263e-20
164999713,1158135,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C561,C2106,NTLM,Network,LogOn,Success,14,8.056108e-11,8.056108e-11
164999720,1158135,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
165000000,1158136,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C150,C586,NTLM,Network,LogOn,Success,14,9.612858e-02,9.612858e-02
165000003,1158136,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C3139,C586,NTLM,Network,LogOn,Success,14,3.471785e-05,3.471785e-05
165000004,1158136,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
165000044,1158136,C123$@DOM1,C123$@DOM1,C527,C529,Kerberos,Network,LogOn,Success,14,3.111875e-02,3.111875e-02
165000065,1158136,C15018$@DOM1,C15018$@DOM1,C15018,C2106,Kerberos,Network,LogOn,Success,14,8.613301e-02,8.613301e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
165999556,1161462,C1166$@DOM1,SYSTEM@C1166,C1166,C1166,Negotiate,Service,LogOn,Success,14,2.065671e-02,9.990711e-01
165999678,1161462,C4353$@DOM1,C4353$@DOM1,C4353,C528,Kerberos,Network,LogOn,Success,14,6.806632e-02,6.806632e-02
165999951,1161463,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
165999953,1161463,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,14,3.578713e-17,3.578713e-17
165999995,1161463,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,14,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
166000030,1161463,C1640$@DOM1,C1640$@DOM1,C2109,C2106,Kerberos,Network,LogOn,Success,14,1.181980e-05,1.181980e-05
166000100,1161463,C2850$@DOM1,C2850$@DOM1,C2850,C586,Kerberos,Network,LogOn,Success,14,1.224340e-02,1.224340e-02
166000290,1161464,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
166000334,1161464,C1337$@DOM1,C1337$@DOM1,C1337,C467,NTLM,Network,LogOn,Success,14,9.807943e-02,9.807943e-02
166000615,1161464,U9314@DOM1,U9314@DOM1,C19685,C625,Kerberos,Network,LogOn,Success,14,4.516472e-02,4.516472e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
166999634,1164549,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,14,4.464676e-18,4.464676e-18
166999635,1164549,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,14,1.883311e-17,1.883311e-17
166999637,1164549,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,14,3.578713e-17,3.578713e-17
166999662,1164549,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,14,3.111875e-02,3.111875e-02
166999902,1164550,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
167000113,1164550,U2036@DOM1,U2036@DOM1,C6234,C2327,?,?,TGS,Success,14,9.289317e-02,9.289317e-02
167000114,1164550,U2036@DOM1,U2036@DOM1,C6234,C457,Kerberos,Network,LogOn,Success,14,9.289317e-02,9.289317e-02
167000286,1164551,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,14,1.883311e-17,1.883311e-17
167000289,1164551,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
167000317,1164551,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,14,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
167999859,1167965,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
167999860,1167965,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,14,3.578713e-17,3.578713e-17
167999861,1167965,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,14,2.821142e-16,2.821142e-16
167999902,1167965,C13661$@DOM1,C13661$@DOM1,C13661,C586,Kerberos,Network,LogOn,Success,14,9.544250e-02,9.544250e-02
167999952,1167965,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,14,8.804721e-02,8.804721e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
168000180,1167966,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,14,3.790263e-20,3.790263e-20
168000183,1167966,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,14,1.883311e-17,1.883311e-17
168000184,1167966,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,14,2.598007e-17,2.598007e-17
168000186,1167966,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C13486,C586,NTLM,Network,LogOn,Success,14,1.327872e-02,1.327872e-02
168000187,1167966,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
168999674,1171234,C9165$@DOM1,C9165$@DOM1,C9165,C1065,Kerberos,Network,LogOn,Success,14,3.309735e-02,3.309735e-02
168999675,1171234,C9165$@DOM1,C9165$@DOM1,C9165,C586,Kerberos,Network,LogOn,Success,14,3.309735e-02,3.309735e-02
168999802,1171234,U8871@DOM1,U8871@DOM1,C18882,C457,Kerberos,Network,LogOn,Success,14,3.930363e-02,3.930363e-02
168999931,1171235,C9165$@DOM1,C9165$@DOM1,C9165,C1065,?,?,TGS,Success,14,3.309735e-02,3.309735e-02
168999985,1171235,U2979@DOM1,U2979@DOM1,C11961,C467,Kerberos,Network,LogOn,Success,14,1.527706e-03,1.527706e-03

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
169000003,1171235,U5009@DOM1,U5009@DOM1,C612,C612,?,Network,LogOff,Success,14,2.282286e-02,2.282286e-02
169000041,1171235,U8871@DOM1,U8871@DOM1,C18882,C2327,?,?,TGS,Success,14,3.930363e-02,3.930363e-02
169000042,1171235,U8871@DOM1,U8871@DOM1,C18882,C457,?,?,TGS,Success,14,3.930363e-02,3.930363e-02
169000043,1171235,U8871@DOM1,U8871@DOM1,C18882,TGT,?,?,TGS,Success,14,3.930363e-02,3.930363e-02
169000057,1171236,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,14,4.464676e-18,4.464676e-18
...,...,...,...,...,...,...,...,...,...,...,...,...
169999928,1174481,C22072$@DOM1,C22072$@DOM1,C22072,C22072,?,?,TGS,Success,14,3.105447e-02,3.105447e-02
169999929,1174481,C22072$@DOM1,C22072$@DOM1,C22072,C467,Kerberos,Network,LogOn,Success,14,3.105447e-02,3.105447e-02
169999930,1174481,C22072$@DOM1,C22072$@DOM1,C22072,C528,Kerberos,Network,LogOn,Success,14,3.105447e-02,3.105447e-02
169999931,1174481,C22072$@DOM1,C22072$@DOM1,C22072,C586,Kerberos,Network,LogOn,Success,14,3.105447e-02,3.105447e-02
169999951,1174481,C3592$@DOM1,C3592$@DOM1,C3592,C457,Kerberos,Network,LogOn,Success,14,9.460670e-02,9.460670e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
170000033,1174481,U3666@DOM1,C1197$@DOM1,C1197,C1197,?,?,AuthMap,Success,14,8.619650e-02,9.301864e-01
170000034,1174481,U3666@DOM1,U3666@DOM1,C1197,C1197,?,Unlock,LogOff,Success,14,8.619650e-02,8.619650e-02
170000103,1174482,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,14,1.883311e-17,1.883311e-17
170000107,1174482,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
170000108,1174482,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,14,3.578713e-17,3.578713e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
170999900,1177742,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
170999931,1177742,C123$@DOM1,C123$@DOM1,C527,C457,Kerberos,Network,LogOn,Success,14,3.111875e-02,3.111875e-02
170999937,1177742,C13661$@DOM1,C13661$@DOM1,C13661,C467,Kerberos,Network,LogOn,Success,14,9.544250e-02,9.544250e-02
170999953,1177742,C1648$@DOM1,C1648$@DOM1,C1648,C528,Kerberos,Network,LogOn,Success,14,8.914224e-02,8.914224e-02
170999996,1177742,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,14,8.804721e-02,8.804721e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
171000024,1177742,C623$@DOM1,C623$@DOM1,C623,C801,Kerberos,Network,LogOn,Success,14,5.291922e-02,5.291922e-02
171000114,1177742,U4797@DOM1,U4797@DOM1,C11711,C2162,Kerberos,Network,LogOn,Success,14,6.361872e-02,6.361872e-02
171000140,1177742,U6237@DOM1,U6237@DOM1,C21327,C423,Kerberos,Network,LogOn,Success,14,1.512280e-02,1.512280e-02
171000141,1177742,U6237@DOM1,U6237@DOM1,C21327,C92,Kerberos,Network,LogOn,Success,14,1.512280e-02,1.512280e-02
171000176,1177743,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,14,8.572672e-19,8.572672e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
171999843,1180980,C14332$@DOM1,C14332$@DOM1,C14332,C586,Kerberos,Network,LogOn,Success,14,8.822723e-03,8.822723e-03
171999847,1180980,C1450$@DOM1,C1450$@DOM1,C1450,C5618,Kerberos,Network,LogOn,Success,14,1.611128e-02,1.611128e-02
171999865,1180980,C1640$@DOM1,C1640$@DOM1,C2109,C529,Kerberos,Network,LogOn,Success,14,1.181980e-05,1.181980e-05
171999909,1180980,C22984$@DOM1,C22984$@DOM1,C22984,C612,Kerberos,Network,LogOn,Success,14,8.332641e-02,8.332641e-02
171999932,1180980,C3592$@DOM1,C3592$@DOM1,C3592,C585,Kerberos,Network,LogOn,Success,14,9.460670e-02,9.460670e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
172000084,1180980,U5009@DOM1,U5009@DOM1,C612,C612,?,Network,LogOff,Success,14,2.282286e-02,2.282286e-02
172000154,1180981,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,14,2.598007e-17,2.598007e-17
172000157,1180981,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
172000186,1180981,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,14,3.111875e-02,3.111875e-02
172000198,1180981,C14332$@DOM1,C14332$@DOM1,C14332,C14332,?,Network,LogOff,Success,14,8.822723e-03,8.822723e-03
...,...,...,...,...,...,...,...,...,...,...,...,...
172999922,1184525,U5946@DOM1,U5946@DOM1,C17370,C467,?,?,TGS,Success,14,1.317186e-04,1.317186e-04
172999923,1184525,U5946@DOM1,U5946@DOM1,C17370,C467,Kerberos,Network,LogOn,Success,14,1.317186e-04,1.317186e-04
172999924,1184525,U5946@DOM1,U5946@DOM1,C17370,TGT,?,?,TGS,Success,14,1.317186e-04,1.317186e-04
172999962,1184526,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
172999984,1184526,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,14,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
173000000,1184526,C14402$@DOM1,C14402$@DOM1,C14402,C467,Kerberos,Network,LogOn,Success,14,8.483350e-02,8.483350e-02
173000166,1184526,U5946@DOM1,U5946@DOM1,C17370,C467,?,?,TGS,Success,14,1.317186e-04,1.317186e-04
173000167,1184526,U5946@DOM1,U5946@DOM1,C17370,C467,Kerberos,Network,LogOn,Success,14,1.317186e-04,1.317186e-04
173000168,1184526,U5946@DOM1,U5946@DOM1,C17370,C529,?,?,TGS,Success,14,1.317186e-04,1.317186e-04
173000169,1184526,U5946@DOM1,U5946@DOM1,C17370,C529,Kerberos,Network,LogOn,Success,14,1.317186e-04,1.317186e-04
...,...,...,...,...,...,...,...,...,...,...,...,...
173999923,1188851,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,14,1.548829e-17,1.548829e-17
173999924,1188851,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C10852,C586,NTLM,Network,LogOn,Success,14,5.101650e-02,5.101650e-02
173999931,1188851,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
173999949,1188851,C11157$@DOM1,C11157$@DOM1,C11157,C2106,Kerberos,Network,LogOn,Success,14,8.124119e-02,8.124119e-02
173999962,1188851,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,14,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
174000057,1188851,C6867$@DOM1,C6867$@DOM1,C6867,C612,Kerberos,Network,LogOn,Success,14,4.881984e-02,4.881984e-02
174000137,1188851,U6556@DOM1,U6556@DOM1,C19996,C612,?,?,TGS,Success,14,5.103886e-02,5.103886e-02
174000160,1188852,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
174000182,1188852,C123$@DOM1,C123$@DOM1,C527,C523,Kerberos,Network,LogOn,Success,14,3.111875e-02,3.111875e-02
174000194,1188852,C14757$@DOM1,C14757$@DOM1,C14757,C612,Kerberos,Network,LogOn,Success,14,6.346286e-02,6.346286e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
174999918,1193820,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
174999938,1193820,C14017$@DOM1,C14017$@DOM1,C14017,C586,Kerberos,Network,LogOn,Success,14,8.845852e-02,8.845852e-02
174999945,1193820,C14984$@DOM1,C14984$@DOM1,C14984,C528,?,?,TGS,Success,14,6.985918e-02,6.985918e-02
174999959,1193820,C16496$@DOM1,C16496$@DOM1,C16496,C612,Kerberos,Network,LogOn,Success,14,4.113583e-02,4.113583e-02
174999960,1193820,C16496$@DOM1,C16496$@DOM1,C16496,TGT,?,?,TGS,Success,14,4.113583e-02,4.113583e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
175000096,1193821,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
175000178,1193821,C4285$@DOM1,C4285$@DOM1,C4285,C586,Kerberos,Network,LogOn,Success,14,5.520938e-02,5.520938e-02
175000276,1193821,U838@DOM1,U838@DOM1,C4525,C467,Kerberos,Network,LogOn,Success,14,8.675935e-02,8.675935e-02
175000284,1193822,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,14,4.464676e-18,4.464676e-18
175000288,1193822,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,14,1.883311e-17,1.883311e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
175999840,1198918,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,14,3.790263e-20,3.790263e-20
175999842,1198918,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,14,1.883311e-17,1.883311e-17
175999844,1198918,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
175999850,1198918,C1015$@DOM1,C1015$@DOM1,C467,C467,?,Network,LogOff,Success,14,1.882669e-03,1.882669e-03
175999976,1198918,C9825$@DOM1,C9825$@DOM1,C9825,C2106,Kerberos,Network,LogOn,Success,14,4.338087e-02,4.338087e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
176000057,1198919,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,14,1.548829e-17,1.548829e-17
176000059,1198919,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
176000062,1198919,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C9250,C586,NTLM,Network,LogOn,Success,14,2.871578e-02,2.871578e-02
176000063,1198919,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,14,3.578713e-17,3.578713e-17
176000068,1198919,C1015$@DOM1,C1015$@DOM1,C1521,C1015,Kerberos,Network,LogOn,Success,14,6.807548e-08,6.807548e-08
...,...,...,...,...,...,...,...,...,...,...,...,...
176999772,1203904,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,14,1.883311e-17,1.883311e-17
176999773,1203904,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
176999847,1203904,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,14,8.804721e-02,8.804721e-02
176999962,1203905,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,14,2.598007e-17,2.598007e-17
176999964,1203905,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
177000012,1203905,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,14,8.804721e-02,8.804721e-02
177000114,1203906,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,14,1.883311e-17,1.883311e-17
177000116,1203906,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C12512,C586,NTLM,Network,LogOn,Success,14,5.854455e-02,5.854455e-02
177000118,1203906,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C26889,C586,NTLM,Network,LogOn,Success,14,1.154178e-02,1.154178e-02
177000119,1203906,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
177999855,1209055,U5834@DOM1,U5834@DOM1,C13483,C467,Kerberos,Network,LogOn,Success,14,8.785580e-02,8.785580e-02
177999856,1209055,U5842@DOM1,U5842@DOM1,C17196,C1015,NTLM,Network,LogOn,Success,14,6.963807e-02,6.963807e-02
177999895,1209056,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C2925,C586,NTLM,Network,LogOn,Success,14,3.620898e-02,3.620898e-02
177999898,1209056,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
177999899,1209056,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,14,3.578713e-17,3.578713e-17

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
178000070,1209057,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C15421,C586,NTLM,Network,LogOn,Success,14,3.564743e-03,3.564743e-03
178000072,1209057,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
178000222,1209057,U5842@DOM1,U5842@DOM1,C17196,C10,Kerberos,Network,LogOn,Success,14,6.963807e-02,6.963807e-02
178000248,1209058,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,14,3.790263e-20,3.790263e-20
178000253,1209058,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,14,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
178999759,1214126,C7390$@DOM1,C7390$@DOM1,C7390,C7390,?,?,TGS,Success,15,6.411662e-02,6.411662e-02
178999795,1214126,U1733@DOM1,U1733@DOM1,C5850,C2327,?,?,TGS,Success,15,7.706725e-02,7.706725e-02
178999796,1214126,U1733@DOM1,U1733@DOM1,C5850,C5850,?,?,TGT,Success,15,7.706725e-02,7.706725e-02
178999854,1214127,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,15,2.598007e-17,2.598007e-17
178999858,1214127,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
179000053,1214128,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,15,8.572672e-19,8.572672e-19
179000055,1214128,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C10739,C586,NTLM,Network,LogOn,Success,15,1.253243e-02,1.253243e-02
179000056,1214128,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
179000086,1214128,C13070$@DOM1,C13070$@DOM1,C13070,C528,Kerberos,Network,LogOn,Success,15,1.534817e-03,1.534817e-03
179000189,1214128,C9359$@DOM1,C9359$@DOM1,C9359,C2162,Kerberos,Network,LogOn,Success,15,4.633053e-02,4.633053e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
179999685,1219273,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,15,2.821142e-16,2.821142e-16
179999715,1219273,C16364$@DOM1,C16364$@DOM1,C16364,C586,Kerberos,Network,LogOn,Success,15,7.500490e-03,7.500490e-03
179999855,1219274,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,15,8.572672e-19,8.572672e-19
179999857,1219274,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
179999858,1219274,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,15,3.578713e-17,3.578713e-17

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
180000008,1219274,U4634@DOM1,U4634@DOM1,C11370,C585,Kerberos,Network,LogOn,Success,15,4.008621e-02,4.008621e-02
180000034,1219275,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
180000070,1219275,C1640$@DOM1,C1640$@DOM1,C2109,C528,Kerberos,Network,LogOn,Success,15,1.181980e-05,1.181980e-05
180000102,1219275,C5218$@DOM1,C5218$@DOM1,C5218,C457,Kerberos,Network,LogOn,Success,15,8.434568e-02,8.434568e-02
180000182,1219275,U9314@DOM1,U9314@DOM1,C19685,C625,Kerberos,Network,LogOn,Success,15,4.516472e-02,4.516472e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
180999680,1224547,C123$@DOM1,C123$@DOM1,C527,C457,Kerberos,Network,LogOn,Success,15,3.111875e-02,3.111875e-02
180999685,1224547,C13070$@DOM1,C13070$@DOM1,C13070,C528,Kerberos,Network,LogOn,Success,15,1.534817e-03,1.534817e-03
180999725,1224547,C1640$@DOM1,C1640$@DOM1,C2109,C2106,Kerberos,Network,LogOn,Success,15,1.181980e-05,1.181980e-05
180999968,1224548,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,15,3.790263e-20,3.790263e-20
180999974,1224548,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
181000014,1224548,C1640$@DOM1,C1640$@DOM1,C2109,C529,Kerberos,Network,LogOn,Success,15,1.181980e-05,1.181980e-05
181000150,1224548,U245@DOM1,U245@DOM1,C2816,C529,Kerberos,Network,LogOn,Success,15,7.568047e-02,7.568047e-02
181000203,1224549,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,15,3.790263e-20,3.790263e-20
181000204,1224549,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,15,8.572672e-19,8.572672e-19
181000206,1224549,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,15,1.548829e-17,1.548829e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
181999872,1228864,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,15,3.111875e-02,3.111875e-02
181999909,1228864,C1640$@DOM1,C1640$@DOM1,C2109,C2106,Kerberos,Network,LogOn,Success,15,1.181980e-05,1.181980e-05
181999911,1228864,C16409$@DOM1,C16409$@DOM1,C16409,C586,Kerberos,Network,LogOn,Success,15,7.325260e-02,7.325260e-02
181999955,1228864,C22022$@DOM1,C22022$@DOM1,C22023,C612,Kerberos,Network,LogOn,Success,15,6.823712e-02,6.823712e-02
181999991,1228864,C3967$@DOM1,C3967$@DOM1,C3967,C467,Kerberos,Network,LogOn,Success,15,4.844387e-02,4.844387e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
182000178,1228865,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,15,3.790263e-20,3.790263e-20
182000180,1228865,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,15,8.572672e-19,8.572672e-19
182000184,1228865,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C3108,C586,NTLM,Network,LogOn,Success,15,2.371216e-07,2.371216e-07
182000185,1228865,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
182000187,1228865,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,15,3.578713e-17,3.578713e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
182999509,1233440,C15102$@DOM1,C15102$@DOM1,C15102,C586,Kerberos,Network,LogOn,Success,15,9.169087e-02,9.169087e-02
182999757,1233441,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,15,4.464676e-18,4.464676e-18
182999762,1233441,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,15,1.883311e-17,1.883311e-17
182999766,1233441,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,15,3.578713e-17,3.578713e-17
182999813,1233441,C14757$@DOM1,C14757$@DOM1,C14757,C586,?,?,TGS,Success,15,6.346286e-02,6.346286e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
183000051,1233442,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,15,4.464676e-18,4.464676e-18
183000055,1233442,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,15,1.883311e-17,1.883311e-17
183000064,1233442,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
183000065,1233442,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,15,3.578713e-17,3.578713e-17
183000092,1233442,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,15,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
183999632,1236553,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
183999633,1236553,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,15,3.578713e-17,3.578713e-17
183999844,1236554,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C10833,C586,NTLM,Network,LogOn,Success,15,3.727428e-02,3.727428e-02
183999850,1236554,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
183999852,1236554,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C706,C586,NTLM,Network,LogOn,Success,15,8.162036e-09,8.162036e-09

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
184000024,1236554,C7586$@DOM1,C7586$@DOM1,C7586,C7586,?,Network,LogOff,Success,15,9.110326e-02,9.110326e-02
184000025,1236554,C7586$@DOM1,C7586$@DOM1,C7586,C7586,Kerberos,Network,LogOn,Success,15,9.110326e-02,9.110326e-02
184000145,1236555,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,15,8.572672e-19,8.572672e-19
184000147,1236555,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C10466,C586,NTLM,Network,LogOn,Success,15,2.000888e-02,2.000888e-02
184000150,1236555,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
184999804,1240188,C11213$@DOM1,C11213$@DOM1,C11213,C528,Kerberos,Network,LogOn,Success,15,8.404853e-02,8.404853e-02
184999815,1240188,C123$@DOM1,C123$@DOM1,C527,C523,Kerberos,Network,LogOn,Success,15,3.111875e-02,3.111875e-02
184999816,1240188,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,15,3.111875e-02,3.111875e-02
184999820,1240188,C12482$@DOM1,C12482$@DOM1,C12482,C529,Kerberos,Network,LogOn,Success,15,4.914259e-02,4.914259e-02
184999855,1240188,C17150$@DOM1,C17150$@DOM1,C17150,C457,Kerberos,Network,LogOn,Success,15,1.638848e-02,1.638848e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
185000008,1240188,U547@DOM1,U547@DOM1,C528,C528,?,Network,LogOff,Success,15,4.460145e-02,4.460145e-02
185000032,1240188,U8209@DOM1,U8209@DOM1,C17979,C17731,?,?,TGS,Success,15,1.287198e-02,1.287198e-02
185000033,1240188,U8209@DOM1,U8209@DOM1,C17979,C17979,?,?,TGT,Success,15,1.287198e-02,1.287198e-02
185000051,1240189,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,15,4.464676e-18,4.464676e-18
185000055,1240189,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,15,2.598007e-17,2.598007e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
185999650,1243527,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
185999652,1243527,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,15,3.578713e-17,3.578713e-17
185999653,1243527,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,15,2.821142e-16,2.821142e-16
185999958,1243528,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,15,4.464676e-18,4.464676e-18
185999962,1243528,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,15,1.548829e-17,1.548829e-17

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
186000195,1243529,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,15,2.598007e-17,2.598007e-17
186000197,1243529,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
186000301,1243529,C482$@DOM1,C482$@DOM1,C1065,C1065,?,Network,LogOff,Success,15,9.495199e-02,9.495199e-02
186000463,1243530,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C585,C467,NTLM,Network,LogOn,Success,15,3.727331e-14,3.727331e-14
186000467,1243530,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
186999848,1247030,C21162$@DOM1,C21162$@DOM1,C21162,C612,Kerberos,Network,LogOn,Success,15,4.505851e-02,4.505851e-02
186999884,1247030,C5218$@DOM1,C5218$@DOM1,C5218,C457,?,?,TGS,Success,15,8.434568e-02,8.434568e-02
186999885,1247030,C5218$@DOM1,C5218$@DOM1,C5218,C457,Kerberos,Network,LogOn,Success,15,8.434568e-02,8.434568e-02
186999970,1247030,U4016@DOM1,U4016@DOM1,C10152,C586,Kerberos,Network,LogOn,Success,15,2.784340e-02,2.784340e-02
186999977,1247030,U5221@DOM1,C12564$@DOM1,C12564,C12564,?,?,AuthMap,Success,15,9.487781e-01,4.432860e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
187000034,1247031,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,15,1.548829e-17,1.548829e-17
187000038,1247031,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
187000118,1247031,C1832$@DOM1,C1832$@DOM1,C1832,C529,Kerberos,Network,LogOn,Success,15,6.077837e-02,6.077837e-02
187000132,1247031,C21162$@DOM1,C21162$@DOM1,C21162,C612,Kerberos,Network,LogOn,Success,15,4.505851e-02,4.505851e-02
187000168,1247031,C5218$@DOM1,C5218$@DOM1,C5218,C586,Kerberos,Network,LogOn,Success,15,8.434568e-02,8.434568e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
187999974,1250701,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,15,8.572672e-19,8.572672e-19
187999979,1250701,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,15,1.548829e-17,1.548829e-17
187999980,1250701,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
187999982,1250701,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,15,3.578713e-17,3.578713e-17
187999996,1250701,C11266$@DOM1,C11266$@DOM1,C11267,C612,Kerberos,Network,LogOn,Success,15,9.926423e-02,9.926423e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
188000002,1250701,C123$@DOM1,C123$@DOM1,C527,C528,Kerberos,Network,LogOn,Success,15,3.111875e-02,3.111875e-02
188000127,1250701,U2602@DOM1,U2602@DOM1,C6607,C467,Kerberos,Network,LogOn,Success,15,2.635075e-02,2.635075e-02
188000218,1250702,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,15,4.464676e-18,4.464676e-18
188000219,1250702,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,15,1.883311e-17,1.883311e-17
188000220,1250702,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C561,C467,NTLM,Network,LogOn,Success,15,2.677845e-09,2.677845e-09
...,...,...,...,...,...,...,...,...,...,...,...,...
188999554,1254385,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,15,1.548829e-17,1.548829e-17
188999556,1254385,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,15,3.578713e-17,3.578713e-17
188999811,1254385,U6836@C15244,U6836@C15244,C4812,C4812,MICROSOFT_AUTHENTICATION_PACKAGE_V1_0,Network,LogOn,Fail,15,4.663784e-03,4.663784e-03
188999835,1254386,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,15,8.572672e-19,8.572672e-19
188999840,1254386,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
189000141,1254387,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,15,3.790263e-20,3.790263e-20
189000145,1254387,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,15,2.598007e-17,2.598007e-17
189000146,1254387,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,15,1.548829e-17,1.548829e-17
189000148,1254387,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
189000175,1254387,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,15,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
189999743,1258075,C123$@DOM1,C123$@DOM1,C527,C523,Kerberos,Network,LogOn,Success,15,3.111875e-02,3.111875e-02
189999751,1258075,C14757$@DOM1,C14757$@DOM1,C14757,C457,Kerberos,Network,LogOn,Success,15,6.346286e-02,6.346286e-02
189999876,1258075,C8137$@DOM1,C8137$@DOM1,C8137,C467,?,?,TGS,Success,15,8.241153e-02,8.241153e-02
189999877,1258075,C8137$@DOM1,C8137$@DOM1,C8137,C467,Kerberos,Network,LogOn,Success,15,8.241153e-02,8.241153e-02
189999931,1258075,U2714@DOM1,U2714@DOM1,C7499,C743,Kerberos,Network,LogOn,Success,15,7.589172e-02,7.589172e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
190000022,1258076,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,15,4.464676e-18,4.464676e-18
190000024,1258076,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,15,3.790263e-20,3.790263e-20
190000032,1258076,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
190000038,1258076,C10484$@DOM1,C10484$@DOM1,C10484,C612,Kerberos,Network,LogOn,Success,15,8.852155e-02,8.852155e-02
190000241,1258076,U2714@DOM1,U2714@DOM1,C7499,C2553,?,?,TGS,Success,15,7.589172e-02,7.589172e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
190999705,1261641,C1304$@DOM1,C1304$@DOM1,C1304,C801,Kerberos,Network,LogOn,Success,15,1.931323e-02,1.931323e-02
190999842,1261641,C9359$@DOM1,C9359$@DOM1,C9359,C2162,Kerberos,Network,LogOn,Success,15,4.633053e-02,4.633053e-02
190999994,1261642,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,15,4.464676e-18,4.464676e-18
190999997,1261642,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,15,1.548829e-17,1.548829e-17
190999998,1261642,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
191000094,1261642,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,15,8.804721e-02,8.804721e-02
191000149,1261642,C7586$@DOM1,C7586$@DOM1,C7586,C625,Kerberos,Network,LogOn,Success,15,9.110326e-02,9.110326e-02
191000204,1261642,U3091@DOM1,U3091@DOM1,C3750,C2327,?,?,TGS,Success,15,5.647916e-02,5.647916e-02
191000289,1261643,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,15,1.548829e-17,1.548829e-17
191000291,1261643,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
191999604,1265128,C15018$@DOM1,C15018$@DOM1,C15018,TGT,?,?,TGS,Success,15,8.613301e-02,8.613301e-02
191999866,1265129,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,15,2.598007e-17,2.598007e-17
191999872,1265129,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
191999876,1265129,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,15,3.578713e-17,3.578713e-17
191999909,1265129,C123$@DOM1,C123$@DOM1,C527,C523,Kerberos,Network,LogOn,Success,15,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
192000136,1265129,U3666@DOM1,U3666@DOM1,C1197,C625,Kerberos,Network,LogOn,Success,15,8.619650e-02,8.619650e-02
192000205,1265130,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,15,8.572672e-19,8.572672e-19
192000206,1265130,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,15,1.883311e-17,1.883311e-17
192000207,1265130,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,15,1.548829e-17,1.548829e-17
192000263,1265130,C14121$@DOM1,C14121$@DOM1,C14121,C467,?,?,TGS,Success,15,9.349438e-02,9.349438e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
192999712,1268295,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
192999713,1268295,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,15,2.821142e-16,2.821142e-16
192999825,1268295,C19472$@DOM1,C19472$@DOM1,C19472,C586,Kerberos,Network,LogOn,Success,15,3.764894e-02,3.764894e-02
192999826,1268295,C19472$@DOM1,C19472$@DOM1,C19472,C625,Kerberos,Network,LogOn,Success,15,3.764894e-02,3.764894e-02
192999935,1268295,C932$@DOM1,C932$@DOM1,C932,C231,?,?,TGS,Success,15,8.962156e-02,8.962156e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
193000079,1268296,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C15193,C586,NTLM,Network,LogOn,Success,15,6.392250e-02,6.392250e-02
193000080,1268296,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
193000082,1268296,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,15,3.578713e-17,3.578713e-17
193000084,1268296,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,15,2.821142e-16,2.821142e-16
193000153,1268296,C16543$@DOM1,C16543$@DOM1,C16543,C2173,?,?,TGS,Success,15,3.601094e-02,3.601094e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
193999912,1272221,U1733@DOM1,U1733@DOM1,C5850,C5850,?,?,TGT,Success,15,7.706725e-02,7.706725e-02
193999969,1272222,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
193999972,1272222,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,15,2.821142e-16,2.821142e-16
193999995,1272222,C123$@DOM1,C123$@DOM1,C527,C1065,Kerberos,Network,LogOn,Success,15,3.111875e-02,3.111875e-02
193999996,1272222,C123$@DOM1,C123$@DOM1,C527,C528,Kerberos,Network,LogOn,Success,15,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
194000016,1272222,C15018$@DOM1,C15018$@DOM1,C15018,C1065,Kerberos,Network,LogOn,Success,15,8.613301e-02,8.613301e-02
194000139,1272222,U1733@DOM1,U1733@DOM1,C5850,C2310,?,?,AuthMap,Success,15,7.706725e-02,7.706725e-02
194000197,1272223,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,15,8.572672e-19,8.572672e-19
194000201,1272223,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
194000202,1272223,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,15,2.821142e-16,2.821142e-16
...,...,...,...,...,...,...,...,...,...,...,...,...
194999849,1277196,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,15,1.548829e-17,1.548829e-17
194999851,1277196,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
194999866,1277196,C11714$@DOM1,C11714$@DOM1,C11714,C528,Kerberos,Network,LogOn,Success,15,9.195537e-02,9.195537e-02
194999986,1277197,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C3149,C586,NTLM,Network,LogOn,Success,15,8.894062e-02,8.894062e-02
194999988,1277197,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
195000130,1277198,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,15,4.464676e-18,4.464676e-18
195000134,1277198,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
195000271,1277199,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
195000278,1277199,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,15,3.578713e-17,3.578713e-17
195000291,1277199,C123$@DOM1,C123$@DOM1,C527,C123,?,?,TGS,Success,15,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
195999939,1282921,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,15,2.598007e-17,2.598007e-17
195999941,1282921,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,15,1.548829e-17,1.548829e-17
195999945,1282921,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
195999949,1282921,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,15,3.578713e-17,3.578713e-17
195999959,1282921,C123$@DOM1,C123$@DOM1,C527,C1065,Kerberos,Network,LogOn,Success,15,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
196000071,1282921,C9359$@DOM1,C9359$@DOM1,C9359,C2162,Kerberos,Network,LogOn,Success,15,4.633053e-02,4.633053e-02
196000104,1282921,U2440@DOM1,U2440@DOM1,C17925,C1065,Kerberos,Network,LogOn,Success,15,1.482994e-02,1.482994e-02
196000171,1282922,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,15,1.883311e-17,1.883311e-17
196000172,1282922,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,15,1.548829e-17,1.548829e-17
196000175,1282922,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
196999753,1288911,C12316$@DOM1,C12316$@DOM1,C12316,C12316,Kerberos,Network,LogOn,Success,15,9.687859e-02,9.687859e-02
196999789,1288911,C1946$@DOM1,C1946$@DOM1,C1946,C1065,Kerberos,Network,LogOn,Success,15,3.832176e-02,3.832176e-02
196999800,1288911,C22022$@DOM1,C22022$@DOM1,C22023,C529,Kerberos,Network,LogOn,Success,15,6.823712e-02,6.823712e-02
196999922,1288912,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
196999923,1288912,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,15,3.578713e-17,3.578713e-17

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
197000048,1288913,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,15,8.572672e-19,8.572672e-19
197000053,1288913,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
197000056,1288913,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C7298,C586,NTLM,Network,LogOn,Success,15,7.471860e-12,7.471860e-12
197000212,1288914,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,15,1.548829e-17,1.548829e-17
197000312,1288915,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
197999919,1294689,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
197999947,1294689,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,15,3.111875e-02,3.111875e-02
197999948,1294689,C123$@DOM1,C123$@DOM1,C527,C523,Kerberos,Network,LogOn,Success,15,3.111875e-02,3.111875e-02
197999949,1294689,C123$@DOM1,C123$@DOM1,C527,C586,Kerberos,Network,LogOn,Success,15,3.111875e-02,3.111875e-02
197999996,1294689,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,15,8.804721e-02,8.804721e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
198000142,1294690,C8126$@DOM1,C8126$@DOM1,C8126,C625,NTLM,Network,LogOn,Success,15,9.073239e-02,9.073239e-02
198000166,1294691,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,15,4.464676e-18,4.464676e-18
198000168,1294691,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,15,1.883311e-17,1.883311e-17
198000174,1294691,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,15,2.836545e-19,2.836545e-19
198000229,1294691,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,15,8.804721e-02,8.804721e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
198999772,1646863,U2440@DOM1,U2440@DOM1,C17925,C2162,Kerberos,Network,LogOn,Success,20,1.482994e-02,1.482994e-02
198999798,1646864,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C395,C586,NTLM,Network,LogOn,Success,20,5.720515e-07,5.720515e-07
198999800,1646864,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,20,2.821142e-16,2.821142e-16
198999896,1646865,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
198999974,1646865,U1890@DOM1,U1890@DOM1,C5977,C612,Kerberos,Network,LogOn,Success,20,3.757881e-02,3.757881e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
199000108,1646866,U245@DOM1,U245@DOM1,C2816,C467,Kerberos,Network,LogOn,Success,20,7.568047e-02,7.568047e-02
199000135,1646867,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,20,3.578713e-17,3.578713e-17
199000257,1646868,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
199000263,1646868,C123$@DOM1,C123$@DOM1,C527,C529,Kerberos,Network,LogOn,Success,20,3.111875e-02,3.111875e-02
199000376,1646869,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,20,1.883311e-17,1.883311e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
199999915,1653653,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,20,8.572672e-19,8.572672e-19
199999919,1653653,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C26889,C586,NTLM,Network,LogOn,Success,20,1.154178e-02,1.154178e-02
199999920,1653653,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
199999932,1653653,C11138$@DOM1,C11138$@DOM1,C11138,C625,Kerberos,Network,LogOn,Success,20,5.247702e-02,5.247702e-02
199999967,1653653,C1859$@DOM1,C1859$@DOM1,C1859,C529,Kerberos,Network,LogOn,Success,20,9.852297e-02,9.852297e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
200000101,1653654,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
200000220,1653654,C87$@DOM1,C87$@DOM1,C87,C625,Kerberos,Network,LogOn,Success,20,8.152286e-02,8.152286e-02
200000271,1653655,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,20,1.883311e-17,1.883311e-17
200000274,1653655,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
200000275,1653655,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,20,2.821142e-16,2.821142e-16
...,...,...,...,...,...,...,...,...,...,...,...,...
200999642,1660435,C14852$@DOM1,C14852$@DOM1,C14853,C528,Kerberos,Network,LogOn,Success,20,3.946306e-02,3.946306e-02
200999765,1660436,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,20,1.548829e-17,1.548829e-17
200999766,1660436,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
200999945,1660437,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C11736,C586,NTLM,Network,LogOn,Success,20,6.406042e-02,6.406042e-02
200999947,1660437,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
201000089,1660437,U2440@DOM1,U2440@DOM1,C17925,C2162,Kerberos,Network,LogOn,Success,20,1.482994e-02,1.482994e-02
201000117,1660438,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,20,2.598007e-17,2.598007e-17
201000118,1660438,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
201000119,1660438,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,20,3.578713e-17,3.578713e-17
201000224,1660438,C328$@DOM1,C328$@DOM1,C328,C2106,Kerberos,Network,LogOn,Success,20,5.437342e-02,5.437342e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
201999802,1667107,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,20,4.464676e-18,4.464676e-18
201999805,1667107,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
201999839,1667107,C14852$@DOM1,C14852$@DOM1,C14853,C467,Kerberos,Network,LogOn,Success,20,3.946306e-02,3.946306e-02
201999995,1667108,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,20,2.598007e-17,2.598007e-17
201999998,1667108,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
202000012,1667108,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,20,3.111875e-02,3.111875e-02
202000160,1667109,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,20,4.464676e-18,4.464676e-18
202000191,1667109,C18339$@DOM1,C18339$@DOM1,C18339,C612,?,?,TGS,Success,20,4.661432e-02,4.661432e-02
202000192,1667109,C18339$@DOM1,C18339$@DOM1,C18339,C612,Kerberos,Network,LogOn,Success,20,4.661432e-02,4.661432e-02
202000254,1667109,C8613$@DOM1,C8613$@DOM1,C8613,TGT,?,?,TGS,Success,20,5.149835e-02,5.149835e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
202999834,1673647,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,20,3.578713e-17,3.578713e-17
202999836,1673647,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,20,2.821142e-16,2.821142e-16
202999857,1673647,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,20,3.111875e-02,3.111875e-02
202999858,1673647,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,20,3.111875e-02,3.111875e-02
202999969,1673647,C627$@DOM1,C627$@DOM1,C627,C467,Kerberos,Network,LogOn,Success,20,1.855102e-02,1.855102e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
203000032,1673648,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
203000035,1673648,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,20,2.821142e-16,2.821142e-16
203000056,1673648,C14954$@DOM1,C14954$@DOM1,C14954,C1065,Kerberos,Network,LogOn,Success,20,5.046984e-02,5.046984e-02
203000091,1673648,C2379$@DOM1,C2379$@DOM1,C2379,C467,Kerberos,Network,LogOn,Success,20,8.675392e-02,8.675392e-02
203000193,1673649,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,20,8.572672e-19,8.572672e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
203999939,1680013,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,20,1.548829e-17,1.548829e-17
203999940,1680013,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C26889,C586,NTLM,Network,LogOn,Success,20,1.154178e-02,1.154178e-02
203999942,1680013,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
203999961,1680013,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,20,3.111875e-02,3.111875e-02
203999962,1680013,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,20,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
204000026,1680013,C4901$@DOM1,C4901$@DOM1,C4902,C457,Kerberos,Network,LogOn,Success,20,4.681902e-02,4.681902e-02
204000114,1680014,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,20,4.464676e-18,4.464676e-18
204000116,1680014,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
204000117,1680014,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C7298,C586,NTLM,Network,LogOn,Success,20,7.471860e-12,7.471860e-12
204000129,1680014,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,20,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
204999918,1686380,U1733@DOM1,U1733@DOM1,C5850,C2327,?,?,TGS,Success,20,7.706725e-02,7.706725e-02
204999919,1686380,U1733@DOM1,U1733@DOM1,C5850,C5850,?,?,TGT,Success,20,7.706725e-02,7.706725e-02
204999950,1686381,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
204999951,1686381,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,20,3.578713e-17,3.578713e-17
204999962,1686381,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,20,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
205000069,1686382,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
205000070,1686382,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,20,3.578713e-17,3.578713e-17
205000159,1686382,U1733@DOM1,U1733@DOM1,C5850,C2327,?,?,TGS,Success,20,7.706725e-02,7.706725e-02
205000160,1686382,U1733@DOM1,U1733@DOM1,C5850,C5850,?,?,TGT,Success,20,7.706725e-02,7.706725e-02
205000200,1686383,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
205999774,1692805,C18401$@DOM1,C18401$@DOM1,C18401,C457,Kerberos,Network,LogOn,Success,20,6.864444e-02,6.864444e-02
205999923,1692806,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,20,2.821142e-16,2.821142e-16
205999944,1692806,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,20,3.111875e-02,3.111875e-02
205999945,1692806,C123$@DOM1,C123$@DOM1,C527,C625,Kerberos,Network,LogOn,Success,20,3.111875e-02,3.111875e-02
205999946,1692806,C123$@DOM1,C123$@DOM1,C527,C988,Kerberos,Network,LogOn,Success,20,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
206000097,1692807,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,20,1.883311e-17,1.883311e-17
206000134,1692807,C16543$@DOM1,C16543$@DOM1,C16543,C529,Kerberos,Network,LogOn,Success,20,3.601094e-02,3.601094e-02
206000141,1692807,C18771$@DOM1,C18771$@DOM1,C18771,C528,Kerberos,Network,LogOn,Success,20,8.390913e-02,8.390913e-02
206000234,1692808,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,20,1.548829e-17,1.548829e-17
206000237,1692808,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
206999732,1699175,C5218$@DOM1,C5218$@DOM1,C5218,C467,Kerberos,Network,LogOn,Success,20,8.434568e-02,8.434568e-02
206999818,1699176,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
206999917,1699177,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C5618,C457,NTLM,Network,LogOn,Success,20,4.234058e-03,4.234058e-03
206999919,1699177,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C2614,C586,NTLM,Network,LogOn,Success,20,5.626329e-03,5.626329e-03
206999920,1699177,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
207000071,1699178,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
207000072,1699178,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C6045,C586,NTLM,Network,LogOn,Success,20,9.423484e-02,9.423484e-02
207000075,1699178,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,20,2.821142e-16,2.821142e-16
207000118,1699178,C1640$@DOM1,C1640$@DOM1,C2109,C612,Kerberos,Network,LogOn,Success,20,1.181980e-05,1.181980e-05
207000149,1699178,C23566$@DOM1,C23566$@DOM1,C21384,C21384,?,?,TGT,Success,20,8.235567e-02,8.235567e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
207999821,1705713,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
207999848,1705713,C15563$@DOM1,C15563$@DOM1,C15563,C612,Kerberos,Network,LogOn,Success,20,2.159242e-02,2.159242e-02
207999903,1705713,C5165$@DOM1,C5165$@DOM1,C5165,C457,Kerberos,Network,LogOn,Success,20,7.991056e-02,7.991056e-02
207999904,1705713,C5165$@DOM1,C5165$@DOM1,C5165,C5165,Kerberos,Network,LogOn,Success,20,7.991056e-02,7.991056e-02
207999970,1705714,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
208000035,1705714,C5165$@DOM1,C5165$@DOM1,C5165,C1065,Kerberos,Network,LogOn,Success,20,0.079911,0.079911
208000036,1705714,C5165$@DOM1,C5165$@DOM1,C5165,C457,Kerberos,Network,LogOn,Success,20,0.079911,0.079911
208000037,1705714,C5165$@DOM1,C5165$@DOM1,C5165,C586,Kerberos,Network,LogOn,Success,20,0.079911,0.079911
208000076,1705714,U2440@DOM1,U2440@DOM1,C17925,C2162,Kerberos,Network,LogOn,Success,20,0.014830,0.014830
208000107,1705715,ANONYMOUS LOGON@C2651,ANONYMOUS LOGON@C2651,C2651,C2651,?,Network,LogOff,Success,20,0.071829,0.071829
...,...,...,...,...,...,...,...,...,...,...,...,...
208999831,1712381,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,20,0.031119,0.031119
208999832,1712381,C123$@DOM1,C123$@DOM1,C527,C523,Kerberos,Network,LogOn,Success,20,0.031119,0.031119
208999891,1712381,C3094$@DOM1,C3094$@DOM1,C3094,C625,Kerberos,Network,LogOn,Success,20,0.066931,0.066931
208999944,1712381,C7932$@DOM1,C7932$@DOM1,C7932,C467,Kerberos,Network,LogOn,Success,20,0.076616,0.076616
208999987,1712381,U5834@DOM1,U5834@DOM1,C13483,C585,Kerberos,Network,LogOn,Success,20,0.087856,0.087856

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
209000012,1712382,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
209000029,1712382,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,20,3.111875e-02,3.111875e-02
209000034,1712382,C15403$@DOM1,C15403$@DOM1,C15403,C586,Kerberos,Network,LogOn,Success,20,1.972758e-02,1.972758e-02
209000194,1712383,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,20,2.598007e-17,2.598007e-17
209000302,1712383,C2548$@DOM1,C2548$@DOM1,C2548,C1065,Kerberos,Network,LogOn,Success,20,2.671226e-02,2.671226e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
209999890,1719058,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,20,1.548829e-17,1.548829e-17
209999892,1719058,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
209999896,1719058,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,20,3.111875e-02,3.111875e-02
209999932,1719058,C2408$@DOM1,C2408$@DOM1,C2408,C586,Kerberos,Network,LogOn,Success,20,7.686321e-02,7.686321e-02
209999992,1719059,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
210000069,1719060,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,20,8.572672e-19,8.572672e-19
210000070,1719060,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
210000185,1719061,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,20,4.464676e-18,4.464676e-18
210000188,1719061,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
210000189,1719061,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,20,3.578713e-17,3.578713e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
210999929,1725613,C5441$@DOM1,C5441$@DOM1,C5441,C586,Kerberos,Network,LogOn,Success,20,2.115568e-02,2.115568e-02
210999962,1725613,U1733@DOM1,U1733@DOM1,C5850,C2327,?,?,TGS,Success,20,7.706725e-02,7.706725e-02
210999963,1725613,U1733@DOM1,U1733@DOM1,C5850,C5850,?,?,TGT,Success,20,7.706725e-02,7.706725e-02
210999988,1725614,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
210999989,1725614,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,20,2.821142e-16,2.821142e-16

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
211000002,1725614,C123$@DOM1,C123$@DOM1,C527,C123,?,?,TGS,Success,20,3.111875e-02,3.111875e-02
211000021,1725614,C17546$@DOM1,C17546$@DOM1,C17546,C528,Kerberos,Network,LogOn,Success,20,2.449647e-02,2.449647e-02
211000124,1725615,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
211000246,1725616,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,20,8.572672e-19,8.572672e-19
211000249,1725616,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,20,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
211999851,1732390,C14984$@DOM1,C14984$@DOM1,C14984,C612,Kerberos,Network,LogOn,Success,21,6.985918e-02,6.985918e-02
211999982,1732391,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,21,4.464676e-18,4.464676e-18
211999984,1732391,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,21,1.883311e-17,1.883311e-17
211999989,1732391,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
211999990,1732391,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,21,3.578713e-17,3.578713e-17

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
212000056,1732391,C623$@DOM1,C623$@DOM1,C623,C1065,Kerberos,Network,LogOn,Success,21,5.291922e-02,5.291922e-02
212000105,1732392,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,21,4.464676e-18,4.464676e-18
212000108,1732392,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,21,1.548829e-17,1.548829e-17
212000165,1732392,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,21,8.804721e-02,8.804721e-02
212000181,1732392,C4509$@DOM1,C4509$@DOM1,C4509,C625,Kerberos,Network,LogOn,Success,21,8.749726e-02,8.749726e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
212999842,1739198,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
212999843,1739198,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,21,3.578713e-17,3.578713e-17
212999972,1739199,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,21,2.598007e-17,2.598007e-17
212999975,1739199,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
212999988,1739199,C123$@DOM1,C123$@DOM1,C527,C2092,?,?,TGS,Success,21,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
213000065,1739199,C3969$@DOM1,C3969$@DOM1,C3970,C612,Kerberos,Network,LogOn,Success,21,3.859382e-02,3.859382e-02
213000119,1739200,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,21,1.883311e-17,1.883311e-17
213000121,1739200,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C1289,C586,NTLM,Network,LogOn,Success,21,1.021119e-04,1.021119e-04
213000123,1739200,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
213000139,1739200,C16364$@DOM1,C16364$@DOM1,C16364,C612,Kerberos,Network,LogOn,Success,21,7.500490e-03,7.500490e-03
...,...,...,...,...,...,...,...,...,...,...,...,...
213999817,1746046,C3627$@DOM1,C3627$@DOM1,C3627,C457,Kerberos,Network,LogOn,Success,21,6.635813e-02,6.635813e-02
213999884,1746047,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
213999885,1746047,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,21,2.821142e-16,2.821142e-16
213999897,1746047,C11157$@DOM1,C11157$@DOM1,C11157,C528,Kerberos,Network,LogOn,Success,21,8.124119e-02,8.124119e-02
213999902,1746047,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,21,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
214000007,1746048,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,21,4.464676e-18,4.464676e-18
214000011,1746048,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C3149,C586,NTLM,Network,LogOn,Success,21,8.894062e-02,8.894062e-02
214000013,1746048,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
214000024,1746048,C13952$@DOM1,C13952$@DOM1,C13952,C586,Kerberos,Network,LogOn,Success,21,6.382494e-02,6.382494e-02
214000122,1746049,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,21,1.883311e-17,1.883311e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
214999878,1752153,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C1365,C586,NTLM,Network,LogOn,Success,21,2.890154e-02,2.890154e-02
214999881,1752153,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
214999882,1752153,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,21,3.578713e-17,3.578713e-17
214999905,1752153,C1450$@DOM1,C1450$@DOM1,C1450,C467,Kerberos,Network,LogOn,Success,21,1.611128e-02,1.611128e-02
214999950,1752153,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,21,8.804721e-02,8.804721e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
215000103,1752154,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C10716,C586,NTLM,Network,LogOn,Success,21,1.757130e-03,1.757130e-03
215000106,1752154,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C395,C586,NTLM,Network,LogOn,Success,21,5.720515e-07,5.720515e-07
215000108,1752154,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
215000169,1752154,C1832$@DOM1,C1832$@DOM1,C1832,C586,Kerberos,Network,LogOn,Success,21,6.077837e-02,6.077837e-02
215000297,1752154,U2440@DOM1,U2440@DOM1,C17925,C2162,Kerberos,Network,LogOn,Success,21,1.482994e-02,1.482994e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
215999714,1756149,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,21,3.578713e-17,3.578713e-17
215999766,1756149,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,21,3.111875e-02,3.111875e-02
215999767,1756149,C123$@DOM1,C123$@DOM1,C527,C2106,Kerberos,Network,LogOn,Success,21,3.111875e-02,3.111875e-02
215999768,1756149,C123$@DOM1,C123$@DOM1,C527,C523,Kerberos,Network,LogOn,Success,21,3.111875e-02,3.111875e-02
215999807,1756149,C17707$@DOM1,C17707$@DOM1,C17707,C2106,Kerberos,Network,LogOn,Success,21,8.042353e-02,8.042353e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
216000078,1756150,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C585,C529,NTLM,Network,LogOn,Success,21,2.151888e-14,2.151888e-14
216000079,1756150,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
216000203,1756150,C6763$@DOM1,C6763$@DOM1,C6763,C586,Kerberos,Network,LogOn,Success,21,5.811728e-02,5.811728e-02
216000359,1756150,U9314@DOM1,U9314@DOM1,C19685,C467,?,?,TGS,Success,21,4.516472e-02,4.516472e-02
216000374,1756151,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
216999844,1759691,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
216999845,1759691,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,21,3.578713e-17,3.578713e-17
216999847,1759691,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,21,2.821142e-16,2.821142e-16
216999912,1759691,C15099$@DOM1,C15099$@DOM1,C15099,C529,?,?,TGS,Success,21,5.117788e-02,5.117788e-02
216999966,1759691,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,21,8.804721e-02,8.804721e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
217000050,1759691,U1718@?,U1718@?,C5802,C7277,NTLM,Network,LogOn,Fail,21,1.598741e-06,1.598741e-06
217000160,1759692,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,21,1.548829e-17,1.548829e-17
217000164,1759692,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
217000165,1759692,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,21,3.578713e-17,3.578713e-17
217000178,1759692,C11031$@DOM1,C11031$@DOM1,C11031,C467,Kerberos,Network,LogOn,Success,21,7.092768e-02,7.092768e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
217999673,1763226,U2864@DOM1,U2864@DOM1,C23660,C612,NTLM,Network,LogOn,Success,21,6.556426e-02,6.556426e-02
217999694,1763226,U3855@DOM1,U3855@DOM1,C9851,C625,Kerberos,Network,LogOn,Success,21,2.803192e-02,2.803192e-02
217999739,1763227,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
217999742,1763227,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,21,2.821142e-16,2.821142e-16
217999774,1763227,C16598$@DOM1,C16598$@DOM1,C16598,C529,Kerberos,Network,LogOn,Success,21,1.275687e-02,1.275687e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
218000007,1763228,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C10474,C586,NTLM,Network,LogOn,Success,21,1.673970e-02,1.673970e-02
218000008,1763228,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
218000011,1763228,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,21,3.578713e-17,3.578713e-17
218000241,1763229,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,21,1.883311e-17,1.883311e-17
218000246,1763229,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
218999870,1766850,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,21,8.572672e-19,8.572672e-19
218999871,1766850,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,21,1.883311e-17,1.883311e-17
218999875,1766850,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
218999876,1766850,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,21,3.578713e-17,3.578713e-17
218999944,1766850,C18771$@DOM1,C18771$@DOM1,C18771,C457,Kerberos,Network,LogOn,Success,21,8.390913e-02,8.390913e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
219000166,1766851,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
219000181,1766851,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,21,3.111875e-02,3.111875e-02
219000182,1766851,C123$@DOM1,C123$@DOM1,C527,C523,Kerberos,Network,LogOn,Success,21,3.111875e-02,3.111875e-02
219000196,1766851,C14458$@DOM1,C14458$@DOM1,C14458,C625,Kerberos,Network,LogOn,Success,21,1.685881e-02,1.685881e-02
219000205,1766851,C1640$@DOM1,C1640$@DOM1,C2109,C586,Kerberos,Network,LogOn,Success,21,1.181980e-05,1.181980e-05
...,...,...,...,...,...,...,...,...,...,...,...,...
219999888,1770496,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,21,8.572672e-19,8.572672e-19
219999889,1770496,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,21,1.883311e-17,1.883311e-17
219999895,1770496,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
219999897,1770496,ANONYMOUS LOGON@C754,ANONYMOUS LOGON@C754,C754,C754,?,Network,LogOff,Success,21,4.021694e-19,4.021694e-19
219999968,1770496,C1946$@DOM1,C1946$@DOM1,C1946,C586,Kerberos,Network,LogOn,Success,21,3.832176e-02,3.832176e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
220000006,1770496,C3196$@DOM1,C3196$@DOM1,C3196,C529,Kerberos,Network,LogOn,Success,21,1.314739e-02,1.314739e-02
220000075,1770496,U1653@DOM1,U1653@DOM1,C754,C754,?,Network,LogOff,Success,21,1.320976e-13,1.320976e-13
220000176,1770497,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,21,1.883311e-17,1.883311e-17
220000177,1770497,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,21,1.548829e-17,1.548829e-17
220000182,1770497,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
220999718,1774224,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,21,2.821142e-16,2.821142e-16
220999748,1774224,C14732$@DOM1,C14732$@DOM1,C14732,C14732,?,?,TGT,Success,21,3.419171e-02,3.419171e-02
220999749,1774224,C14732$@DOM1,C14732$@DOM1,C14732,C457,Kerberos,Network,LogOn,Success,21,3.419171e-02,3.419171e-02
220999750,1774224,C14732$@DOM1,C14732$@DOM1,C14732,TGT,?,?,TGS,Success,21,3.419171e-02,3.419171e-02
220999994,1774224,U5834@DOM1,U5834@DOM1,C13483,C625,Kerberos,Network,LogOn,Success,21,8.785580e-02,8.785580e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
221000023,1774225,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,21,4.464676e-18,4.464676e-18
221000025,1774225,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,21,1.883311e-17,1.883311e-17
221000027,1774225,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
221000049,1774225,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,21,3.111875e-02,3.111875e-02
221000050,1774225,C123$@DOM1,C123$@DOM1,C527,C988,Kerberos,Network,LogOn,Success,21,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
221999678,1777933,C123$@DOM1,C123$@DOM1,C527,C523,Kerberos,Network,LogOn,Success,21,3.111875e-02,3.111875e-02
221999777,1777933,C3237$@DOM1,C3237$@DOM1,C3237,C612,Kerberos,Network,LogOn,Success,21,9.100461e-02,9.100461e-02
221999938,1777934,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,21,4.464676e-18,4.464676e-18
221999943,1777934,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
221999963,1777934,C123$@DOM1,C123$@DOM1,C527,C1085,NTLM,Network,LogOn,Success,21,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
222000065,1777934,C3538$@DOM1,C3538$@DOM1,C3538,C3538,?,Network,LogOff,Success,21,3.962698e-02,3.962698e-02
222000066,1777934,C3538$@DOM1,C3538$@DOM1,C3538,C528,Kerberos,Network,LogOn,Success,21,3.962698e-02,3.962698e-02
222000216,1777935,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,21,8.572672e-19,8.572672e-19
222000221,1777935,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
222000247,1777935,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,21,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
222999696,1781586,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,21,2.598007e-17,2.598007e-17
222999697,1781586,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
222999700,1781586,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,21,2.821142e-16,2.821142e-16
222999823,1781586,C4657$@DOM1,C4657$@DOM1,C4657,C625,Kerberos,Network,LogOn,Success,21,4.006855e-02,4.006855e-02
222999904,1781586,U1192@DOM1,U1192@DOM1,C3928,C2855,Kerberos,Network,LogOn,Success,21,2.978849e-02,2.978849e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
223000029,1781587,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,21,1.883311e-17,1.883311e-17
223000031,1781587,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
223000056,1781587,C123$@DOM1,C123$@DOM1,C527,C988,Kerberos,Network,LogOn,Success,21,3.111875e-02,3.111875e-02
223000148,1781587,C6538$@DOM1,C6538$@DOM1,C6538,C612,Kerberos,Network,LogOn,Success,21,5.294487e-02,5.294487e-02
223000290,1781588,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,21,1.883311e-17,1.883311e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
223999954,1785271,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,21,1.548829e-17,1.548829e-17
223999963,1785271,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
223999968,1785271,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,21,3.578713e-17,3.578713e-17
223999979,1785271,C123$@DOM1,C123$@DOM1,C527,C523,Kerberos,Network,LogOn,Success,21,3.111875e-02,3.111875e-02
223999980,1785271,C123$@DOM1,C123$@DOM1,C527,C988,Kerberos,Network,LogOn,Success,21,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
224000073,1785271,C7390$@DOM1,C7390$@DOM1,C7390,C586,NTLM,Network,LogOn,Success,21,6.411662e-02,6.411662e-02
224000157,1785271,U6018@DOM1,U6018@DOM1,C13781,C528,Kerberos,Network,LogOn,Success,21,9.905699e-02,9.905699e-02
224000158,1785271,U6018@DOM1,U6018@DOM1,C13781,C612,Kerberos,Network,LogOn,Success,21,9.905699e-02,9.905699e-02
224000190,1785272,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,21,1.883311e-17,1.883311e-17
224000197,1785272,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
224999739,1789251,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,21,3.111875e-02,3.111875e-02
224999805,1789251,C23566$@DOM1,C23566$@DOM1,C21384,C625,?,?,TGS,Success,21,8.235567e-02,8.235567e-02
224999806,1789251,C23566$@DOM1,C23566$@DOM1,C21384,C625,Kerberos,Network,LogOn,Success,21,8.235567e-02,8.235567e-02
224999976,1789252,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,21,1.548829e-17,1.548829e-17
224999978,1789252,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
225000006,1789252,C14025$@DOM1,C14025$@DOM1,C14025,C467,NTLM,Network,LogOn,Success,21,9.430187e-02,9.430187e-02
225000204,1789253,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,21,1.883311e-17,1.883311e-17
225000206,1789253,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
225000215,1789253,C11327$@DOM1,C11327$@DOM1,C11327,C1065,?,?,TGS,Success,21,7.019098e-02,7.019098e-02
225000216,1789253,C11327$@DOM1,C11327$@DOM1,C11327,TGT,?,?,TGS,Success,21,7.019098e-02,7.019098e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
225999748,1794023,U1628@DOM1,U1628@DOM1,C5855,C1015,NTLM,Network,LogOn,Success,21,8.341605e-02,8.341605e-02
225999819,1794024,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,21,1.548829e-17,1.548829e-17
225999821,1794024,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
225999840,1794024,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,21,3.111875e-02,3.111875e-02
225999968,1794024,U366@DOM1,U366@DOM1,C3600,C467,Kerberos,Network,LogOn,Success,21,9.594346e-02,9.594346e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
226000003,1794025,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
226000118,1794025,C7932$@DOM1,C7932$@DOM1,C7932,C612,Kerberos,Network,LogOn,Success,21,7.661575e-02,7.661575e-02
226000202,1794026,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,21,8.572672e-19,8.572672e-19
226000204,1794026,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,21,1.883311e-17,1.883311e-17
226000207,1794026,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
226999721,1799562,C123$@DOM1,C123$@DOM1,C527,C528,Kerberos,Network,LogOn,Success,21,3.111875e-02,3.111875e-02
226999886,1799563,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,21,8.572672e-19,8.572672e-19
226999898,1799563,C1486$@DOM1,C1486$@DOM1,C1486,C586,Kerberos,Network,LogOn,Success,21,9.431204e-02,9.431204e-02
226999904,1799563,C1648$@DOM1,C1648$@DOM1,C1648,C625,Kerberos,Network,LogOn,Success,21,8.914224e-02,8.914224e-02
226999945,1799563,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,21,8.804721e-02,8.804721e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
227000050,1799564,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,21,2.598007e-17,2.598007e-17
227000052,1799564,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
227000057,1799564,C123$@DOM1,C123$@DOM1,C527,C528,Kerberos,Network,LogOn,Success,21,3.111875e-02,3.111875e-02
227000058,1799564,C123$@DOM1,C123$@DOM1,C527,C529,Kerberos,Network,LogOn,Success,21,3.111875e-02,3.111875e-02
227000165,1799565,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,21,4.464676e-18,4.464676e-18
...,...,...,...,...,...,...,...,...,...,...,...,...
227999649,1805248,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,21,1.548829e-17,1.548829e-17
227999652,1805248,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
227999862,1805249,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
227999898,1805249,C1640$@DOM1,C1640$@DOM1,C2109,C457,Kerberos,Network,LogOn,Success,21,1.181980e-05,1.181980e-05
227999990,1805249,C8475$@DOM1,C8475$@DOM1,C8475,C529,Kerberos,Network,LogOn,Success,21,7.832793e-02,7.832793e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
228000051,1805250,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
228000062,1805250,C11031$@DOM1,C11031$@DOM1,C11031,C625,Kerberos,Network,LogOn,Success,21,7.092768e-02,7.092768e-02
228000067,1805250,C123$@DOM1,C123$@DOM1,C527,C529,Kerberos,Network,LogOn,Success,21,3.111875e-02,3.111875e-02
228000068,1805250,C123$@DOM1,C123$@DOM1,C527,C612,Kerberos,Network,LogOn,Success,21,3.111875e-02,3.111875e-02
228000083,1805250,C14181$@DOM1,C14181$@DOM1,C14181,C612,Kerberos,Network,LogOn,Success,21,1.947006e-02,1.947006e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
228999833,1810930,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,21,3.111875e-02,3.111875e-02
228999909,1810930,C8692$@DOM1,C8692$@DOM1,C8693,C457,Kerberos,Network,LogOn,Success,21,4.838922e-02,4.838922e-02
228999926,1810930,U1733@DOM1,U1733@DOM1,C5850,C2310,?,?,AuthMap,Success,21,7.706725e-02,7.706725e-02
228999954,1810931,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,21,1.883311e-17,1.883311e-17
228999957,1810931,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
229000125,1810932,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,21,2.836545e-19,2.836545e-19
229000126,1810932,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,21,3.578713e-17,3.578713e-17
229000127,1810932,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,21,2.821142e-16,2.821142e-16
229000137,1810932,C11768$@DOM1,C11768$@DOM1,C11768,C612,Kerberos,Network,LogOn,Success,21,2.383502e-02,2.383502e-02
229000175,1810932,C2408$@DOM1,C2408$@DOM1,C2408,C1065,?,?,TGS,Success,21,7.686321e-02,7.686321e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
229999919,1816583,C5041$@DOM1,C5041$@DOM1,C5042,C457,Kerberos,Network,LogOn,Success,22,2.640655e-02,2.640655e-02
229999934,1816583,C6110$@DOM1,C6110$@DOM1,C6110,C467,Kerberos,Network,LogOn,Success,22,6.919383e-02,6.919383e-02
229999988,1816584,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
229999989,1816584,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C8301,C586,NTLM,Network,LogOn,Success,22,6.560097e-03,6.560097e-03
229999990,1816584,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,22,2.821142e-16,2.821142e-16

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
230000013,1816584,C13530$@DOM1,C13530$@DOM1,C13530,C625,Kerberos,Network,LogOn,Success,22,4.684913e-02,4.684913e-02
230000173,1816585,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
230000318,1816585,U2342@DOM1,U2342@DOM1,C6763,C625,Kerberos,Network,LogOn,Success,22,3.083169e-02,3.083169e-02
230000368,1816586,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
230000574,1816587,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
230999826,1822279,C123$@DOM1,C123$@DOM1,C527,C988,Kerberos,Network,LogOn,Success,22,3.111875e-02,3.111875e-02
230999848,1822279,C18957$@DOM1,C18957$@DOM1,C18957,C457,?,?,TGS,Success,22,9.362367e-02,9.362367e-02
230999849,1822279,C18957$@DOM1,C18957$@DOM1,C18957,C457,Kerberos,Network,LogOn,Success,22,9.362367e-02,9.362367e-02
230999850,1822279,C18957$@DOM1,C18957$@DOM1,C18957,TGT,?,?,TGS,Success,22,9.362367e-02,9.362367e-02
230999867,1822279,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,22,8.804721e-02,8.804721e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
231000007,1822280,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,22,3.111875e-02,3.111875e-02
231000161,1822281,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
231000172,1822281,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,22,3.111875e-02,3.111875e-02
231000173,1822281,C123$@DOM1,C123$@DOM1,C527,C988,Kerberos,Network,LogOn,Success,22,3.111875e-02,3.111875e-02
231000192,1822281,C1832$@DOM1,C1832$@DOM1,C1832,C1832,Kerberos,Network,LogOn,Success,22,6.077837e-02,6.077837e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
231999878,1827967,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,22,3.578713e-17,3.578713e-17
231999880,1827967,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,22,2.821142e-16,2.821142e-16
231999898,1827967,C12170$@DOM1,C12170$@DOM1,C12170,C625,Kerberos,Network,LogOn,Success,22,3.734137e-02,3.734137e-02
231999899,1827967,C12170$@DOM1,C12170$@DOM1,C12170,C625,NTLM,Network,LogOn,Success,22,3.734137e-02,3.734137e-02
231999902,1827967,C123$@DOM1,C123$@DOM1,C527,C523,Kerberos,Network,LogOn,Success,22,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
232000070,1827967,U8178@DOM1,U8178@DOM1,C843,C1065,Kerberos,Network,LogOn,Success,22,6.694830e-02,6.694830e-02
232000081,1827968,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,22,1.883311e-17,1.883311e-17
232000087,1827968,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
232000088,1827968,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C9250,C586,NTLM,Network,LogOn,Success,22,2.871578e-02,2.871578e-02
232000112,1827968,C123$@DOM1,C123$@DOM1,C527,C2106,Kerberos,Network,LogOn,Success,22,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
232999796,1833471,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
232999882,1833471,C8692$@DOM1,C8692$@DOM1,C8693,C612,Kerberos,Network,LogOn,Success,22,4.838922e-02,4.838922e-02
232999939,1833472,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,22,8.572672e-19,8.572672e-19
232999942,1833472,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
232999959,1833472,C123$@DOM1,C123$@DOM1,C527,C529,Kerberos,Network,LogOn,Success,22,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
233000094,1833473,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,22,8.572672e-19,8.572672e-19
233000095,1833473,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,22,2.598007e-17,2.598007e-17
233000099,1833473,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
233000100,1833473,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,22,3.578713e-17,3.578713e-17
233000113,1833473,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,22,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
233999917,1838874,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,22,4.464676e-18,4.464676e-18
233999920,1838874,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
233999924,1838874,C10193$@DOM1,C10193$@DOM1,C10194,C457,Kerberos,Network,LogOn,Success,22,6.440299e-02,6.440299e-02
233999929,1838874,C10811$@DOM1,C10811$@DOM1,C10811,C467,Kerberos,Network,LogOn,Success,22,1.781750e-02,1.781750e-02
233999991,1838874,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,22,8.804721e-02,8.804721e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
234000006,1838874,C4405$@DOM1,C4405$@DOM1,C4405,C586,Kerberos,Network,LogOn,Success,22,6.837416e-02,6.837416e-02
234000007,1838874,C4511$@DOM1,C4511$@DOM1,C4511,C586,Kerberos,Network,LogOn,Success,22,9.547989e-03,9.547989e-03
234000040,1838874,C8692$@DOM1,C8692$@DOM1,C8693,C586,Kerberos,Network,LogOn,Success,22,4.838922e-02,4.838922e-02
234000111,1838875,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
234000130,1838875,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,22,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
234999889,1842925,U2661@DOM1,U2661@DOM1,C22885,C529,Kerberos,Network,LogOn,Success,22,5.068502e-03,5.068502e-03
234999890,1842925,U2661@DOM1,U2661@DOM1,C22885,TGT,?,?,TGS,Success,22,5.068502e-03,5.068502e-03
234999948,1842925,U8178@DOM1,U8178@DOM1,C843,C1065,Kerberos,Network,LogOn,Success,22,6.694830e-02,6.694830e-02
234999970,1842926,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,22,1.883311e-17,1.883311e-17
234999971,1842926,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
235000164,1842926,U2661@DOM1,U2661@DOM1,C22885,C529,?,?,TGS,Success,22,5.068502e-03,5.068502e-03
235000217,1842927,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,22,4.464676e-18,4.464676e-18
235000218,1842927,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,22,1.883311e-17,1.883311e-17
235000220,1842927,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
235000222,1842927,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,22,2.821142e-16,2.821142e-16
...,...,...,...,...,...,...,...,...,...,...,...,...
235999744,1846622,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,22,1.883311e-17,1.883311e-17
235999747,1846622,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
235999748,1846622,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,22,3.578713e-17,3.578713e-17
235999800,1846622,C15018$@DOM1,C15018$@DOM1,C15018,C529,Kerberos,Network,LogOn,Success,22,8.613301e-02,8.613301e-02
235999928,1846622,U1388@DOM1,U1388@DOM1,C144,C2327,?,?,TGS,Success,22,1.913917e-02,1.913917e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
236000050,1846623,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,22,4.464676e-18,4.464676e-18
236000058,1846623,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
236000061,1846623,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,22,2.821142e-16,2.821142e-16
236000105,1846623,C14438$@DOM1,C14438$@DOM1,C14438,C14438,?,?,TGT,Success,22,9.109088e-02,9.109088e-02
236000106,1846623,C14438$@DOM1,C14438$@DOM1,C14438,TGT,?,?,TGS,Success,22,9.109088e-02,9.109088e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
236999959,1850283,C16665$@DOM1,C16665$@DOM1,C16665,C1065,Kerberos,Network,LogOn,Success,22,8.235169e-02,8.235169e-02
236999960,1850283,C16665$@DOM1,C16665$@DOM1,C16665,C16665,?,?,TGS,Success,22,8.235169e-02,8.235169e-02
236999961,1850283,C16665$@DOM1,C16665$@DOM1,C16665,C467,Kerberos,Network,LogOn,Success,22,8.235169e-02,8.235169e-02
236999962,1850283,C16665$@DOM1,C16665$@DOM1,C16665,C529,Kerberos,Network,LogOn,Success,22,8.235169e-02,8.235169e-02
236999963,1850283,C16665$@DOM1,C16665$@DOM1,C16665,C586,Kerberos,Network,LogOn,Success,22,8.235169e-02,8.235169e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
237000146,1850284,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,22,1.883311e-17,1.883311e-17
237000147,1850284,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C10716,C586,NTLM,Network,LogOn,Success,22,1.757130e-03,1.757130e-03
237000149,1850284,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C17564,C586,NTLM,Network,LogOn,Success,22,8.513850e-02,8.513850e-02
237000150,1850284,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
237000152,1850284,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,22,3.578713e-17,3.578713e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
237999814,1853974,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
237999815,1853974,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,22,2.821142e-16,2.821142e-16
237999838,1853974,C123$@DOM1,C123$@DOM1,C527,C988,Kerberos,Network,LogOn,Success,22,3.111875e-02,3.111875e-02
237999867,1853974,C1648$@DOM1,C1648$@DOM1,C1648,C586,Kerberos,Network,LogOn,Success,22,8.914224e-02,8.914224e-02
237999884,1853974,C1957$@DOM1,C1957$@DOM1,C1957,C625,Kerberos,Network,LogOn,Success,22,7.240992e-02,7.240992e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
238000037,1853975,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,22,1.883311e-17,1.883311e-17
238000041,1853975,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
238000043,1853975,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,22,2.821142e-16,2.821142e-16
238000129,1853975,C2536$@DOM1,C2536$@DOM1,C2536,C586,Kerberos,Network,LogOn,Success,22,4.355890e-02,4.355890e-02
238000147,1853975,C5526$@DOM1,C5526$@DOM1,C5527,C457,Kerberos,Network,LogOn,Success,22,5.446675e-02,5.446675e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
238999731,1857592,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,22,3.790263e-20,3.790263e-20
238999735,1857592,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
238999802,1857592,C1804$@DOM1,C1804$@DOM1,C1804,C529,Kerberos,Network,LogOn,Success,22,9.716611e-03,9.716611e-03
238999814,1857592,C20591$@DOM1,C20591$@DOM1,C20591,C2106,Kerberos,Network,LogOn,Success,22,3.343704e-03,3.343704e-03
238999997,1857593,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
239000030,1857593,C13525$@DOM1,C13525$@DOM1,C13525,C2106,Kerberos,Network,LogOn,Success,22,5.148778e-02,5.148778e-02
239000055,1857593,C1804$@DOM1,C1804$@DOM1,C1804,C528,Kerberos,Network,LogOn,Success,22,9.716611e-03,9.716611e-03
239000093,1857593,C3520$@DOM1,C3520$@DOM1,C3520,C586,NTLM,Network,LogOn,Success,22,2.829412e-02,2.829412e-02
239000276,1857594,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,22,8.572672e-19,8.572672e-19
239000279,1857594,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,22,1.548829e-17,1.548829e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
239999877,1861316,U4797@DOM1,U4797@DOM1,C11711,C2327,?,?,TGS,Success,22,6.361872e-02,6.361872e-02
239999878,1861316,U4797@DOM1,U4797@DOM1,C11711,C586,?,?,TGS,Success,22,6.361872e-02,6.361872e-02
239999982,1861317,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,22,1.883311e-17,1.883311e-17
239999985,1861317,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
239999989,1861317,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C585,C625,NTLM,Network,LogOn,Success,22,1.540920e-11,1.540920e-11

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
240000091,1861317,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,22,8.804721e-02,8.804721e-02
240000320,1861318,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,22,8.572672e-19,8.572672e-19
240000323,1861318,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
240000452,1861318,C8845$@DOM1,C8845$@DOM1,C8846,C5096,?,?,TGS,Success,22,9.810308e-02,9.810308e-02
240000534,1861318,U5582@DOM9,U5582@DOM9,C1503,C467,?,?,TGS,Success,22,3.065087e-02,3.065087e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
240999586,1864958,U1278@DOM1,U1278@DOM1,C5305,C467,Kerberos,Network,LogOn,Success,22,1.072394e-02,1.072394e-02
240999688,1864959,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
240999878,1864960,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
240999879,1864960,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,22,3.578713e-17,3.578713e-17
240999884,1864960,C10321$@DOM1,C10321$@DOM1,C10321,C467,Kerberos,Network,LogOn,Success,22,2.198800e-02,2.198800e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
241000047,1864960,U2440@DOM1,U2440@DOM1,C17925,C2162,Kerberos,Network,LogOn,Success,22,1.482994e-02,1.482994e-02
241000127,1864961,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
241000128,1864961,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,22,3.578713e-17,3.578713e-17
241000188,1864961,C15099$@DOM1,C15099$@DOM1,C15099,TGT,?,?,TGS,Success,22,5.117788e-02,5.117788e-02
241000250,1864961,C5818$@DOM1,C5818$@DOM1,C5818,C586,Kerberos,Network,LogOn,Success,22,1.320890e-02,1.320890e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
241999854,1868571,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,22,1.883311e-17,1.883311e-17
241999857,1868571,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,22,2.821142e-16,2.821142e-16
241999884,1868571,C123$@DOM1,C123$@DOM1,C527,C612,Kerberos,Network,LogOn,Success,22,3.111875e-02,3.111875e-02
241999919,1868571,C16524$@DOM1,C16524$@DOM1,C16524,C467,Kerberos,Network,LogOn,Success,22,6.421857e-02,6.421857e-02
241999962,1868571,C4135$@DOM1,C4135$@DOM1,C4135,C2106,Kerberos,Network,LogOn,Success,22,4.265128e-03,4.265128e-03

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
242000101,1868571,U7998@DOM1,U7998@DOM1,C754,C17615,?,?,TGS,Success,22,1.021629e-02,1.021629e-02
242000122,1868572,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,22,1.548829e-17,1.548829e-17
242000125,1868572,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
242000285,1868572,U1388@DOM1,U1388@DOM1,C144,C1065,Kerberos,Network,LogOn,Success,22,1.913917e-02,1.913917e-02
242000300,1868572,U2756@DOM1,U2756@DOM1,C7699,C612,Kerberos,Network,LogOn,Success,22,5.151432e-02,5.151432e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
242999927,1872180,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,22,4.464676e-18,4.464676e-18
242999928,1872180,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,22,8.572672e-19,8.572672e-19
242999929,1872180,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,22,1.883311e-17,1.883311e-17
242999933,1872180,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
242999935,1872180,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,22,3.578713e-17,3.578713e-17

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
243000211,1872181,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,22,1.883311e-17,1.883311e-17
243000214,1872181,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
243000249,1872181,C14181$@DOM1,C14181$@DOM1,C14181,C612,Kerberos,Network,LogOn,Success,22,1.947006e-02,1.947006e-02
243000308,1872181,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,22,8.804721e-02,8.804721e-02
243000484,1872182,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,22,8.572672e-19,8.572672e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
243999748,1876160,C9345$@DOM1,C9345$@DOM1,C9345,C467,Kerberos,Network,LogOn,Success,22,9.863422e-02,9.863422e-02
243999812,1876161,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,22,1.883311e-17,1.883311e-17
243999814,1876161,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,22,1.548829e-17,1.548829e-17
243999824,1876161,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
243999844,1876161,C13859$@DOM1,C13859$@DOM1,C13859,C1065,Kerberos,Network,LogOn,Success,22,6.763344e-02,6.763344e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
244000016,1876162,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
244000052,1876162,C1811$@DOM1,C1811$@DOM1,C1812,C586,Kerberos,Network,LogOn,Success,22,7.399603e-02,7.399603e-02
244000149,1876162,U5375@DOM1,U5375@DOM1,C12580,C467,?,?,TGS,Success,22,9.280353e-02,9.280353e-02
244000150,1876162,U5375@DOM1,U5375@DOM1,C12580,C625,?,?,TGS,Success,22,9.280353e-02,9.280353e-02
244000171,1876163,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,22,1.883311e-17,1.883311e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
244999862,1881147,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
244999863,1881147,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,22,3.578713e-17,3.578713e-17
244999864,1881147,C10$@DOM1,C10$@DOM1,C457,C457,?,Network,LogOff,Success,22,7.539962e-07,7.539962e-07
244999885,1881147,C123$@DOM1,C123$@DOM1,C527,C457,Kerberos,Network,LogOn,Success,22,3.111875e-02,3.111875e-02
244999886,1881147,C123$@DOM1,C123$@DOM1,C527,C467,Kerberos,Network,LogOn,Success,22,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
245000078,1881148,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,22,4.464676e-18,4.464676e-18
245000080,1881148,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,22,3.790263e-20,3.790263e-20
245000081,1881148,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
245000084,1881148,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,22,3.578713e-17,3.578713e-17
245000114,1881148,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,22,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
245999902,1886620,C4775$@DOM1,C4775$@DOM1,C4775,C1065,Kerberos,Network,LogOn,Success,22,4.449791e-02,4.449791e-02
245999939,1886620,U1733@DOM1,U1733@DOM1,C5850,C2327,?,?,TGS,Success,22,7.706725e-02,7.706725e-02
245999940,1886620,U1733@DOM1,U1733@DOM1,C5850,C5850,?,?,TGT,Success,22,7.706725e-02,7.706725e-02
245999990,1886621,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,22,8.572672e-19,8.572672e-19
245999995,1886621,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
246000020,1886621,C12170$@DOM1,C12170$@DOM1,C12170,C12170,?,?,TGS,Success,22,3.734137e-02,3.734137e-02
246000021,1886621,C12170$@DOM1,C12170$@DOM1,C12170,C529,Kerberos,Network,LogOn,Success,22,3.734137e-02,3.734137e-02
246000032,1886621,C14469$@DOM1,C14469$@DOM1,C14470,C625,NTLM,Network,LogOn,Success,22,4.570681e-02,4.570681e-02
246000115,1886621,C4775$@DOM1,C4775$@DOM1,C4775,C1065,Kerberos,Network,LogOn,Success,22,4.449791e-02,4.449791e-02
246000148,1886621,C9613$@DOM1,C9613$@DOM1,C9613,C612,Kerberos,Network,LogOn,Success,22,1.384619e-02,1.384619e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
246999842,1892115,U1733@DOM1,U1733@DOM1,C5850,C5850,?,?,TGT,Success,22,7.706725e-02,7.706725e-02
246999894,1892115,U7528@DOM1,U7528@DOM1,C16445,C625,Kerberos,Network,LogOn,Success,22,5.222247e-02,5.222247e-02
246999920,1892116,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,22,2.598007e-17,2.598007e-17
246999927,1892116,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
246999931,1892116,C1015$@DOM1,C1015$@DOM1,C612,C612,?,Network,LogOff,Success,22,6.164954e-03,6.164954e-03

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
247000158,1892117,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,22,1.883311e-17,1.883311e-17
247000160,1892117,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
247000162,1892117,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,22,3.578713e-17,3.578713e-17
247000163,1892117,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,22,2.821142e-16,2.821142e-16
247000216,1892117,C19752$@DOM1,C19752$@DOM1,C19752,C2106,Kerberos,Network,LogOn,Success,22,2.733972e-02,2.733972e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
247999945,1897416,C123$@DOM1,C123$@DOM1,C527,C1085,NTLM,Network,LogOn,Success,22,3.111875e-02,3.111875e-02
247999946,1897416,C123$@DOM1,C123$@DOM1,C527,C523,NTLM,Network,LogOn,Success,22,3.111875e-02,3.111875e-02
247999947,1897416,C123$@DOM1,C123$@DOM1,C527,C988,Kerberos,Network,LogOn,Success,22,3.111875e-02,3.111875e-02
247999948,1897416,C123$@DOM1,C123$@DOM1,C527,C988,NTLM,Network,LogOn,Success,22,3.111875e-02,3.111875e-02
247999961,1897416,C15030$@DOM1,C15030$@DOM1,C15030,C529,Kerberos,Network,LogOn,Success,22,5.796827e-02,5.796827e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
248000016,1897416,C21368$@DOM1,C21368$@DOM1,C22324,C2106,NTLM,Network,LogOn,Success,22,9.574057e-02,9.574057e-02
248000209,1897417,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,22,2.836545e-19,2.836545e-19
248000246,1897417,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,22,3.111875e-02,3.111875e-02
248000247,1897417,C123$@DOM1,C123$@DOM1,C527,C1085,NTLM,Network,LogOn,Success,22,3.111875e-02,3.111875e-02
248000248,1897417,C123$@DOM1,C123$@DOM1,C527,C523,NTLM,Network,LogOn,Success,22,3.111875e-02,3.111875e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
248999700,2162742,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,26,3.111875e-02,3.111875e-02
248999804,2162742,C81$@DOM1,C81$@DOM1,C81,C467,Kerberos,Network,LogOn,Success,26,7.098836e-02,7.098836e-02
248999860,2162743,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,26,1.548829e-17,1.548829e-17
248999864,2162743,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
248999907,2162743,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,26,8.804721e-02,8.804721e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
249000018,2162744,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,26,3.111875e-02,3.111875e-02
249000021,2162744,C14402$@DOM1,C14402$@DOM1,C14402,C457,Kerberos,Network,LogOn,Success,26,8.483350e-02,8.483350e-02
249000051,2162744,C328$@DOM1,C328$@DOM1,C328,C2106,Kerberos,Network,LogOn,Success,26,5.437342e-02,5.437342e-02
249000062,2162744,C5218$@DOM1,C5218$@DOM1,C5218,C586,Kerberos,Network,LogOn,Success,26,8.434568e-02,8.434568e-02
249000137,2162745,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,26,8.572672e-19,8.572672e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
249999930,2168997,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C16919,C586,NTLM,Network,LogOn,Success,26,2.008761e-02,2.008761e-02
249999931,2168997,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C22186,C586,NTLM,Network,LogOn,Success,26,8.230388e-02,8.230388e-02
249999932,2168997,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
249999933,2168997,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C989,C586,NTLM,Network,LogOn,Success,26,2.095495e-02,2.095495e-02
249999942,2168997,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,26,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
250000072,2168998,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,26,1.548829e-17,1.548829e-17
250000076,2168998,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
250000100,2168998,C123$@DOM1,C123$@DOM1,C527,C1065,Kerberos,Network,LogOn,Success,26,3.111875e-02,3.111875e-02
250000101,2168998,C123$@DOM1,C123$@DOM1,C527,C457,Kerberos,Network,LogOn,Success,26,3.111875e-02,3.111875e-02
250000225,2168999,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
250999810,2175384,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C797,C586,NTLM,Network,LogOn,Success,26,6.356516e-02,6.356516e-02
250999939,2175384,U688@DOM1,U688@DOM1,C1959,C467,Kerberos,Network,LogOn,Success,26,2.108105e-02,2.108105e-02
250999942,2175385,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,26,8.572672e-19,8.572672e-19
250999943,2175385,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,26,1.548829e-17,1.548829e-17
250999945,2175385,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
251000020,2175385,C3811$@DOM1,C3811$@DOM1,C1065,C1065,?,Network,LogOff,Success,26,3.255254e-02,3.255254e-02
251000103,2175386,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
251000117,2175386,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,26,3.111875e-02,3.111875e-02
251000120,2175386,C1304$@DOM1,C1304$@DOM1,C1304,C1304,?,?,TGS,Success,26,1.931323e-02,1.931323e-02
251000121,2175386,C1304$@DOM1,C1304$@DOM1,C1304,C529,Kerberos,Network,LogOn,Success,26,1.931323e-02,1.931323e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
251999747,2181913,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,26,2.821142e-16,2.821142e-16
251999942,2181914,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,26,4.464676e-18,4.464676e-18
251999950,2181914,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
251999976,2181914,C123$@DOM1,C123$@DOM1,C527,C2106,Kerberos,Network,LogOn,Success,26,3.111875e-02,3.111875e-02
251999977,2181914,C123$@DOM1,C123$@DOM1,C527,C553,Kerberos,Network,LogOn,Success,26,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
252000160,2181914,U9574@DOM1,U9574@DOM1,C20185,C20185,?,?,TGT,Success,26,4.263460e-02,4.263460e-02
252000166,2181915,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
252000390,2181915,U9574@DOM1,U9574@DOM1,C20185,C20185,?,?,TGT,Success,26,4.263460e-02,4.263460e-02
252000391,2181915,U9574@DOM1,U9574@DOM1,C20185,C2327,?,?,TGS,Success,26,4.263460e-02,4.263460e-02
252000392,2181916,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,26,1.548829e-17,1.548829e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
252999812,2188217,C4241$@DOM1,C4241$@DOM1,C4241,C467,Kerberos,Network,LogOn,Success,26,5.771005e-02,5.771005e-02
252999813,2188217,C4241$@DOM1,C4241$@DOM1,C4241,C625,Kerberos,Network,LogOn,Success,26,5.771005e-02,5.771005e-02
252999934,2188218,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
252999937,2188218,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,26,3.578713e-17,3.578713e-17
252999957,2188218,C14402$@DOM1,C14402$@DOM1,C14402,C528,Kerberos,Network,LogOn,Success,26,8.483350e-02,8.483350e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
253000108,2188219,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
253000110,2188219,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,26,3.578713e-17,3.578713e-17
253000128,2188219,C123$@DOM1,C123$@DOM1,C527,C528,Kerberos,Network,LogOn,Success,26,3.111875e-02,3.111875e-02
253000180,2188219,C3150$@DOM1,C3150$@DOM1,C3150,C612,Kerberos,Network,LogOn,Success,26,3.159173e-02,3.159173e-02
253000225,2188219,C7390$@DOM1,C7390$@DOM1,C7390,C529,Kerberos,Network,LogOn,Success,26,6.411662e-02,6.411662e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
253999922,2194443,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,26,8.804721e-02,8.804721e-02
253999926,2194443,C3363$@DOM1,C3363$@DOM1,C3363,C529,Kerberos,Network,LogOn,Success,26,8.862690e-02,8.862690e-02
253999985,2194444,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,26,1.883311e-17,1.883311e-17
253999989,2194444,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
253999994,2194444,C11138$@DOM1,C11138$@DOM1,C11138,C467,Kerberos,Network,LogOn,Success,26,5.247702e-02,5.247702e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
254000007,2194444,C123$@DOM1,C123$@DOM1,C527,C612,Kerberos,Network,LogOn,Success,26,3.111875e-02,3.111875e-02
254000108,2194444,C9165$@DOM1,C9165$@DOM1,C9165,C625,Kerberos,Network,LogOn,Success,26,3.309735e-02,3.309735e-02
254000162,2194445,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
254000164,2194445,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,26,3.578713e-17,3.578713e-17
254000192,2194445,C1640$@DOM1,C1640$@DOM1,C2109,C612,Kerberos,Network,LogOn,Success,26,1.181980e-05,1.181980e-05
...,...,...,...,...,...,...,...,...,...,...,...,...
254999908,2200682,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
254999925,2200682,C123$@DOM1,C123$@DOM1,C527,C523,Kerberos,Network,LogOn,Success,26,3.111875e-02,3.111875e-02
254999927,2200682,C12543$@DOM1,C12543$@DOM1,C12543,C529,Kerberos,Network,LogOn,Success,26,6.703361e-02,6.703361e-02
254999932,2200682,C1349$@DOM1,C1349$@DOM1,C1349,C467,Kerberos,Network,LogOn,Success,26,6.416293e-02,6.416293e-02
254999949,2200682,C1640$@DOM1,C1640$@DOM1,C2109,C2106,Kerberos,Network,LogOn,Success,26,1.181980e-05,1.181980e-05

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
255000001,2200682,C3826$@DOM1,C3826$@DOM1,C3826,C625,Kerberos,Network,LogOn,Success,26,2.382790e-02,2.382790e-02
255000089,2200682,U5543@DOM1,U5543@DOM1,C13039,C457,?,?,TGS,Success,26,5.819474e-02,5.819474e-02
255000090,2200682,U5543@DOM1,U5543@DOM1,C13039,C457,Kerberos,Network,LogOn,Success,26,5.819474e-02,5.819474e-02
255000107,2200683,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,26,4.464676e-18,4.464676e-18
255000115,2200683,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
255999905,2206997,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
255999925,2206997,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,26,3.111875e-02,3.111875e-02
255999965,2206997,C3600$@DOM1,C3600$@DOM1,C3600,C612,Kerberos,Network,LogOn,Success,26,8.556734e-02,8.556734e-02
255999982,2206997,C6369$@DOM1,C6369$@DOM1,C6369,C6369,?,?,TGT,Success,26,2.588489e-02,2.588489e-02
255999983,2206997,C6369$@DOM1,C6369$@DOM1,C6369,TGT,?,?,TGS,Success,26,2.588489e-02,2.588489e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
256000015,2206997,U366@DOM1,U366@DOM1,C3600,C612,Kerberos,Network,LogOn,Success,26,9.594346e-02,9.594346e-02
256000044,2206998,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,26,8.572672e-19,8.572672e-19
256000045,2206998,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,26,1.548829e-17,1.548829e-17
256000052,2206998,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
256000053,2206998,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,26,3.578713e-17,3.578713e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
256999868,2213279,C3732$@DOM1,C3732$@DOM1,C3732,C586,Kerberos,Network,LogOn,Success,26,6.213140e-02,6.213140e-02
256999973,2213280,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,26,8.572672e-19,8.572672e-19
256999974,2213280,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,26,1.883311e-17,1.883311e-17
256999976,2213280,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
256999977,2213280,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,26,3.578713e-17,3.578713e-17

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
257000174,2213281,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,26,2.598007e-17,2.598007e-17
257000177,2213281,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
257000372,2213282,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,26,3.790263e-20,3.790263e-20
257000376,2213282,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,26,1.883311e-17,1.883311e-17
257000379,2213282,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
257999592,2219561,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,26,1.548829e-17,1.548829e-17
257999736,2219562,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,26,8.572672e-19,8.572672e-19
257999739,2219562,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
257999750,2219562,C123$@DOM1,C123$@DOM1,C527,C123,?,?,TGS,Success,26,3.111875e-02,3.111875e-02
257999859,2219563,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,26,4.464676e-18,4.464676e-18

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
258000006,2219564,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
258000022,2219564,C12543$@DOM1,C12543$@DOM1,C12543,C467,Kerberos,Network,LogOn,Success,26,6.703361e-02,6.703361e-02
258000122,2219565,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,26,1.548829e-17,1.548829e-17
258000124,2219565,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
258000215,2219565,C7352$@DOM1,SYSTEM@C7352,C7352,C7352,Negotiate,Service,LogOn,Success,26,7.565949e-02,9.964668e-01
...,...,...,...,...,...,...,...,...,...,...,...,...
258999871,2225884,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
258999872,2225884,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,26,2.821142e-16,2.821142e-16
258999942,2225884,C4290$@DOM1,C4290$@DOM1,C3012,C1065,Kerberos,Network,LogOn,Success,26,2.147454e-02,2.147454e-02
258999943,2225884,C4290$@DOM1,C4290$@DOM1,C3012,C625,Kerberos,Network,LogOn,Success,26,2.147454e-02,2.147454e-02
258999968,2225884,C7586$@DOM1,C7586$@DOM1,C7586,C612,Kerberos,Network,LogOn,Success,26,9.110326e-02,9.110326e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
259000052,2225885,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,26,3.790263e-20,3.790263e-20
259000053,2225885,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,26,1.883311e-17,1.883311e-17
259000055,2225885,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
259000096,2225885,C17546$@DOM1,C17546$@DOM1,C17546,C1065,Kerberos,Network,LogOn,Success,26,2.449647e-02,2.449647e-02
259000120,2225885,C2641$@DOM1,C2641$@DOM1,C2641,C467,Kerberos,Network,LogOn,Success,26,9.450651e-02,9.450651e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
259999868,2232409,C7932$@DOM1,C7932$@DOM1,C7932,C2106,Kerberos,Network,LogOn,Success,26,7.661575e-02,7.661575e-02
259999904,2232409,U9574@DOM1,U9574@DOM1,C20185,C20185,?,?,TGT,Success,26,4.263460e-02,4.263460e-02
259999905,2232409,U9574@DOM1,U9574@DOM1,C20185,C2327,?,?,TGS,Success,26,4.263460e-02,4.263460e-02
259999911,2232410,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
259999912,2232410,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success,26,2.821142e-16,2.821142e-16

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
260000018,2232410,C9825$@DOM1,C9825$@DOM1,C9825,C2106,Kerberos,Network,LogOn,Success,26,4.338087e-02,4.338087e-02
260000063,2232411,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
260000090,2232411,C1859$@DOM1,C1859$@DOM1,C1859,C2106,Kerberos,Network,LogOn,Success,26,9.852297e-02,9.852297e-02
260000128,2232411,C3969$@DOM1,C3969$@DOM1,C3970,C467,Kerberos,Network,LogOn,Success,26,3.859382e-02,3.859382e-02
260000184,2232411,C9195$@DOM1,C9195$@DOM1,C9195,C9195,?,Network,LogOff,Success,26,7.419393e-02,7.419393e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
260999803,2239006,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C13698,C586,NTLM,Network,LogOn,Success,26,8.559126e-04,8.559126e-04
260999872,2239006,C8692$@DOM1,C8692$@DOM1,C8693,C612,Kerberos,Network,LogOn,Success,26,4.838922e-02,4.838922e-02
260999891,2239006,U2440@DOM1,U2440@DOM1,C17925,C2162,Kerberos,Network,LogOn,Success,26,1.482994e-02,1.482994e-02
260999915,2239007,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,26,1.883311e-17,1.883311e-17
260999933,2239007,C123$@DOM1,C123$@DOM1,C527,C1085,Kerberos,Network,LogOn,Success,26,3.111875e-02,3.111875e-02

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
261000038,2239008,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
261000040,2239008,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,26,3.578713e-17,3.578713e-17
261000086,2239008,C19752$@DOM1,C19752$@DOM1,C19752,C19752,?,Network,LogOff,Success,26,2.733972e-02,2.733972e-02
261000087,2239008,C19752$@DOM1,C19752$@DOM1,C19752,C612,Kerberos,Network,LogOn,Success,26,2.733972e-02,2.733972e-02
261000088,2239008,C19752$@DOM1,C19752$@DOM1,C19752,C625,Kerberos,Network,LogOn,Success,26,2.733972e-02,2.733972e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
261999856,2245492,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
261999983,2245493,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,26,1.883311e-17,1.883311e-17
261999984,2245493,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
261999990,2245493,C13525$@DOM1,C13525$@DOM1,C13525,C625,Kerberos,Network,LogOn,Success,26,5.148778e-02,5.148778e-02
261999994,2245493,C14332$@DOM1,C14332$@DOM1,C14332,C467,Kerberos,Network,LogOn,Success,26,8.822723e-03,8.822723e-03

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
262000099,2245494,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,26,4.464676e-18,4.464676e-18
262000102,2245494,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
262000117,2245494,C123$@DOM1,C123$@DOM1,C527,C988,Kerberos,Network,LogOn,Success,26,3.111875e-02,3.111875e-02
262000244,2245494,U6539@DOM1,U6539@DOM1,C2600,C612,Kerberos,Network,LogOn,Success,26,9.632488e-02,9.632488e-02
262000266,2245495,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,26,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
262999845,2252015,C10321$@DOM1,C10321$@DOM1,C10321,C2106,Kerberos,Network,LogOn,Success,27,2.198800e-02,2.198800e-02
262999865,2252015,C1640$@DOM1,C1640$@DOM1,C2109,C2106,Kerberos,Network,LogOn,Success,27,1.181980e-05,1.181980e-05
262999933,2252015,C7778$@DOM1,C7778$@DOM1,C7778,C2106,Kerberos,Network,LogOn,Success,27,8.923221e-02,8.923221e-02
262999977,2252016,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success,27,4.464676e-18,4.464676e-18
262999982,2252016,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,27,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
263000115,2252017,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,27,3.790263e-20,3.790263e-20
263000119,2252017,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,27,2.836545e-19,2.836545e-19
263000147,2252017,C1640$@DOM1,C1640$@DOM1,C2109,C2106,Kerberos,Network,LogOn,Success,27,1.181980e-05,1.181980e-05
263000243,2252018,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,27,2.598007e-17,2.598007e-17
263000244,2252018,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,27,2.836545e-19,2.836545e-19
...,...,...,...,...,...,...,...,...,...,...,...,...
263999774,2258602,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,27,1.883311e-17,1.883311e-17
263999777,2258602,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success,27,1.548829e-17,1.548829e-17
263999778,2258602,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,27,2.836545e-19,2.836545e-19
263999783,2258602,C123$@DOM1,C123$@DOM1,C527,C123,?,?,TGS,Success,27,3.111875e-02,3.111875e-02
263999917,2258603,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,27,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
264000060,2258604,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,27,2.836545e-19,2.836545e-19
264000071,2258604,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,27,3.111875e-02,3.111875e-02
264000089,2258604,C1957$@DOM1,C1957$@DOM1,C1957,C586,Kerberos,Network,LogOn,Success,27,7.240992e-02,7.240992e-02
264000114,2258604,C4501$@DOM1,C4501$@DOM1,C4501,C612,Kerberos,Network,LogOn,Success,27,8.444238e-02,8.444238e-02
264000151,2258604,C8908$@DOM1,C8908$@DOM1,C8908,C467,Kerberos,Network,LogOn,Success,27,2.821444e-02,2.821444e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
264999801,2265212,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,27,2.836545e-19,2.836545e-19
264999803,2265212,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,27,3.578713e-17,3.578713e-17
264999928,2265212,C854$@DOM1,C854$@DOM1,C854,C1065,Kerberos,Network,LogOn,Success,27,6.800293e-02,6.800293e-02
264999992,2265213,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,27,1.883311e-17,1.883311e-17
264999996,2265213,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,27,2.836545e-19,2.836545e-19

,0,1,2,3,4,5,6,7,8,9,client_to_ip_pred,ip_to_service_pred
265000144,2265213,C854$@DOM1,C854$@DOM1,C854,C1065,?,?,TGS,Success,27,6.800293e-02,6.800293e-02
265000223,2265214,ANONYMOUS LOGON@C528,ANONYMOUS LOGON@C528,C528,C528,?,Network,LogOff,Success,27,2.598007e-17,2.598007e-17
265000226,2265214,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,27,2.836545e-19,2.836545e-19
265000228,2265214,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,27,3.578713e-17,3.578713e-17
265000398,2265214,C854$@DOM1,C854$@DOM1,C854,C467,Kerberos,Network,LogOn,Success,27,6.800293e-02,6.800293e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
265999691,2271058,C2319$@DOM1,C2319$@DOM1,C467,C467,?,Network,LogOff,Success,27,8.804721e-02,8.804721e-02
265999835,2271059,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,27,1.883311e-17,1.883311e-17
265999839,2271059,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,27,2.836545e-19,2.836545e-19
265999842,2271059,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C612,C612,?,Network,LogOff,Success,27,3.578713e-17,3.578713e-17
265999860,2271059,C123$@DOM1,C123$@DOM1,C527,C101,Kerberos,Network,LogOn,Success,27,3.111875e-02,3.111875e-02

In [58]:
import re
invalid = 0
for chunk in pd.read_csv('../lm-vol/anomalies.csv', chunksize=100000):
#     display(chunk.head(500))
    client_to_ip_pred = []
    ip_to_service_pred = []
    for index, row in chunk.iterrows():
        try:
            client_to_ip = re.findall("\d+\.\d+", row[1])
            ip_to_service = re.findall("\d+\.\d+", row[2])
            client_to_ip_pred.append(float(client_to_ip[1]))
            ip_to_service_pred.append(float(ip_to_service[1]))
        except:
            client_to_ip_pred.append(None)
            ip_to_service_pred.append(None)
            invalid+=1
#     print(client_to_ip_pred)
#     print(ip_to_service_pred)
    chunk['client_to_ip_pred'] = client_to_ip_pred
    chunk['ip_to_service_pred'] = ip_to_service_pred
    display(chunk)
    break

,Unnamed: 0,0,1,client_to_ip_pred,ip_to_service_pred
0,0,[[0.00280613 0.99719387]],[[0.00280613 0.99719387]],0.997194,0.997194
1,1,[[1.00000000e+00 1.86965761e-19]],[[1.00000000e+00 1.86965761e-19]],1.869658,1.869658
2,2,[[1.82675456e-05 9.99981732e-01]],[[1.82675456e-05 9.99981732e-01]],9.999817,9.999817
3,3,[[0.6802575 0.3197425]],[[0.00165419 0.99834581]],0.319742,0.998346
4,4,[[0.38826426 0.61173574]],[[0.38826426 0.61173574]],0.611736,0.611736
...,...,...,...,...,...
99995,99995,[[0.39758728 0.60241272]],[[0.39758728 0.60241272]],0.602413,0.602413
99996,99996,[[0.00124198 0.99875802]],[[0.00124198 0.99875802]],0.998758,0.998758
99997,99997,[[0.00923951 0.99076049]],[[0.00923951 0.99076049]],0.990760,0.990760
99998,99998,[[0.00319262 0.99680738]],[[0.00319262 0.99680738]],0.996807,0.996807
99999,99999,[[0.00319262 0.99680738]],[[0.00319262 0.99680738]],0.996807,0.996807

In [59]:
print(invalid)

150

In [60]:
print(len(client_to_ip_pred))

100000

In [61]:
anomalous_edges = len(chunk[(chunk["ip_to_service_pred"].astype(float) <= 0.1) | (chunk["client_to_ip_pred"].astype(float) <= 0.1)])
normal_edges = len(chunk[(chunk["ip_to_service_pred"].astype(float) > 0.1) & (chunk["client_to_ip_pred"].astype(float) > 0.1)])
print(anomalous_edges/(normal_edges+anomalous_edges))
print(anomalous_edges)
print(normal_edges)

0.015222834251377066
1520
98330

In [5]:
import pickle
import pandas as pd
import gensim
from gensim.models import KeyedVectors
import networkx as nx
experiment_names = ['2_18_500_epochs_v2']

def operator_hadamard(u, v):
        return u * v

for name in experiment_names:
    with open(f'../lm-vol/{name}_lr.pkl', 'rb') as file:
        clf = pickle.load(file)
    model = gensim.models.Word2Vec.load(f'../lm-vol/{name}_word2vec.model')
    wv = KeyedVectors.load(f'../lm-vol/{name}_word2vec.wordvectors', mmap='r')
    graph_structure = ('source', 'source_computer', 'destination')
    inconclusive = 0
    n = 0
    red = pd.read_csv('../lm-vol/redteam_complete.csv')
    client_to_ip_pred = []
    ip_to_service_pred = []
    for index, row in red.iterrows():
        try: 
            client_embedding = wv[(row[graph_structure[0]])]
            ip_embedding = wv[(row[graph_structure[1]])]
            service_embedding = wv[(row[graph_structure[2]])]
            client_to_ip_embedding = [operator_hadamard(client_embedding, ip_embedding)]
            ip_to_service_embedding = [operator_hadamard(ip_embedding, service_embedding)]
            client_to_ip = clf.predict_proba(client_to_ip_embedding)
            ip_to_service = clf.predict_proba(ip_to_service_embedding)
            client_to_ip_pred.append(client_to_ip[0][1])
            ip_to_service_pred.append(ip_to_service[0][1])
        except: 
            client_to_ip_pred.append(None)
            ip_to_service_pred.append(None)
            inconclusive += 1
    red['client_to_ip_pred'] = client_to_ip_pred
    red['ip_to_service_pred'] = ip_to_service_pred
    red_anomalies = red[(red["ip_to_service_pred"].astype(float) <= 0.1) | (red["client_to_ip_pred"].astype(float) <= 0.1)]
    red_invalids = red[(red["ip_to_service_pred"] == None) & (red["client_to_ip_pred"] == None)]
    display(red_anomalies)
    
    test_G = nx.read_graphml('../lm-vol/LANL_test.graphml')
    test = []
    # max = 100
    for index, edge in enumerate(test_G.edges):
    #     if index > max:
    #         break
        try:
            src = wv[edge[0]]
            dest = wv[edge[1]]
            src_to_dest = [operator_hadamard(src, dest)]
            prob = clf.predict_proba(src_to_dest)
            test.append(prob[0][1])
        except:
            test.append(None)
    anomalies = 0
    for prob in test:
        if prob is not None and prob <= 0.1:
            anomalies+=1
    print(anomalies)
    
#     graph_structure = (1, 3, 2)
#     client_to_ip_pred = []
#     ip_to_service_pred = []
#     inconclusive = 0
#     for chunk in pd.read_csv('../lm-vol/LANL_test.csv', header=None, chunksize=1000000):
#     #     display(chunk)
#         for index, row in chunk.iterrows():
#             try: 
#                 client_embedding = wv[(row[graph_structure[0]])]
#                 ip_embedding = wv[(row[graph_structure[1]])]
#                 service_embedding = wv[(row[graph_structure[2]])]
#                 client_to_ip_embedding = [operator_hadamard(client_embedding, ip_embedding)]
#                 ip_to_service_embedding = [operator_hadamard(ip_embedding, service_embedding)]
#                 client_to_ip = clf.predict_proba(client_to_ip_embedding)
#                 ip_to_service = clf.predict_proba(ip_to_service_embedding)
#                 client_to_ip_pred.append(client_to_ip[0][1])
#                 ip_to_service_pred.append(ip_to_service[0][1])
#             except: 
#                 client_to_ip_pred.append(None)
#                 ip_to_service_pred.append(None)
#                 inconclusive += 1
#         chunk['client_to_ip_pred'] = client_to_ip_pred
#         chunk['ip_to_service_pred'] = ip_to_service_pred
#         chunk_anomalies = chunk[(chunk["ip_to_service_pred"].astype(float) <= 0.1) | (chunk["client_to_ip_pred"].astype(float) <= 0.1)]
#         chunk_invalids = chunk[(chunk["ip_to_service_pred"] == None) & (chunk["client_to_ip_pred"] == None)]
#         display(chunk_anomalies)
#         break
    break

,Unnamed: 0,time,source,source_computer,destination_computer,destination,authentication_type,logon_type,authentication_orientation,Success,client_to_ip_pred,ip_to_service_pred
50,50,725488,U1653@DOM1,C17693,C395,U1653@DOM1,NTLM,Network,LogOn,Success,0.000702,0.000702
51,51,725589,U1653@DOM1,C17693,C2669,U1653@DOM1,NTLM,Network,LogOn,Success,0.000702,0.000702
71,71,728800,U3905@DOM1,C17693,C9945,U3905@DOM1,NTLM,Network,LogOn,Success,0.036915,0.036915
72,72,729056,U995@DOM1,C17693,C1014,U995@DOM1,NTLM,Network,LogOn,Success,0.076066,0.076066
78,78,736582,U2837@DOM1,C17693,C89,U2837@DOM1,NTLM,Network,LogOn,Success,0.096589,0.096589
...,...,...,...,...,...,...,...,...,...,...,...,...
702,702,2305324,U12@DOM1,C17693,C366,U12@DOM1,NTLM,Network,LogOn,Success,0.047615,0.047615
703,703,2305554,U4448@DOM1,C17693,C1555,U4448@DOM1,NTLM,Network,LogOn,Success,0.058683,0.058683
705,705,2306980,U6572@DOM1,C17693,C90,U6572@DOM1,NTLM,Network,LogOn,Success,0.005804,0.005804
716,716,2461523,U3718@DOM1,C17693,C9692,U3718@DOM1,NTLM,Network,LogOn,Success,0.086488,0.086488
717,717,2461523,U3718@DOM1,C17693,C9692,U3718@DOM1,NTLM,Network,LogOn,Success,0.086488,0.086488

19231

In [8]:
import dask.dataframe as dd
df =  dd.read_csv('../lm-vol/LANL_test.csv', dtype='str', header= None, blocksize="1024MB")
display(df.head(100))

,0,1,2,3,4,5,6,7,8,9
0,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C1250,C586,NTLM,Network,LogOn,Success,1
1,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1
2,1,C101$@DOM1,C101$@DOM1,C988,C988,?,Network,LogOff,Success,1
3,1,C1020$@DOM1,SYSTEM@C1020,C1020,C1020,Negotiate,Service,LogOn,Success,1
4,1,C1021$@DOM1,C1021$@DOM1,C1021,C625,Kerberos,Network,LogOn,Success,1
...,...,...,...,...,...,...,...,...,...,...
95,1,C660$@DOM1,SYSTEM@C660,C660,C660,Negotiate,Service,LogOn,Success,1
96,1,C674$@DOM1,SYSTEM@C674,C674,C674,Negotiate,Service,LogOn,Success,1
97,1,C688$@DOM1,C688$@DOM1,C688,C1065,Kerberos,Network,LogOn,Success,1
98,1,C693$@DOM1,C693$@DOM1,C528,C528,?,Network,LogOff,Success,1
99,1,C725$@DOM1,SYSTEM@C725,C725,C725,Negotiate,Service,LogOn,Success,1