In [3]:
import dask.dataframe as dd

In [10]:
names = ['time','source user@domain','destination user@domain','source computer','destination computer','authentication type','logon type','authentication orientation','success/failure','day']
df =  dd.read_csv('../lm-vol/LANL_test.csv', dtype='str', header= None, names=names, blocksize="1024MB")

In [25]:
train_df =  dd.read_csv('../lm-vol/LANL_train.csv', dtype='str', header= None, names=names, blocksize="1024MB")

In [11]:
df.head()

,time,source user@domain,destination user@domain,source computer,destination computer,authentication type,logon type,authentication orientation,success/failure,day
0,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C1250,C586,NTLM,Network,LogOn,Success,1
1,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,1
2,1,C101$@DOM1,C101$@DOM1,C988,C988,?,Network,LogOff,Success,1
3,1,C1020$@DOM1,SYSTEM@C1020,C1020,C1020,Negotiate,Service,LogOn,Success,1
4,1,C1021$@DOM1,C1021$@DOM1,C1021,C625,Kerberos,Network,LogOn,Success,1

In [21]:
df2 = df[df['authentication type'] == 'NTLM']
df2.head()

,time,source user@domain,destination user@domain,source computer,destination computer,authentication type,logon type,authentication orientation,success/failure,day
0,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C1250,C586,NTLM,Network,LogOn,Success,1
226,1,U898@DOM1,U898@DOM1,C2944,C2944,NTLM,Network,LogOn,Success,1
245,2,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C4615,C457,NTLM,Network,LogOn,Success,1
246,2,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C2734,C586,NTLM,Network,LogOn,Success,1
247,2,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C3896,C586,NTLM,Network,LogOn,Success,1

In [26]:
train_df2 = train_df[train_df['authentication type'] == 'NTLM']

In [15]:
df2.shape[0].compute()

15882161

In [27]:
train_df2.shape[0].compute()

33459139

In [22]:
df2 = df2.repartition(npartitions=15)
df2.npartitions

15

In [28]:
train_df2.npartitions

53

In [23]:
df2 = df2.persist()

In [24]:
max = 100
for index, row in df2.iterrows():
    if index > max:
        break
    print(row)

time                                             1
source user@domain            ANONYMOUS LOGON@C586
destination user@domain       ANONYMOUS LOGON@C586
source computer                              C1250
destination computer                          C586
authentication type                           NTLM
logon type                                 Network
authentication orientation                   LogOn
success/failure                            Success
day                                              1
Name: 0, dtype: object

In [ ]:
import multiprocessing
import numpy as np
import pandas as pd
import pickle
import gensim
from gensim.models import KeyedVectors

In [ ]:
for chunk in pd.read_csv('../lm-vol/LANL_test.csv', header=None, chunksize=1000000):
    NUM_CORES = 20
    # split the raw dataframe into chunks
    df_chunks = np.array_split(chunk ,NUM_CORES)
    # use a pool to spawn multiple proecsses
    with multiprocessing.Pool(NUM_CORES) as pool:
        # concatenate all processed chunks together.
        # process_df_function is the function you defined in the previous block
        processed_df = pd.concat(pool.map(process_df_function, df_chunks), ignore_index=True)
    processed_anomalies = processed_df[(processed_df["ip_to_service_pred"].astype(float) <= 0.1) | (processed_df["client_to_ip_pred"].astype(float) <= 0.1)]