In [1]:
import pandas as pd
import networkx as nx
import numpy as np
import stellargraph as sg
from stellargraph import StellarGraph
from stellargraph.data import EdgeSplitter
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegressionCV

2023-03-11 03:51:51.519967: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F AVX512_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-03-11 03:51:51.734185: I tensorflow/core/util/port.cc:104] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2023-03-11 03:51:51.739266: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2023-03-11 03:51:51.739301: I tensorflow/compiler/xla/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2023-03-11 03:51:52.670780: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2023-03-11 03:51:52.670890: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2023-03-11 03:51:52.670900: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.
2023-03-11 03:51:53.776130: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2023-03-11 03:51:53.776190: W tensorflow/compiler/xla/stream_executor/cuda/cuda_driver.cc:265] failed call to cuInit: UNKNOWN ERROR (303)
2023-03-11 03:51:53.776212: I tensorflow/compiler/xla/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (lm-dep-74fd78c88-wp8c6): /proc/driver/nvidia/version does not exist
2023-03-11 03:51:53.776678: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F AVX512_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
def filter_Pikachu(df):
    df = df.assign(src_user = df['source user@domain'].str.split('@').map(lambda x: x[0]))
    df = df[(df['src_user'].str.contains('LOCAL')==False) & (df['src_user'].str.contains('SYSTEM')==False) & (df['src_user'].str.contains('ANONYMOUS')==False) & (df['src_user'].str.contains('ADMINISTRARTOR')==False)]
    df = df[df['src_user'].str[-1] != '$']
    return df

In [3]:
red_df = pd.read_csv('../../../lm-vol/redteam_complete.csv')
red_df.rename(columns = {'source':'source user@domain', 'source_computer': 'source computer', 'destination_computer': 'destination computer'}, inplace = True)

In [4]:
red_df = red_df[['source user@domain', 'source computer', 'destination computer']]

In [5]:
u_red_df = red_df.groupby(['source user@domain', 'source computer', 'destination computer']).size().reset_index(name='Count')

In [6]:
p_u_red_df = filter_Pikachu(u_red_df)

In [7]:
p_u_red_df

    source user@domain source computer destination computer  Count src_user
0           U1025@DOM1          C17693                C1046      3    U1025
1           U1025@DOM1          C17693                 C338      2    U1025
2           U1025@DOM1          C17693                C3597      1    U1025
3         U10379@C3521          C17693                C3521      2   U10379
4           U1048@DOM1          C17693               C12320      2    U1048
..                 ...             ...                  ...    ...      ...
428         U9947@DOM1          C17693                 C853      3    U9947
429         U9947@DOM1          C17693                 C923      1    U9947
430          U995@DOM1          C17693                C1014      2     U995
431          U995@DOM1          C17693                C2058      1     U995
432          U995@DOM1          C17693                C3173      1     U995

[433 rows x 5 columns]

In [8]:
u_train_df = pd.read_csv('../../../lm-vol/LANL_train_unique_v2.csv')

In [9]:
p_u_train_df = filter_Pikachu(u_train_df)

In [10]:
p_u_train_df

        source user@domain destination computer source computer src_user
196              U101@DOM1                C1862           C1862     U101
197             U1377@DOM1                C2162           C2162    U1377
198               U13@DOM1                 C368            C368      U13
199             U1413@DOM1                 C612            C265    U1413
200             U1413@DOM1                 C612            C612    U1413
...                    ...                  ...             ...      ...
1431275         U8500@DOM1                 C529           C1128    U8500
1431276         U8500@DOM1                 C457           C1128    U8500
1431277         U8500@DOM1                C1114           C1115    U8500
1431278         U8500@DOM1                C1115           C1115    U8500
1431279         U6957@DOM1                 C612           C1265    U6957

[849775 rows x 4 columns]

In [11]:
u_test_df = pd.read_csv('../../../lm-vol/LANL_test_unique_v2.csv')

In [12]:
p_u_test_df = filter_Pikachu(u_test_df)

In [13]:
p_u_test_df

        source user@domain destination computer source computer src_user
109              U101@DOM1                C1862           C1862     U101
110               U10@DOM1                 C229            C229      U10
111               U10@DOM1                 C528             C62      U10
112             U1137@DOM1                C1065           C1065    U1137
113             U1137@DOM1                 C625            C625    U1137
...                    ...                  ...             ...      ...
1062869            U7319@?                 C528            C528    U7319
1062870         U1345@DOM1                C1640          C23653    U1345
1062871         U5462@DOM1                C1065          C17256    U5462
1062872         U5462@DOM1                C1065           C1065    U5462
1062873             U422@?                C2109           C2109     U422

[609859 rows x 4 columns]

In [14]:
int_df = pd.merge(p_u_red_df, p_u_test_df, how='inner', on=['source user@domain', 'destination computer', 'source computer'])

In [15]:
display(int_df)

,source user@domain,source computer,destination computer,Count,src_user_x,src_user_y
0,U1025@DOM1,C17693,C1046,3,U1025,U1025
1,U1025@DOM1,C17693,C338,2,U1025,U1025
2,U1025@DOM1,C17693,C3597,1,U1025,U1025
3,U10379@C3521,C17693,C3521,2,U10379,U10379
4,U1048@DOM1,C17693,C12320,2,U1048,U1048
...,...,...,...,...,...,...
414,U9947@DOM1,C17693,C853,3,U9947,U9947
415,U9947@DOM1,C17693,C923,1,U9947,U9947
416,U995@DOM1,C17693,C1014,2,U995,U995
417,U995@DOM1,C17693,C2058,1,U995,U995
418,U995@DOM1,C17693,C3173,1,U995,U995

In [16]:
train_G = nx.Graph()
graph_structure = ('source user@domain', 'source computer', 'destination computer')
for index, row in p_u_train_df.iterrows():
    client_node = row[graph_structure[0]]
    ip_node = row[graph_structure[1]]
    service_node = row[graph_structure[2]]
    train_G.add_nodes_from([ip_node, service_node, client_node])
    train_G.add_edge(ip_node, client_node)
    train_G.add_edge(ip_node, service_node)

In [17]:
graph = StellarGraph.from_networkx(train_G)

In [18]:
print(graph.info())

StellarGraph: Undirected multigraph
 Nodes: 48094, Edges: 569125

 Node types:
  default: [48094]
    Features: none
    Edge types: default-default->default

 Edge types:
    default-default->default: [569125]
        Weights: all 1 (default)
        Features: none

In [19]:
from stellargraph.data import BiasedRandomWalk
from gensim.models import Word2Vec
from gensim.models.callbacks import CallbackAny2Vec

# init callback class
class callback(CallbackAny2Vec):
    """
    Callback to print loss after each epoch
    """
    def __init__(self):
        self.epoch = 0

    def on_epoch_end(self, model):
        loss = model.get_latest_training_loss()
        if self.epoch == 0:
            print('Loss after epoch {}: {}'.format(self.epoch, loss))
        else:
            print('Loss after epoch {}: {}'.format(self.epoch, loss- self.loss_previous_step))
        self.epoch += 1
        self.loss_previous_step = loss

In [20]:
p = 1.0
q = 1.0
dimensions = 128
num_walks = 20
walk_length = 10
window_size = 5
num_iter = 100
workers = 32

In [21]:
rw = BiasedRandomWalk(graph)
walks = rw.run(graph.nodes(), n=num_walks, length=walk_length, p=p, q=q)
print(f"Number of random walks for Graph: {len(walks)}")

Number of random walks for Graph: 961880
Loss after epoch 0: 739948.1875
Loss after epoch 1: 569718.6875
Loss after epoch 2: 533892.0
Loss after epoch 3: 481046.625
Loss after epoch 4: 435600.75
Loss after epoch 5: 434842.5
Loss after epoch 6: 417252.25
Loss after epoch 7: 408505.75
Loss after epoch 8: 398215.75
Loss after epoch 9: 385469.5
Loss after epoch 10: 386546.0
Loss after epoch 11: 375120.5
Loss after epoch 12: 387635.5
Loss after epoch 13: 372928.0
Loss after epoch 14: 387700.0
Loss after epoch 15: 373937.0
Loss after epoch 16: 390705.0
Loss after epoch 17: 377011.5
Loss after epoch 18: 390365.5
Loss after epoch 19: 354575.0
Loss after epoch 20: 369845.0
Loss after epoch 21: 346205.0
Loss after epoch 22: 359695.0
Loss after epoch 23: 361380.0
Loss after epoch 24: 351310.0
Loss after epoch 25: 362842.0
Loss after epoch 26: 349605.0
Loss after epoch 27: 353457.0
Loss after epoch 28: 364440.0
Loss after epoch 29: 359993.0
Loss after epoch 30: 352267.0
Loss after epoch 31: 337421.0
Loss after epoch 32: 362013.0
Loss after epoch 33: 345993.0
Loss after epoch 34: 352776.0
Loss after epoch 35: 354854.0
Loss after epoch 36: 352805.0
Loss after epoch 37: 363434.0
Loss after epoch 38: 336963.0
Loss after epoch 39: 360950.0
Loss after epoch 40: 336849.0
Loss after epoch 41: 347679.0
Loss after epoch 42: 361647.0
Loss after epoch 43: 298903.0
Loss after epoch 44: 307884.0
Loss after epoch 45: 306072.0
Loss after epoch 46: 314514.0
Loss after epoch 47: 314546.0
Loss after epoch 48: 305254.0
Loss after epoch 49: 315532.0
Loss after epoch 50: 310950.0
Loss after epoch 51: 320622.0
Loss after epoch 52: 308320.0
Loss after epoch 53: 310828.0
Loss after epoch 54: 299892.0
Loss after epoch 55: 305890.0
Loss after epoch 56: 296748.0
Loss after epoch 57: 307086.0
Loss after epoch 58: 314394.0
Loss after epoch 59: 300296.0
Loss after epoch 60: 296438.0
Loss after epoch 61: 289054.0
Loss after epoch 62: 301006.0
Loss after epoch 63: 290594.0
Loss after epoch 64: 297392.0
Loss after epoch 65: 288514.0
Loss after epoch 66: 296060.0
Loss after epoch 67: 294800.0
Loss after epoch 68: 290508.0
Loss after epoch 69: 282380.0
Loss after epoch 70: 288676.0
Loss after epoch 71: 271978.0
Loss after epoch 72: 287096.0
Loss after epoch 73: 275718.0
Loss after epoch 74: 274610.0
Loss after epoch 75: 282364.0
Loss after epoch 76: 263312.0
Loss after epoch 77: 271384.0
Loss after epoch 78: 271238.0
Loss after epoch 79: 276466.0
Loss after epoch 80: 277132.0
Loss after epoch 81: 266638.0
Loss after epoch 82: 272612.0
Loss after epoch 83: 272820.0
Loss after epoch 84: 272938.0
Loss after epoch 85: 268848.0
Loss after epoch 86: 256758.0
Loss after epoch 87: 249554.0
Loss after epoch 88: 262260.0
Loss after epoch 89: 246090.0
Loss after epoch 90: 252558.0
Loss after epoch 91: 251400.0
Loss after epoch 92: 247844.0
Loss after epoch 93: 249340.0
Loss after epoch 94: 248700.0
Loss after epoch 95: 240842.0
Loss after epoch 96: 240802.0
Loss after epoch 97: 247788.0
Loss after epoch 98: 247922.0
Loss after epoch 99: 242756.0

In [26]:
model = Word2Vec(
    walks,
    vector_size=dimensions,
    window=2,
    min_count=0,
    sg=0,
    hs=0,
    negative=10,
    cbow_mean=1,
    workers=workers,
    epochs=num_iter,
    compute_loss=True,
    callbacks=[callback()]
)
model.get_latest_training_loss()
model.save(f"../../../lm-vol/3_10_unqiue_Pikachu_100_epochs_window_2_word2vec.model")
model.wv.save(f"../../../lm-vol/3_10_unqiue_Pikachu_100_epochs_window_2_word2vec.wordvectors")

Loss after epoch 0: 790384.125
Loss after epoch 1: 550495.375
Loss after epoch 2: 474800.375
Loss after epoch 3: 427673.125
Loss after epoch 4: 392094.75
Loss after epoch 5: 378686.75
Loss after epoch 6: 346375.0
Loss after epoch 7: 365554.75
Loss after epoch 8: 334668.75
Loss after epoch 9: 337984.0
Loss after epoch 10: 330255.0
Loss after epoch 11: 326218.0
Loss after epoch 12: 323800.0
Loss after epoch 13: 323747.0
Loss after epoch 14: 312380.0
Loss after epoch 15: 312125.5
Loss after epoch 16: 312429.0
Loss after epoch 17: 314147.5
Loss after epoch 18: 320353.5
Loss after epoch 19: 313998.5
Loss after epoch 20: 295445.5
Loss after epoch 21: 322111.0
Loss after epoch 22: 302190.5
Loss after epoch 23: 297165.0
Loss after epoch 24: 283953.0
Loss after epoch 25: 298233.0
Loss after epoch 26: 296041.0
Loss after epoch 27: 288807.0
Loss after epoch 28: 285965.0
Loss after epoch 29: 296387.0
Loss after epoch 30: 305701.0
Loss after epoch 31: 302797.0
Loss after epoch 32: 298121.0
Loss after epoch 33: 298032.0
Loss after epoch 34: 297495.0
Loss after epoch 35: 296144.0
Loss after epoch 36: 287090.0
Loss after epoch 37: 294189.0
Loss after epoch 38: 294419.0
Loss after epoch 39: 294652.0
Loss after epoch 40: 285155.0
Loss after epoch 41: 294772.0
Loss after epoch 42: 292259.0
Loss after epoch 43: 291749.0
Loss after epoch 44: 284029.0
Loss after epoch 45: 289662.0
Loss after epoch 46: 290195.0
Loss after epoch 47: 291969.0
Loss after epoch 48: 289542.0
Loss after epoch 49: 300328.0
Loss after epoch 50: 286351.0
Loss after epoch 51: 258684.0
Loss after epoch 52: 241282.0
Loss after epoch 53: 249708.0
Loss after epoch 54: 239810.0
Loss after epoch 55: 255732.0
Loss after epoch 56: 237386.0
Loss after epoch 57: 245106.0
Loss after epoch 58: 241228.0
Loss after epoch 59: 236018.0
Loss after epoch 60: 241836.0
Loss after epoch 61: 224238.0
Loss after epoch 62: 243676.0
Loss after epoch 63: 250496.0
Loss after epoch 64: 231922.0
Loss after epoch 65: 238458.0
Loss after epoch 66: 237730.0
Loss after epoch 67: 231586.0
Loss after epoch 68: 234738.0
Loss after epoch 69: 243438.0
Loss after epoch 70: 235178.0
Loss after epoch 71: 226768.0
Loss after epoch 72: 216392.0
Loss after epoch 73: 226236.0
Loss after epoch 74: 223764.0
Loss after epoch 75: 223316.0
Loss after epoch 76: 220280.0
Loss after epoch 77: 226032.0
Loss after epoch 78: 213172.0
Loss after epoch 79: 224046.0
Loss after epoch 80: 225338.0
Loss after epoch 81: 222790.0
Loss after epoch 82: 223470.0
Loss after epoch 83: 213322.0
Loss after epoch 84: 213828.0
Loss after epoch 85: 213584.0
Loss after epoch 86: 211288.0
Loss after epoch 87: 218304.0
Loss after epoch 88: 216426.0
Loss after epoch 89: 216188.0
Loss after epoch 90: 214196.0
Loss after epoch 91: 206630.0
Loss after epoch 92: 206908.0
Loss after epoch 93: 210748.0
Loss after epoch 94: 209006.0
Loss after epoch 95: 207630.0
Loss after epoch 96: 197872.0
Loss after epoch 97: 198040.0
Loss after epoch 98: 204072.0
Loss after epoch 99: 204720.0

In [22]:
import gensim
from gensim.models import KeyedVectors
from stellargraph.data import EdgeSplitter
import networkx as nx
from sklearn.linear_model import LogisticRegressionCV
import pandas as pd
import pickle

In [62]:
model = gensim.models.Word2Vec.load("../../../lm-vol/3_10_unqiue_Pikachu_100_epochs_window_2_word2vec.model")
wv = KeyedVectors.load('../../../lm-vol/3_10_unqiue_Pikachu_100_epochs_window_2_word2vec.wordvectors', mmap='r')

In [63]:
def operator_hadamard(u, v):
    return u * v
node_embeddings = (wv.vectors) 
# Define an edge splitter on the original graph:
edge_splitter_test = EdgeSplitter(train_G)

# Randomly sample a fraction p=0.1 of all positive links, and same number of negative links, from graph, and obtain the
# reduced graph graph_test with the sampled links removed:
graph_test, edges_train, labels_train = edge_splitter_test.train_test_split(
    p=0.99, method="global"
)
training_edges = [operator_hadamard(wv[edge[0]], wv[edge[1]]) for edge in edges_train]

** Sampled 563433 positive and 563433 negative edges. **

In [64]:
clf = LogisticRegressionCV(cv=5, max_iter=5000, random_state=0).fit(training_edges, labels_train)
clf.score(training_edges, labels_train)

0.827406275457774

In [27]:
p_u_red_df

    source user@domain source computer destination computer  Count src_user
0           U1025@DOM1          C17693                C1046      3    U1025
1           U1025@DOM1          C17693                 C338      2    U1025
2           U1025@DOM1          C17693                C3597      1    U1025
3         U10379@C3521          C17693                C3521      2   U10379
4           U1048@DOM1          C17693               C12320      2    U1048
..                 ...             ...                  ...    ...      ...
428         U9947@DOM1          C17693                 C853      3    U9947
429         U9947@DOM1          C17693                 C923      1    U9947
430          U995@DOM1          C17693                C1014      2     U995
431          U995@DOM1          C17693                C2058      1     U995
432          U995@DOM1          C17693                C3173      1     U995

[433 rows x 5 columns]

In [28]:
graph_structure = ('source user@domain', 'source computer', 'destination computer')
red_G = nx.Graph()
for index, row in p_u_red_df.iterrows():
    user_node = row[graph_structure[0]]
    ip_node = row[graph_structure[1]]
    service_node = row[graph_structure[2]]
    red_G.add_nodes_from([ip_node, service_node, user_node])
    red_G.add_edge(ip_node, user_node)
    red_G.add_edge(ip_node, service_node)

In [57]:
count = 0
for index, edge in enumerate(red_G.edges):
    try:
        src = wv[edge[0]]
        dest = wv[edge[1]]
        src_to_dest = operator_hadamard(src, dest)
        prob = clf.predict_proba([src_to_dest])
        if prob[0][1] < 0.1:
            count+=1
    except:
        print(None)
print(count)

None
None
None
None
None
None
None
48

In [61]:
p_u_train_df[p_u_train_df['source computer'] == 'C17693']

        source user@domain destination computer source computer src_user
223071           U748@DOM1                C3007          C17693     U748
229147          U8350@DOM1                 C529          C17693    U8350
230848          U8350@DOM1                 C467          C17693    U8350
237566           U748@DOM1                C3644          C17693     U748
263243           U748@DOM1                C5252          C17693     U748
267347           U748@DOM1                 C504          C17693     U748
280855           U748@DOM1                C1973          C17693     U748
282101          U1723@DOM1                C2742          C17693    U1723
282561           U748@DOM1                 C148          C17693     U748
283410           U748@DOM1                C2651          C17693     U748
284206          U1681@DOM1                C1770          C17693    U1681
284256          U1681@DOM1                C1679          C17693    U1681
284765          U1723@DOM1                C2651          C17693    U1723
285064          U1723@DOM1                 C231          C17693    U1723
287365          U1723@DOM1                C1759          C17693    U1723
287472          U1723@DOM1                C1003          C17693    U1723
618116            U86@DOM1                 C395          C17693      U86
649067          U6129@DOM1               C17931          C17693    U6129
660995          U8168@C685                 C685          C17693    U8168
661745           U679@DOM1                C1980          C17693     U679
663196         U8777@C1234                C1234          C17693    U8777
663206         U8777@C1703                C1703          C17693    U8777
663260           U679@DOM1                C1703          C17693     U679
663444           U679@DOM1                C3953          C17693     U679
663640         U8777@C3997                C3997          C17693    U8777
663694         U8777@C3388                C3388          C17693    U8777
665053         U8777@C2706                C2706          C17693    U8777
665061         U8777@C1870                C1870          C17693    U8777
665065         U8777@C1149                C1149          C17693    U8777
665283         U8777@C1500                C1500          C17693    U8777
665670            U24@DOM1                C3435          C17693      U24
667403            U66@DOM1                 C977          C17693      U66
667408           U513@DOM1                 C977          C17693     U513
667623            U66@DOM1                C1790          C17693      U66
667649          U7311@DOM1                 C977          C17693    U7311
667651            U66@DOM1                C1152          C17693      U66
667930            U66@DOM1                 C370          C17693      U66
667963          U8840@DOM1                 C370          C17693    U8840
668185          U1089@DOM1                 C370          C17693    U1089
668282          U7507@DOM1                 C486          C17693    U7507
668283            U66@DOM1                C1703          C17693      U66
668288          U7507@DOM1                C1015          C17693    U7507
668320           U415@DOM1                 C486          C17693     U415
668779           U339@DOM1                C1269          C17693     U339
668808           U339@DOM1                C5675          C17693     U339
668824          U1506@DOM1                C1269          C17693    U1506
668829          U8170@DOM1                C1269          C17693    U8170
668933           U524@DOM1                  C15          C17693     U524
669234           U540@DOM1                C1980          C17693     U540
669268          U1306@DOM1                 C791          C17693    U1306
669318         U11528@C791                 C791          C17693   U11528
840924           U655@DOM1                 C828          C17693     U655
840925          U9263@DOM1                 C828          C17693    U9263
1062334         U6896@DOM1                 C457          C17693    U6896
1062358        U10597@DOM1                 C457          C17693   U10597
1301286          U349@DOM1                C3601          C17693     U349